<div id="overlay"></div>
<div class="text-center white-background" id="{{include.id}}">
  <img
    srcset="{{include.img-1x}} 1x, {{include.img-2x}} 2x"
    alt="{{include.title}}"
    class="popup-status-image ztna-margin-bottom-30-20"
  />
  <p class="h2 dark-text ztna-margin-bottom-20-10">{{include.title}}</p>
  <p class="ztna-small-text light-text-1 ztna-margin-bottom-30-20">
    {{include.description}}
  </p>
  <button
    type="button"
    autofocus
    class="button light-blue-background-1 white ztna-h4"
    id="close-popup"
  >
    {{include.CTA}}
  </button>
</div>
