
   
{% assign paginator_title = 'Pagination' %}
{% if page.paginate.title_label %}
{% assign paginator_title = page.paginate.title_label %}
{% endif %}

{% assign page_amount = 7 %}
{% if page.paginate.page_amount %}
{% assign page_amount = page.paginate.page_amount %}
{% endif %}

{% assign page_amountmin = page_amount | minus: 2 %}
{% assign offset = page_amountmin | divided_by: 2 %}
{% assign page_amountprev = paginator.page | minus: offset %}
{% assign page_amountnext = paginator.page | plus: offset %}
{% assign totalpages = paginator.total_pages %}

{% if page_amountprev <= 1 %}
{% assign page_amountprevfix = page_amountprev | minus: 1 %}
{% assign page_amountprev = 0 %}
{% assign page_amountnext = page_amountnext | minus: page_amountprevfix | plus: 1 %}
{% endif %}

{% if page_amountnext >= totalpages %}
{% assign page_amountnextfix = totalpages | minus: page_amountnext | minus: 1 %}
{% assign page_amountnext = totalpages %}
{% assign page_amountprev = page_amountprev | plus: page_amountnextfix %}
{% endif %}

{% assign dots_prev = page_amountprev | minus: 1 %}
{% assign dots_next = totalpages | minus: 1 %}
{% assign max_next = totalpages | minus: offset | minus: 1 %}

{% if totalpages > page_amount %}
{% for count in (2..paginator.total_pages) %}
{% if count == dots_prev  %}
{% assign indicator_first = ' pages-indicator--active' %}
{% endif %}
{% if count == dots_next and paginator.page < max_next %}
{% assign indicator_last = ' pages-indicator--active' %}
{% endif %}
{% if forloop.first %}
{% assign relative_first = paginator.page | minus: forloop.index | divided_by: 1 %}
{% endif %}
{% if forloop.last %}
{% assign relative_last = paginator.page | minus: forloop.index | replace: '-', '' | divided_by: 1 | plus: 1 %}
{% endif %}
{% endfor %}
{% endif %}

<p id="pagination-label" class="pagination-label sr-only" aria-hidden="true">{{ paginator_title }}</p>

<ul class="pagination" role="navigation" aria-labelledby="pagination-label">

    {% if paginator.previous_page %}
    <li class=" previous">
        {% if paginator.previous_page == 1 %}
        <a class="pagination-item ztna-small-button white-background" href="{{ page.paginate.root }}" rel="prev">
            <img src="/assets/icons/left-arrow.svg">
            <span class="sr-only"> page</span></a>
        {% else %}
        <a class="pagination-item" href="{{ paginator.previous_page_path }}" rel="prev">previous<span class="sr-only"> page</span></a>
        {% endif %}
    </li>
    {% endif %}

    {% unless paginator.page == 1 %}
    <li class=" first">
        <a class="pagination-item ztna-small-button white-background" href="{{ page.paginate.root }}"><span class="sr-only">page </span>1</a>
    </li>
    <li class="pages-indicator{{ indicator_first }} pages-indicator--offset-{{ relative_first }}"><span aria-hidden="true">...</span><span class="sr-only">Skipped pages indicator</span></li>
    {% else %}
    <li class=" current-page">
        <span class="pagination-item ztna-small-button white-background first">
            <span class="sr-only">current page</span>
            <span aria-hidden="true" class="ztna-small-text">1</span>
        </span>
    </li>
    {% endunless %}

    {% for count in (2..paginator.total_pages) %}
    {% if count >= page_amountprev and count <= page_amountnext %}
    {% assign relative_to_current = paginator.page | minus: count | replace: '-', '' | divided_by: 1 %}
    {% unless count == totalpages %}
    <li class=" offset-{{relative_to_current}}{% if count == paginator.page %} current-page{% endif %}">
        {% if count == paginator.page %}
        <span class="pagination-item">
            <span class="sr-only">current page</span>
            <span aria-hidden="true" class="ztna-small-text">{{ count }}</span>
        </span>
        {% else %}
        <a class="pagination-item" href="{{ page.paginate.root | append: '/blogs/index/page' |  append: '/' | append: count | append: /index.html/' | replace: '//', '/' }}">
            <span class="sr-only">page </span>{{ count }}</a>
        {% endif %}
    </li>
    {% endunless %}
    {% endif %}
    {% endfor %}

    {% unless paginator.page == totalpages %}
    <li class="pages-indicator{{ indicator_last }} pages-indicator--offset-{{ relative_last }}">
        <span aria-hidden="true" class="ztna-small-text">...</span>
        <span class="sr-only">Skipped pages indicator</span>
    </li>
    <li class=" last">
        <a class="pagination-item  ztna-small-button white-background" href="{{ page.paginate.root | append: '/blogs/index/page' | append: '/' | append: totalpages |  append: '/index.html/' | replace: '//', '/' }}">
            <span class="sr-only">page </span>
            {{ totalpages }}
        </a>
    </li>
    {% else %}
    <li class=" last current-page">
        <span class="pagination-item ztna-small-button white-background ">
            <span class="sr-only">current page</span>
            <span aria-hidden="true" class="ztna-small-text">{{ totalpages }}</span>
        </span>
    </li>
    {% endunless %}

    {% if paginator.next_page %}
    <li class="next  ">
        <a class="pagination-item ztna-small-button white-background" href="{{ paginator.next_page_path }}" rel="next">
            <img src="/assets/icons/pagination-right-arrow.svg">
            <span class="sr-only"> page</span></a>
    </li>
    {% endif %}
</ul>
