<div class="space30 d-block d-md-none"></div>
<div class="pagination text-center">
    {% if paginator.total_pages > 1 %}
    
      {% if paginator.previous_page %}
     
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
          &lt;
        </a>
     
      {% endif %}
      <!-- {% for page in paginator.total_pages %} -->
      
      <p> {{paginator.total_pages}} </p>
      
      <!-- {% endfor %} -->
      {% if paginator.next_page %}
     
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
          &gt; 
        </a>
 
      {% endif %}

    {% endif %}
    
    
    
    
</div>
<!-- /.pagination -->