<footer
  class="container-fluid pb-60-30 dark-text-background px-md-40-20 pt-100-70"
>
  <div class="ztna-content-wrapper mx-auto {{include.cls}}">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-8 col-sm-6 mb-md-54-40">
        <div class="ztna-margin-bottom-30-20">
          {% include components/ztna-logo.html%}
        </div>

        {% assign description = site.data.ztna-footer.about_ZTNA %}
        <ul class="list-unstyled mb-0">
          {% for content in description.content %}
          <li>
            <p class="ztna-small-text light-text-2">{{content.text}}</p>
            <div class="space20"></div>
          </li>

          {% endfor %}
        </ul>
      </div>

      <div class="col-xl-2 col-lg-1 d-none d-lg-block"></div>

      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-md-54-40">
        {% assign community = site.data.ztna-footer.community %}
        <p class="footer-column-title">{{community.title}}</p>
        <div class="space20"></div>
        <ul class="list-unstyled mb-0">
          {% for links in community.links %}
          <li>
            <a href="{{links.url}}">
              {% include icons/{{links.icon}} cls="footer-icon" %}
              <span class="white ml-10 text-link">{{links.title}}</span>
            </a>
            <div class="space20"></div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-md-54-40">
        {% assign learn = site.data.ztna-footer.learn %}
        <p class="footer-column-title">{{learn.title}}</p>
        <div class="space20"></div>
        <ul class="list-unstyled mb-0">
          {% for link in learn.links %}
          <li>
            <a href="{{link.url}}">
              <span class="white text-link">{{link.title}}</span>
            </a>
            <div class="space20"></div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
