<nav
  class="navbar navbar-hover-opacity navbar-expand-md {% if include.extra_class %} {{include.extra_class}} {% endif %} "
>
  <div class="d-flex mx-auto justify-content-between ztna-nav">
  {% if include.dark_logo %}
  <a href="{{site.baseurl}}" class="ztna-dark-logo"></a>

  {% else %}
  <a href="{{site.baseurll}}" class="ztna-logo"></a>
  {% endif %}

  <div class="navbar-nav" data-sm-skip="true">
    <li class="nav-item">
      <div class="navbar-hamburger d-lg-none d-xl-none d-md-none mr-20 mt-20">
        <button class="hamburger animate plain" data-toggle="offcanvas-nav">
          <span></span>
        </button>
      </div>
    </li>
  </div>

  <div
    class="navbar-collapse offcanvas-nav align-self-center justify-content-end mobile-bg pl-md-40"
  >
    <div class="offcanvas-header d-lg-none d-xl-none d-md-none">
      <button
        class="plain offcanvas-close offcanvas-nav-close icon-hover white"
      >
        <i class="jam jam-close"></i>
      </button>
    </div>

    <ul class="navbar-nav menu align-items-lg-center align-items-md-start">
      {% for menu in site.data.navigation.main_menu %}

      <li
        class="ztna-nav-item mr-60-40 mb-md-50 {% if menu.text == 'Github' and include.hide_github %} ztna-hidden {% endif %}"
      >
        <a class="nav-link d-flex align-items-center" href="{{menu.url}}"
          >{% include icons/{{menu.icon}} cls="nav-link mobile-menu-items-fill"
          %}
          <span class="text-link ml-10 {% if include.dark_logo %} mobile-menu-items-color {% endif %}"
            >{{menu.text}}</span
          >
        </a>
      </li>

      {% endfor %}
      <li class="ztna-nav-item">
        <button class="plain nav-link nav-link d-flex align-items-center" data-toggle="offcanvas-info">
          {% include icons/info-header-icon.svg cls="nav-link
          mobile-menu-items-fill" %}
          <span
            class="h4 ml-10 text-link {% if include.dark_logo %} mobile-menu-items-color {% endif %}"
            >Info</span
          >
        </button>
      </li>
    </ul>
    <!-- /.navbar-nav -->

    <!-- /.navbar-collapse -->
    <!-- </div> -->
    <!-- /.container-fluid -->
  </div>
</nav>
<!-- /.navbar -->
<div
  class="offcanvas-info flyout-background fly-out-bg"
  style="
background-image: -webkit-image-set(
    url({{site.data.ztna-header.fly-out-bg}}) 1x,
    url({{site.data.ztna-header.fly-out-bg-2x}}) 2x
  );
  background-image: image-set(
    url({{site.data.ztna-header.fly-out-bg}}) 1x,
    url({{site.data.ztna-header.fly-out-bg-2x}}) 2x
  );
"
>
  <button
    class="plain offcanvas-close offcanvas-info-close white icon-hover"
  >
    <i class="jam jam-close"></i>
  </button>
  <a href="{{site.url}}">
    <img
      srcset="
        {{site.data.general_settings.enclave_logo_light_1x}} 1x,
        {{site.data.general_settings.enclave_logo_light_2x}} 2x
      "
      class="{% if include.logo_class %} {{include.logo_class}} {% else %} logo-light fly-out-logo{% endif %}"
      alt="{{site.data.general_settings.title}}"
    />
  </a>
  <div class="space30"></div>
  {% assign description = site.data.general_settings.description %}
  <ul class="list-unstyled mb-0">
    {% for content in description %}
    <li class="ztna-margin-bottom-20">
      <p class="ztna-small-text white">{{content.text}}</p>
    </li>
    {% endfor %}
  </ul>
  <div class="space10"></div>
  <hr class="post-divider" />
  <div class="space30"></div>
  <a href="https://enclave.io/" class="button-link white">
    <div
      class="ztna-small-button-static light-blue-1-background  h4 justify-content-center"
    >
      {%include icons/web-header-icon.svg cls="white-fill"%} Visit website
    </div>
  </a>
  <div class="space10"></div>
  <a href="#" class="button-link white">
    <div
      class="ztna-small-button-static light-blue-1-background h4 justify-content-center"
    >
      {%include icons/github.svg cls="white-fill"%} Visit
      github
    </div>
  </a>
  <div class="space40"></div>
</div>
<!-- /.offcanvas-info -->
