{% assign popup = site.data.popups.ok%} {%include components/popup.html
id=popup.id title=popup.title description=popup.description
img-1x=popup.status_img_1x img-2x=popup.status_img_2x CTA=popup.button_CTA %}

{% assign popupSuccess = site.data.popups.success%} {%include components/popup.html
    id=popupSuccess.id title=popupSuccess.title description=popupSuccess.description
    img-1x=popupSuccess.status_img_1x img-2x=popupSuccess.status_img_2x CTA=popupSuccess.button_CTA %}
    img-1x=popupSuccess.status_img_1x img-2x=popupSuccess.status_img_2x CTA=popupSuccess.button_CTA %}
