<div class="ztna-post-wrapper">
  <div class="ztna-margin-bottom-20">
    <a href="{{post.url}}">
      <img
        class="ztna-post-image"
        src="{{post.post_image}}"
        alt="{{post.title}}"
      />
    </a>
  </div>
  <a
    href="/category/{{post.categories[0] | slugify}}"
    class="ztna-tag-small background-color ztna-margin-bottom-10 ztna-small-text light-text-1"
  >
    {{post.categories[0]}}
  </a>
  <a href="{{post.url}}">
    <h3 class="dark-text ztna-margin-bottom-20">{{post.title}}</h3>
  </a>
  <div class="ztna-post-ui">
    <a
      class="ztna-small-button-right white-background light-blue-1 h4"
      href="{{post.url}}"
    >
      Read
      <img
        src="/assets/icons/right-arrow.svg"
        alt="svg icon"
        class="ztna-margin-left-10"
      />
    </a>

    {% include components/post-date.html%}
  </div>
</div>
