
<div> 
    <div class="ztna-post-image ztna-margin-bottom-20" style="background-image: url({{post.post_image}})"></div>
    <div class="ztna-tag-small background-color ztna-margin-bottom-10">
        <a href="/category/{{post.categories[0] | slugify}}" class="ztna-small-text light-text-1">{{post.categories[0]}}</a>
    </div>
    <h4 class="ztna-margin-bottom-20"> {{post.title}} </h4>
    <div class="ztna-post-ui">
        
        <div class="ztna-small-button white-background light-blue-1 h4">
            <a href="{{post.url}}">
                Read
                <img src = "/assets/icons/right-arrow.svg" alt="svg icon" class="ztna-margin-left-10"/>
            </a>
        </div>
        
       {% include components/post-date.html%}
    </div>
</div>