{% assign content = site.data.components.ztna-recent-posts%}
<div class="popular-post-wrapper"> 
    <h3 class="dark-text">{{content.title}}</h3>
    <div class="space30"></div>
    <ul class="popular-post-list">
        {% for post in site.posts limit: "3" %}
        <li>
            <div class="post-meta">
              <a class="ztna-small-text light-text-1" href="/category/{{post.categories[0] | slugify}}">
                <div class="ztna-tag-small white-background">
                  {{post.categories[0]}}
                </div>
              </a>
            
            {% include components/post-date.html %}
        </div>
        <div class="space10"></div>
        <a href="{{post.url}}">
            <h4 class="dark-text"> 
              {{post.title}}
            </h4>
          </a> 
            <div class="space20"></div>
          <hr class="post-divider">
          <div class="space20"></div>
        </li>
        {% endfor %}
</div>




  