{% assign content = site.data.components.ztna-subscribe%}
<div class="subscription-wrapper">
  <h3 class="dark-text">{{content.title}}</h3>
  <div class="space10"></div>
  <p class="ztna-small-text ztna-margin-bottom-30-12">{{content.text}}</p>

  {% include components/input.html cls="ztna-small-text dark-text
  white-background ztna-input-light"%}
  <div class="space20"></div>
  <button
    class="ztna-button light-blue-background-1 white ztna-h4"
    id="subscription"
  >
    {{content.button_text}}
  </button>
</div>
