
{% assign content = site.data.components.ztna-subscribe%}
<div class="subscription-wrapper"> 
    <h3 class="dark-text">{{content.title}}</h3>
    <div class="space10"></div>
    <p class="ztna-small-text">{{content.text}}</p>
    <div class="space30"></div>
    <input type="email" name="" id="" placeholder="Email" class="ztna-small-text light-text-2 white-background">
    <div class="space20"></div>
    <button class="ztna-button light-blue-background-1 white ztna-h4">{{content.button_text}}</button>
</div>