---
layout: ztna-page
title: "Blog"
sub_title: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard."
black_menu: true
pagination:
  enabled: true
  per_page: 4
permalink: "/blog/"
---

<div class="row mx-0">
  {% for post in site.posts %} {% if post.recommended %} {% include
  components/recommended-post.html %} {% endif%} {% endfor %}
</div>

<div class="row mr-md-25-5 ml-md-25-5 mb-100-70">
  {% for post in paginator.posts %}
  <div class="col-md-6 col-sm-6">
    {% include components/post-preview.html cls="mb-70-50" %}
  </div>
  {% endfor %} {% include pagination.html %}
</div>
