---
layout: page
title: "Boxed Classic Blog"
sub_title: "Aenean lacinia bibendum nulla sed consectetur"
black_menu: true
pagination:
  enabled: true
  per_page: 7
permalink: "/blogs/index-7"
---

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="blog classic-view boxed">
          {% for post in paginator.posts %}
          {% assign post_format = post.post_format %}
          {% case post_format %}
          {% when "general" %}
            {% include standard_post.html %}
          {% when "gallery" %}
            {% include gallery_post.html %}
          {% when "carousel" %}
            {% include carousel_post.html %}
          {% when "video" %}
            {% include video_post.html %}
          {% else %}
          {% include standard_post.html %}
          {% endcase %}
          {% endfor %}
        </div>
        <!-- /.blog -->
        {% include pagination.html %}
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
</div>