.recommended-post-wrapper {
  position: relative;
  max-width: 760px;
  width: 100%;

  a:hover {
    text-decoration: none;
  }

  div.ztna-tag-large {
    &:hover {
      @extend .green;
      cursor: default;
    }
  }
}

.ztna-recomended-post-image {
  width: 100%;
  height: 450px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recomended-label {
  position: absolute;
  top: 3%;
  right: 4.5%;
}

@media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
  .recommended-post-wrapper {
    max-width: 100%;
  }

  .ztna-recomended-post-image {
    height: 370px;
  }

  .recomended-label {
    right: 7%;
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  .ztna-recomended-post-image {
    height: 180px;
  }
}
