---
layout: page
title: "Our Services"
sub_title: "Creating quality products that make your life easier"
header_image: "/assets/images/art/bg5.jpg"
white_menu: true

services_area: 
  enable: true
  title: "What We Do?"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  services:

    - title: "24/7 Support"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "icofont-headphone-alt"
      icon_style: "icon-blob-rose color-rose"
  
    - title: "Secure Payments"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "icofont-safety"
      icon_style: "icon-blob-blue color-blue"
  
    - title: "Daily Updates"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "icofont-refresh"
      icon_style: "icon-blob-green color-green"
  
    - title: "Research & Marketing"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "icofont-chart-arrows-axis"
      icon_style: "icon-blob-purple color-purple"
  
    - title: "System Integration"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "icofont-gear"
      icon_style: "icon-blob-orange color-orange"
  
    - title: "SEO Service"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "icofont-earth"
      icon_style: "icon-blob-violet color-violet"

video_area:
  enable: true
  title: "Our Process"
  sub_title: "Find out everything you need to know about creating a business process."
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"
  image_url: "/assets/images/art/about5.jpg"
  description: |
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio.
  projects:

    - projects_number: "7518"
      title: "Completed Projects"
  
    - projects_number: "3472"
      title: "Satisfied Customers"
  
    - projects_number: "523"
      title: "Awards Won"

how_it_works:
  enable: true
  title: "How it Works?"
  sub_title: "We bring solutions to make life easier for our customers"
  image: "/assets/images/concept/concept1@2x.png"
  steps:

    - title: "24/7 Support"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon_style: "icon-blob-blue color-blue"
      icon: "icofont-cubes"
  
    - title: "Secure Payments"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon_style: "icon-blob-teal color-teal"
      icon: "icofont-chart-arrows-axis"
  
    - title: "Daily Updates"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon_style: "icon-blob-yellow color-yellow"
      icon: "icofont-brush"


testimonials:
  enable: true
  bg_image: "/assets/images/art/bg5.jpg"
  title: "Customer Stories"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: "We offer great prices, premium products and quality service for your business."
  pricing_url: "#"
  pricing_text: "See All Prices"
  description: |
    "Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"


contact_area:
  enable: true
  title: "Let's Talk"
  sub_title: "Let's make something great together. If you got any questions, don't hesitate to get in touch with us."
  image: "/assets/images/concept/concept2@2x.png"
  description: |
    "Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur."
  btn_one_text: "Get Started"
  btn_one_url: "#"
  btn_two_text: "Contact Us"
  btn_two_url: "#"
      
---

{% if page.services_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-md-7 mx-auto">
       {% if page.services_area.title %}
         <h2 class="title-color color-gray text-center">{{page.services_area.title}}</h2>
       {% endif %}
       {% if page.services_area.sub_title %}
         <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
       {% endif %}
       <div class="space40"></div>
      </div>
    </div>
    <div class="row gutter-50">
      {% for services in page.services_area.services %}
      <div class="space20 d-none d-md-block d-lg-none"></div>
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob {{services.icon_style}} mr-25">
             <i class="{{services.icon}}"></i> 
            </div>
          </div>
          <div>
            <h5>{{services.title}}</h5>
            <p>{{services.description}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /.wrapper -->
{% endif %}

{% if page.video_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      <div class="col-lg-6 play-wrapper light-gallery-wrapper text-center">
        {% if page.video_area.image_url %}
        <div class="img-blob blob7">
          <img src="{{page.video_area.image_url }}" style="width: 30rem" alt="{{page.video_area.title}}"/>
        </div>
        {% endif %}
        {% if page.video_area.video_url %}
         <a href="{{page.video_area.video_url}}" class="btn-play lightbox"></a>
        {% endif %}
      </div>
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.video_area.title %}
         <h2 class="title-color color-gray">{{page.video_area.title}}</h2>
        {% endif %}
        {% if page.video_area.sub_title %}
         <h3 class="display-3">{{page.video_area.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        <p>{{page.video_area.description}}</p>
        <div class="space20"></div>
        <div class="row counter">
          {% for project in page.video_area.projects %}
          <div class="col-md-4">
            <h3 class="value">{{project.projects_number}}</h3>
            <p>{{project.title}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.wrapper -->
{% endif %}

{% if page.how_it_works.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      {% if page.how_it_works.image %}
      <div class="col-lg-6 order-lg-2">
        <figure><img src="{{page.how_it_works.image}}" alt="{{page.how_it_works.title}}"/></figure>
      </div>
      {% endif %}
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pr-60 pr-md-15">
        <h2 class="title-color color-gray">{{page.how_it_works.title}}</h2>
        <h3 class="display-3">{{page.how_it_works.sub_title}}</h3>
        {% for step in page.how_it_works.steps %}
        <div class="space30"></div>
        <div class="d-flex flex-row justify-content-center">
          <div>
            <span class="icon icon-blob {{step.icon_style}} mr-25">
              <i class="{{step.icon}}"></i><span class="step bg-blue">{{forloop.index}}</span>
            </span>
          </div>
          <div>
            <h5>{{step.title}}</h5>
            <p class="mb-0">{{step.description}}</p>
          </div>
         </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.testimonials.enable %}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.testimonials.bg_image}}">
  <div class="container inner pt-100">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% if page.testimonials.title %}
         <h2 class="title-color color-white text-center mb-30">{{page.testimonials.title}}</h2>
        {% endif %}
        <div class="basic-slider owl-carousel gap-small text-center mb-0" data-margin="30">
          {% for feedback in page.testimonials.feedback %}
          <div class="item">
            <blockquote class="icon larger">
              <p>"{{feedback.quote}}"</p>
              <div class="blockquote-details justify-content-center">
                <div class="img-blob blob1">
                  <img src="{{feedback.image}}" alt="{{feedback.name}}" />
                </div>
                <div class="info">
                  <h6 class="mb-0">{{feedback.name}}</h6>
                  <span class="meta mb-0">{{feedback.designation}}</span>
                </div>
              </div>
            </blockquote>
          </div>
          {% endfor %}
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    {% assign pricing_data = page.pricing_table %}
    {% if pricing_data.enable %}
    <div class="row">
      <div class="col-lg-5 pr-50 pr-md-15">
        <h2 class="title-color color-gray">{{pricing_data.title}}</h2>
        <h3 class="display-3">{{pricing_data.sub_title}}</h3>
        <div class="space20"></div>
        <p>{{pricing_data.description}}</p>
        <div class="space10"></div>
        {% if pricing_data.pricing_url %}
         <a href="{{pricing_data.pricing_url}}" class="btn">{{pricing_data.pricing_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
      <div class="space70 d-none d-md-block d-lg-none"></div>
      <div class="space20 d-md-none"></div>
      <div class="col-lg-7">
        <div class="pricing-wrapper">
          <div class="row no-gutters">
            {% for pricing in pricing_data.plans %}
            <div class="col-md-6">
              <div class="pricing panel box bg-white shadow">
                <div class="panel-heading">
                  <div class="prices color-dark">
                    <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                  </div>
                  <h4 class="panel-title mb-0">{{pricing.title}}</h4>
                </div>
                <!--/.panel-heading -->
                <div class="panel-body">
                  <table class="table">
                    {% for features in pricing.features %}
                      <tr>
                         <td>{{features}}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
                <!--/.panel-body -->
                <div class="panel-footer">
                  <a href="{{pricing.pricing_url}}" class="btn" role="button">{{pricing.button_text}}</a>
                </div>
              </div>
              <!--/.pricing -->
            </div>
            <!--/column -->
           {% endfor %}
          </div>
          <!--/.row -->
        </div>
        <!--/.pricing-wrapper -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
   {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% if page.contact_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      {% if page.contact_area.image %}
      <div class="col-lg-6">
        <figure><img src="{{page.contact_area.image}}" alt="{{page.contact_area.title}}"/></figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="space10 d-md-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.contact_area.title %}
         <h2 class="title-color color-gray">{{page.contact_area.title}}</h2>
        {% endif %}
        {% if page.contact_area.sub_title %}
         <h3 class="display-3">{{ page.contact_area.sub_title }}</h3>
        {% endif %}
        <div class="space20"></div>
        {% if  page.contact_area.description %}
         <p>{{page.contact_area.description}}</p>
        <div class="space10"></div>
        {% endif %}
        {% if page.contact_area.btn_one_text %}
         <a href="{{page.contact_area.btn_one_url}}" class="btn">{{page.contact_area.btn_one_text}}</a>
        {% endif %}
        {% if page.contact_area.btn_two_text %}
         <a href="{{page.contact_area.btn_two_url}}" class="btn btn-sky">{{page.contact_area.btn_two_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>
{% endif %}