---
layout: page
title: "Our Services"
sub_title: "Creating quality products that make your life easier"
header_image: "/assets/images/art/bg8.jpg"
white_menu: true

screenshot_area:
  enable: true
  image: "/assets/images/art/ui5.png"
  title: "screenshot title"

clients_carousel:
  enable: true
  title: "Trusted by over 50000 clients"
  gallery:
    - image: "/assets/images/art/z1.svg"
    - image: "/assets/images/art/z2.svg"
    - image: "/assets/images/art/z3.svg"
    - image: "/assets/images/art/z4.svg"
    - image: "/assets/images/art/z5.svg"
    - image: "/assets/images/art/z6.svg"
    - image: "/assets/images/art/z7.svg"
    - image: "/assets/images/art/z8.svg"

features_tab:
  enable: true
  title: "Core Features"
  sub_title: |
    The full service we are offering is specifically <br class="d-none d-lg-block" />designed to meet your business needs.
  tabs_content:
    - tab_title: "Marketing Research"
      tab_sub_title: "Vestibulum ligula porta felis"
      tab_icon: "/assets/images/icons/of-diagram.png"
      tab_content_image: "/assets/images/art/ui1.png"

    - tab_title: "Secure Payments"
      tab_sub_title: "Vivamus sagittis lacus augue"
      tab_icon: "/assets/images/icons/st-payment-method.png"
      tab_content_image: "/assets/images/art/ui2.png"

    - tab_title: "Daily Updates"
      tab_sub_title: "Duis mollis commodo luctus"
      tab_icon: "/assets/images/icons/ms-cloud-computing.png"
      tab_content_image: "/assets/images/art/ui3.png"

    - tab_title: "System Integration"
      tab_sub_title: "Etiam porta sem malesuada"
      tab_icon: "/assets/images/icons/sm-setting.png"
      tab_content_image: "/assets/images/art/ui4.png"

company_progress:
  enable: true
  title: "Company Progress"
  bg_image: "/assets/images/art/bg8.jpg"
  progress_info:

    - value: "75"
      title: "New Visitors"
      sub_title: "Maecenas faucibus mollis interdum. Aenean eu leo."  

    - value: "80"
      title: "Social Media"
      sub_title: "Maecenas sed diam eget risus varius blandit sit amet non."  

    - value: "60"
      title: "Referrals"
      sub_title: "Donec ullamcorper nulla non metus auctor fringilla."  

    - value: "90"
      title: "Search Engines"
      sub_title: "Aenean eu leo quam. Pellentesque ornare lacinia."

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: |
    We offer great prices, premium products <br class="d-none d-lg-block" />and quality service for your business.'
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      yearly_price: 99
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      yearly_price: 199
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Corporate Plan"
      monthly_price: 49
      yearly_price: 499
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-online-shop.png"
      features:
        - "<strong>49</strong> Project"
        - "<strong>300K</strong> API Access"
        - "<strong>500MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

contact_area:
  enable: true
  title: "Contact Us"
  image: "/assets/images/art/map.png"
  sub_title: |
    Convinced yet? Let's make something great together. <br class="d-none d-lg-block">If you got any questions, don't hesitate to get in touch with us.
  contact_data:
    - icon: "/assets/images/icons/ui-gps.png"
      info: "Moon Street Light Avenue<br> 14/05 Jupiter, JP 80630"

    - icon: "/assets/images/icons/co-telephone.png"
      info: "00 (123) 456 78 90<br/> 00 (987) 654 32 10"

    - icon: "/assets/images/icons/co-email-5.png"
      email_01: "manager@email.com"
      email_02: "asistant@email.com"

---

<div class="content-wrapper">
  <div class="wrapper overflow-top">
    <div class="container inner">
      {% if page.screenshot_area.enable %}
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <figure class="shadow">
            <img src="{{page.screenshot_area.image}}" alt="{{page.screenshot_area.title}}"/>
          </figure>
        </div>
        <!-- /column -->
      </div>
      <div class="space140"></div>
      {% endif %}
      <!-- /.row -->
      {% if page.clients_carousel.enable %}
      <h2 class="title-color color-gray text-center">{{page.clients_carousel.title}}</h2>
      <div class="space20"></div>
      <div class="carousel owl-carousel clients" data-margin="30" data-loop="true" data-dots="false" data-autoplay="true" data-autoplay-timeout="3000" data-responsive='{"0":{"items": "2"}, "768":{"items": "4"}, "992":{"items": "5"}, "1140":{"items": "6"}}'>
        {% for images in page.clients_carousel.gallery %}
         <div class="item pl-15 pr-15">
            <img src="{{images.image}}" alt="{{images.image}}"/>
         </div>
        {% endfor %}
      </div>
      <!-- /.owl-carousel -->
      {% endif %}
      {% if page.features_tab.enable %}
      <div class="space140"></div>
      <h2 class="title-color color-gray text-center">{{page.features_tab.title}}</h2>
      <h3 class="display-3 text-center">{{page.features_tab.sub_title}}</h3>
      <div class="space40"></div>
      <div class="row no-gutters">
        <div class="col-lg-4 mb-0">
          <ul class="nav nav-tabs nav-tabs-bg flex-column">
            {% for tabs_info in page.features_tab.tabs_content %}
            <li class="nav-item"> <a class="nav-link d-flex flex-row align-items-center {% if forloop.index == 1 %} active {% endif %}" data-toggle="tab" href="#tab5-{{forloop.index}}">
               {% if tabs_info.tab_icon %}
                <div class="icon icon-svg mr-25">
                  <img src="{{tabs_info.tab_icon }}" alt="{{tabs_info.tab_icon}}">
                </div>
                {% endif %}
                <div>
                  {% if tabs_info.tab_title %}
                   <span>{{tabs_info.tab_title}}</span>
                  {% endif %}
                   {% if tabs_info.tab_sub_title %}
                    <p>{{tabs_info.tab_sub_title}}</p>
                  {% endif %}
                </div>
              </a> 
            </li>
           {% endfor %}
          </ul>
          <!-- /.nav-tabs -->
        </div>
        <!--/column -->
        <div class="col-lg-7 ml-auto">
          <div class="tab-content">
            {% for tab_img in page.features_tab.tabs_content %}
            <div class="tab-pane {% if forloop.index == 1 %} show active {% endif %}" id="tab5-{{forloop.index}}">
              <figure>
                <img src="{{tab_img.tab_content_image}}" alt="{{tab_img.tab_content_image}}"/>
              </figure>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!--/.row -->
      {% endif %}
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% if page.company_progress.enable  %}
  <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.company_progress.bg_image}}">
    <div class="container inner">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-color color-white text-center">{{page.company_progress.title}}</h2>
          <div class="space20"></div>
          <div class="row text-center">
          	{% for progress in page.company_progress.progress_info %}
          	{% assign index = forloop.index %}
            <div class="col-md-6 col-lg-3">
              <div class="progressbar circle 
               {% case index %}
                {% when 1 %}
                 blue
                {% when 2 %}
                 green
                {% when 3 %}
                 red
                {% when 4 %}
                 yellow
               {% endcase %}
              " data-value="{{progress.value}}"></div>
              <h5>{{progress.title}}</h5>
              <p>{{progress.sub_title}}</p>
            </div>
            {% endfor %}
          </div>
          <!-- /.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
  {% assign pricing_data = page.pricing_table %}
  {% if pricing_data.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h2 class="title-color color-gray text-center">{{pricing_data.title}}</h2>
      <h3 class="display-3 text-center">{{pricing_data.sub_title}}</h3>
      <div class="space40"></div>
      <div class="pricing-wrapper">
        <div class="pricing-switcher-wrapper switcher">
          <div class="pricing-switchers">
            <div class="pricing-switcher pricing-switcher-active">Monthly</div>
            <div class="pricing-switcher">Yearly</div>
            <div class="switcher-button bg-default"></div>
          </div>
        </div>
        <div class="space60"></div>
        <div class="row no-gutters">
          {% for pricing in pricing_data.plans %}
          <div class="col-md-4">
            <div class="pricing panel box bg-white shadow">
              <div class="panel-heading">
                <div class="icon icon-svg mb-10"><img src="{{pricing.icon}}" alt="{{pricing.title}}"></div>
                <h4 class="panel-title mb-35">{{pricing.title}}</h4>
                <div class="prices color-dark">
                  <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                  <div class="price price-hide price-hidden"><span class="price-currency">$</span><span class="price-value">{{pricing.yearly_price}}</span> <span class="price-duration">year</span></div>
                </div>
              </div>
              <!--/.panel-heading -->
              <div class="panel-body">
                <table class="table">
                	{% for features in pricing.features %}
	                  <tr>
	                     <td>{{features}}</td>
	                  </tr>
                  {% endfor %}
                </table>
              </div>
              <!--/.panel-body -->
              <div class="panel-footer"> 
              	<a href="{{pricing.pricing_url}}" class="btn" role="button">{{pricing.button_text}}</a>
              </div>
            </div>
            <!--/.pricing -->
          </div>
         {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/.pricing-wrapper -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
  {% if page.contact_area.enable %}
  <div class="wrapper image-wrapper bg-auto no-overlay bg-image text-center" data-image-src="{{page.contact_area.image}}">
    <div class="container inner">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <h2 class="title-color color-gray text-center">{{page.contact_area.title}}</h2>
          <h3 class="display-3">{{page.contact_area.sub_title}}</h3>
          <div class="space50"></div>
          <div class="row text-center gutter-60">
          	{% for contact_data in page.contact_area.contact_data %}
            <div class="col-md-4">
             {% if contact_data.icon %}
              <div class="icon icon-svg mb-20">
              	<img src="{{contact_data.icon}}" alt="{{contact_data.icon}}"/>
              </div>
              {% endif %}
              {% if contact_data.info %}
               <p class="mb-0">{{contact_data.info}}</p>
              {% endif %}
              {% if contact_data.email_01 %}
              <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_01}}">{{contact_data.email_01}}</a></p>
              {% endif %}              
              {% if contact_data.email_02 %}
              <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_02}}">{{contact_data.email_02}}</a></p>
              {% endif %}
            </div>
            {% endfor %}
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
</div>
