---
layout: page
title: "Our Services"
sub_title: "Creating quality products that make your life easier"
header_image: "/assets/images/art/bg8.jpg"
white_menu: true

video_area:
  enable: true
  vimeo_video_id: 124071444

two_columns_area_one:
  enable: true
  image: "/assets/images/art/ui1.png"
  title: "We make your spending stress-free for you to have the perfect control"
  btn_url: "#"
  btn_text: "More Details"
  description: |
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p> <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet. Duis mollis, est non commodo.</p>

two_columns_area_two:
  enable: true
  image: "/assets/images/art/ui3.png"
  title: "We bring solutions to make life easier for our customers"
  btn_url: "#"
  btn_text: "More Details"
  description: |
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio.</p>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>

two_columns_area_three:
  enable: true
  image: "/assets/images/art/ui4.png"
  title: "Just sit back and relax while we take care of your business needs"
  btn_url: "#"
  btn_text: "More Details"
  description: |
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in egestas.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et nascetur ridiculus.</p>

clients_carousel:
  enable: true
  title: "Trusted by over 50000 clients"

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: |
    We offer great prices, premium products <br class="d-none d-lg-block" />and quality service for your business.
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Corporate Plan"
      monthly_price: 49
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-online-shop.png"
      features:
        - "<strong>49</strong> Project"
        - "<strong>300K</strong> API Access"
        - "<strong>500MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

faq_area:
  enable: true
  title: "FAQ" 
  sub_title: |
    "If you don't see an answer to your question, <br class="d-none d-lg-block" />you can send us an email from our contact form"
  faq:
  - question: "Can I cancel my subscription?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Which payment methods do you accept?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How can I manage my Account?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Is my credit card information secure?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How do I get my subscription receipt?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Are there any discounts for people in need?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Can I cancel my subscription?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Do you offer a free trial edit?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How do I reset my Account password?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."


full_width_image:
  enable: true
  image: "/assets/images/art/bg13.jpg"

---



<div class="wrapper overflow-top">
  <div class="container inner">
    {% if page.video_area.enable %}
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        {% assign id = page.video_area.vimeo_video_id %}
        <div class="player" data-plyr-provider="vimeo" data-plyr-embed-id="{{id}}"></div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    {% endif %}
    {% if page.two_columns_area_one.enable %}
    <div class="space160"></div>
    <div class="row align-items-center">
      {% if page.two_columns_area_one.image %}
      <div class="col-lg-6">
        <figure><img src="{{page.two_columns_area_one.image}}" alt="{{page.two_columns_area_one.title}}"/></figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        <h3 class="display-3">{{page.two_columns_area_one.title}}</h3>
        <div class="space20"></div>
         {{page.two_columns_area_one.description}}
        <div class="space10"></div>
        {% if page.two_columns_area_one.btn_url %}
         <a href="{{page.two_columns_area_one.btn_url}}" class="btn btn-purple">{{page.two_columns_area_one.btn_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
    {% if page.two_columns_area_two.enable %}
    <div class="space140"></div>
    <div class="row align-items-center">
      {% if page.two_columns_area_two.image %}
      <div class="col-lg-6 order-lg-2">
        <figure><img src="{{page.two_columns_area_two.image}}" alt="{{page.two_columns_area_two.title}}"/></figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div class="col-lg-6 pr-60 pr-md-15">
        <h3 class="display-3">{{page.two_columns_area_two.title}}</h3>
        <div class="space20"></div>
        {{page.two_columns_area_two.description}}
        <div class="space10"></div>
        {% if page.two_columns_area_two.btn_url %}
         <a href="{{page.two_columns_area_two.btn_url}}" class="btn btn-purple">{{page.two_columns_area_two.btn_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
    {% if page.two_columns_area_three.enable %}
    <div class="space140"></div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <figure><img src="{{page.two_columns_area_three.image}}" alt="{{page.two_columns_area_three.title}}"/></figure>
      </div>
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        <h3 class="display-3">{{page.two_columns_area_three.title}}</h3>
        <div class="space20"></div>
        {{page.two_columns_area_three.description}}
        <div class="space10"></div>
        {% if page.two_columns_area_three.btn_url %}
         <a href="{{page.two_columns_area_three.btn_url}}" class="btn btn-purple">{{page.two_columns_area_three.btn_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
    {% if page.clients_carousel.enable %}
    <div class="space140"></div>
    <h2 class="title-color color-gray text-center">{{ page.clients_carousel.title }}</h2>
    <div class="space20"></div>
    <div class="carousel owl-carousel clients" data-margin="30" data-loop="true" data-dots="false" data-autoplay="true" data-autoplay-timeout="3000" data-responsive='{"0":{"items": "2"}, "768":{"items": "4"}, "992":{"items": "5"}, "1140":{"items": "6"}}'>
      {% assign gallery = site.data.clients_carousel.gallery %}
      {% for images in gallery %}
       <div class="item pl-15 pr-15"><img src="{{images.img}}" alt="{{images.img}}"/></div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% if page.pricing_table.enable %}
<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner text-center">
    {% if page.pricing_table.title %}
     <h2 class="title-color color-white text-center">{{page.pricing_table.title}}</h2>
    {% endif %}
    {% if page.pricing_table.sub_title %}
     <h3 class="display-3 mb-0">{{page.pricing_table.sub_title}}</h3>
    {% endif %}
  </div>
  <!-- /.container -->
  <div class="space160"></div>
</div>
<!-- /.wrapper -->
{% endif %}
<div class="wrapper overflow-top">
  <div class="container inner pt-0 pb-30">
    {% if page.pricing_table.enable %}
    <div class="pricing-wrapper">
      <div class="row no-gutters">
        {% assign pricings = page.pricing_table.plans %}
        {% for pricing in pricings %}
        <div class="col-md-4 {% if forloop.index == 2 %} popular {% endif %}">
          <div class="pricing panel box bg-white shadow">
            <div class="panel-heading">
              {% if pricing.icon %}
              <div class="icon icon-svg mb-10">
                <img src="{{pricing.icon}}" alt="{{pricing.title}}"/>
              </div>
              {% endif %}
              <h4 class="panel-title mb-35">{{pricing.title}}</h4>
              <div class="prices color-dark">
                <div class="price price-show">
                  <span class="price-currency">$</span>
                  <span class="price-value">{{pricing.monthly_price}}</span> 
                  <span class="price-duration">month</span>
                </div>
              </div>
            </div>
            <!--/.panel-heading -->
            <div class="panel-body">
              <table class="table">
                {% for feature in pricing.features %}
                <tr>
                  <td>{{feature}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!--/.panel-body -->
            <div class="panel-footer">
              {% if pricing.pricing_url %}
               <a href="{{pricing.pricing_url}}" class="btn" role="button">{{pricing.button_text}}</a>
              {% endif %}
           </div>
          </div>
          <!--/.pricing -->
        </div>
        {% endfor %}
      </div>
      <!--/.row -->
    </div>
    <!--/.pricing-wrapper -->
    {% endif %}
    {% if page.faq_area.enable %}
    <div class="space160"></div>
    <h2 class="title-color color-gray text-center">{{page.faq_area.title}}</h2>
    <h3 class="display-3 text-center">
      {{page.faq_area.sub_title}}
    </h3>
    <div class="space40"></div>
    <div class="row">
      <div class="col-lg-6 mb-0">
        <div id="accordion-1" class="accordion-wrapper">
          {% for faq in page.faq_area.faq  limit: "4" %}
          <div class="card">
            <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
              <h5>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-1-{{forloop.index}}">
                 {{faq.question}}
               </button>
              </h5>
            </div>
            <div id="accordion-collapse-1-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-target="#accordion-{{forloop.index}}">
              <div class="card-body">
                <p>{{faq.answer}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <div id="accordion-2" class="accordion-wrapper">
         {% for faq in page.faq_area.faq  limit: "4" offset: "4" %}
          <div class="card shadow">
            <div class="card-header" id="accordion-heading-2-1">
              <h5>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-{{forloop.index}}">
                 {{faq.question}}
                </button>
              </h5>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-{{forloop.index}}">
              <div class="card-body">
                <p>{{faq.answer}}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          {% endfor %}
        </div>
        <!-- /.accordion-wrapper -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
  </div>
  <!-- /.container -->
  {% if page.full_width_image.enable %}
   <figure class="cover">
     <img src="{{page.full_width_image.image}}" alt="{{page.full_width_image.image}}"/>
  </figure>
  {% endif %}
</div>

