---
layout: general_page

hero_area:
  enable: true
  title: "Our Services"
  sub_title: 'The full service we are offering is specifically designed to meet your business needs.'
  image: "/assets/images/concept/concept26@2x.png"

services_area:
  enable: true
  button_text: "Learn More"
  button_url: "#"
  services:

    - title: "Graphic Design"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam."
      icon: "jam jam-flower"
  
    - title: "App Development"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam."
      icon: "jam jam-phone"
  
    - title: "Web Design"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam."
      icon: "jam jam-layout"

how_it_works:
  enable: true
  title: "How It Works?"
  sub_title: "Here are 3 working steps to organize our business projects."
  image: "/assets/images/concept/concept25@2x.png"
  steps:
    - title: "Creative Ideas"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida. Cras mattis consectetur."

    - title: "Magic Touch"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida. Cras mattis consectetur."

    - title: "Data Analysis"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida. Cras mattis consectetur."

why_choose:
  enable: true
  title: "Why Choose Us?"
  sub_title: "So here are a few reasons why our valued customers choose us."
  image: "/assets/images/concept/concept23@2x.png"
  tabs:
    - question: "Money Protection"
      answer: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis."

    - question: "Strategic Development"
      answer: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis."

    - question: "Marketing Management"
      answer: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis."

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: 'We offer great prices, premium products <br class="d-none d-lg-block" />and quality service for your business.'
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      yearly_price: 99
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      yearly_price: 199
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Corporate Plan"
      monthly_price: 49
      yearly_price: 499
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-online-shop.png"
      features:
        - "<strong>49</strong> Project"
        - "<strong>300K</strong> API Access"
        - "<strong>500MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

testimonials:
  enable: true
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

---

<div class="wrapper gray-wrapper">
  <div class="container inner">
    {% if page.hero_area.enable %}
    <div class="row">
      <div class="col-md-6 mx-auto">
          <h2 class="section-title larger text-center">{{page.hero_area.title}}</h2>
          <h3 class="display-4 text-center"> {{page.hero_area.sub_title}} </h3>
      </div>
    </div>
    <div class="space50"></div>
    {% if page.hero_area.image %}
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <figure>
          <img src="{{page.hero_area.image}}"  alt="{{page.hero_area.sub_title}}"/>
        </figure>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    {% endif %}
    <div class="space50"></div>
    {% endif %}

    {% if page.services_area.enable %}
    <div class="row gutter-80 gutter-md-30 text-center">
      {% for service in page.services_area.services %}
      <div class="col-md-4">
        {% if service.icon %}
        <span class="icon icon-blob
         {% assign index = forloop.index %}
         {% case index %}
          {% when 1 %}
          icon-blob-yellow color-yellow
          {% when 2 %}
          icon-blob-purple color-purple
          {% when 3 %}
          icon-blob-teal color-teal
         {% endcase %}
         mb-30"><i class="{{service.icon}}"></i><span class="step bg-yellow">{{forloop.index}}</span></span>
        {% endif %}
        <h5>{{service.title}}</h5>
        <p class="mb-15">{{service.description}}</p>
        {% if service.button_text %}
         <div class="text-center"><a href="{{service.button_url}}" class="more">{{service.button_text}}</a></div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <!--/.row -->
    {% endif %}
  </div>
</div>

{% if page.how_it_works.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      {% if page.how_it_works.image %}
      <div class="col-lg-7">
        <figure><img src="{{page.how_it_works.image}}" alt="" /></figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-5 pl-60 pl-md-15">
        {% if page.how_it_works.title %}
         <h2 class="section-title larger">{{page.how_it_works.title}}</h2>
        {% endif %}
        {% if page.how_it_works.sub_title %}
        <h3 class="display-4">{{page.how_it_works.sub_title}}</h3>
        <div class="space30"></div>
        {% endif %}
        {% for steps in page.how_it_works.steps %}
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-bg icon-bg-teal color-teal mr-25">
              <span class="number">{{forloop.index}}</span>
            </div>
          </div>
          <div>
            <h4 class="mb-10">{{steps.title}}</h4>
            <p>{{steps.description}}</p>
          </div>
        </div>
        <div class="space10 d-none d-md-block"></div>
        {% endfor %}
      </div>
    </div>
    <!--/column -->
  </div>
</div>
{% endif %}

{% if page.why_choose.enable %}
<div class="wrapper gray-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      {% if page.why_choose.image %}
      <div class="col-lg-7 order-lg-2 text-center">
        <figure><img src="{{page.why_choose.image}}"  alt="{{page.why_choose.title}}"/></figure>
      </div>
      {% endif %}
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-5 pr-60 pr-md-15">
        {% if page.why_choose.title %}
        <h2 class="section-title larger">{{page.why_choose.title}}</h2>
        {% endif %}
        {% if page.why_choose.sub_title %}
        <h3 class="display-4">{{page.why_choose.sub_title}}</h3>
        <div class="space30"></div>
        {% endif %}
        <div id="accordion-1" class="accordion-wrapper simple">
          {% for tab in page.why_choose.tabs %}
          <div class="card">
            <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
              <h5>
                <button data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-controls="accordion-collapse-1-{{forloop.index}}">
                 {{tab.question}}
                </button>
              </h5>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-1-{{forloop.index}}" class="collapse {% if forloop.first %} show {% endif %}" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-parent="#accordion-1">
              <div class="card-body">
                <p>
                  {{tab.answer}}
                </p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          {% endfor %}
        </div>
        <!-- /.accordion-wrapper -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}


<div class="wrapper light-wrapper">
  <div class="container inner">
    {% assign pricing_data = page.pricing_table %}
    {% if pricing_data.enable %}
    <h2 class="section-title larger text-center">{{pricing_data.title}}</h2>
    <h3 class="display-4 text-center">{{pricing_data.sub_title}}</h3>
    <div class="space30"></div>
    <div class="pricing-wrapper">
      <div class="pricing-switcher-wrapper switcher">
        <div class="pricing-switchers">
          <div class="pricing-switcher pricing-switcher-active">Monthly</div>
          <div class="pricing-switcher">Yearly</div>
          <div class="switcher-button bg-default"></div>
        </div>
      </div>
      <div class="space60"></div>
      <div class="row no-gutters">
        {% for pricing in pricing_data.plans %}
        <div class="col-md-4">
          <div class="pricing panel box bg-white shadow">
            <div class="panel-heading">
              <div class="prices color-dark">
                <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                <div class="price price-hide price-hidden"><span class="price-currency">$</span><span class="price-value">{{pricing.yearly_price}}</span> <span class="price-duration">year</span></div>
              </div>
              <h4 class="panel-title mb-0">{{pricing.title}}</h4>
            </div>
            <!--/.panel-heading -->
            <div class="panel-body">
              <table class="table">
                {% for features in pricing.features %}
                  <tr>
                     <td>{{features}}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
            <!--/.panel-body -->
            <div class="panel-footer"><a href="{{pricing.pricing_url}}" class="btn" role="button">{{pricing.button_text}}</a></div>
          </div>
          <!--/.pricing -->
        </div>
        <!--/column -->
       {% endfor %}
      </div>
    </div>
    <!--/.pricing-wrapper -->
    {% endif %}
    {% if page.testimonials.enable %}
    <div class="space140"></div>
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="basic-slider owl-carousel gap-small text-center" data-margin="30">
          {% for feedback in page.testimonials.feedback %}
          <div class="item">
            <blockquote class="icon larger">
              <p>"{{feedback.quote}}"</p>
              <div class="blockquote-details justify-content-center">
                <div class="img-blob blob1">
                  <img src="{{feedback.image}}" alt="{{feedback.name}}" />
                </div>
                <div class="info">
                  <h6 class="mb-0">{{feedback.name}}</h6>
                  <span class="meta mb-0">{{feedback.designation}}</span>
                </div>
              </div>
            </blockquote>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>