---
layout: page
title: "Our Services"
sub_title: "Creating quality products that make your life easier"
header_image: "/assets/images/art/bg11.jpg"
white_menu: true

services_area:
  enable: true
  services: 
    - title: "24/7 Support"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/hs-24-hours-1.png" 

    - title: "Secure Payments"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/st-payment-method.png" 

    - title: "Daily Updates"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/ms-cloud-computing.png" 

    - title: "Research & Marketing"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/of-diagram.png" 

    - title: "System Integration"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/sm-setting.png"

    - title: "SEO Service"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/de-earth-globe-3.png"

video_area:
  enable: true
  vimeo_video_id: "165101721"
  btn_url: "#"
  btn_text: "More Details"
  sub_title: |
    Find out everything you need to know <br class="d-none d-lg-block" />about creating a business process model.
  description: |
    Curabitur nec orci orci. Ut fringilla nisl quis consectetur ultrices. Morbi mattis nisl vitae fringilla volutpat. Ut molestie metus vitae imperdiet. Maecenas ornare ut lectus ac volutpat. Vestibulum erat massa finibus
  features:
    - "Aenean eu leo quam ornare."
    - "Nullam quis risus eget mollis."
    - "Donec elit non mi porta gravida."
    - "Fusce dapibus cursus commodo."


pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: |
    We offer great prices, premium products <br class="d-none d-lg-block" />and quality service for your business.
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      yearly_price: 99
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      yearly_price: 199
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Corporate Plan"
      monthly_price: 49
      yearly_price: 499
      pricing_url: "#"
      button_text: "Choose Plan"
      icon: "/assets/images/icons/ec-online-shop.png"
      features:
        - "<strong>49</strong> Project"
        - "<strong>300K</strong> API Access"
        - "<strong>500MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

countdown_area:
  enable: true
  title: |
    Think unique, be unique. <br class="d-none d-lg-block" />Make a difference with Snowlake.
  projects:
    - title: "Completed Projects"
      projects_number: 7518
      icon: "/assets/images/icons/hs-check.png" 

    - title: "Satisfied Customers"
      projects_number: 3472
      icon: "/assets/images/icons/st-handshake.png" 

    - title: "Expert Employees"
      projects_number: 2184
      icon: "/assets/images/icons/sm-develop.png"  

    - title: "Awards Won"
      projects_number: 4523
      icon: "/assets/images/icons/ms-medal.png" 

big_cover_image:
  enable: true
  image: "/assets/images/art/bg12.jpg"
  title: "big cover image"
---

<div class="content-wrapper">
  {% if page.services_area.enable %}
  <div class="wrapper overflow-top">
    <div class="container inner">
      <div class="row text-center">
        {% for service in page.services_area.services %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="box bg-white shadow">
            {% if service.icon %}
             <div class="icon icon-svg mb-20">
               <img src="{{service.icon}}" alt="{{service.title}}"/>
              </div>
            {% endif %}
            <h5>{{service.title}}</h5>
            <p>{{service.sub_title}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
  {% if page.video_area.enable %}
  {% assign video_info = page.video_area %}
  <div class="wrapper gray-wrapper">
    <div class="container inner">
      <h2 class="display-2 text-center">{{video_info.sub_title}}</h2>
      <div class="space40"></div>
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="player" data-plyr-provider="vimeo" data-plyr-embed-id="{{video_info.vimeo_video_id}}"></div>
        </div>
        <!--/column -->
        <div class="space30 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-4 pl-50 pl-md-15">
          <p>{{video_info.description}}</p>
          <ul class="icon-list bullet-default">
            {% for features in video_info.features %}
             <li><i class="jam jam-arrow-right"></i>{{features}}</li>
            {% endfor %}
          </ul>
          <div class="space10"></div>
          {% if video_info.btn_url %}
           <a href="{{video_info.btn_url}}" class="btn mb-0">{{video_info.btn_text}}</a>
          {% endif %}
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
  {% assign pricing_data = page.pricing_table %}
  {% if pricing_data.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h2 class="display-2 text-center">{{pricing_data.sub_title}}</h2>
      <div class="space40"></div>
      <div class="pricing-wrapper">
        <div class="pricing-switcher-wrapper switcher">
          <div class="pricing-switchers">
            <div class="pricing-switcher pricing-switcher-active">Monthly</div>
            <div class="pricing-switcher">Yearly</div>
            <div class="switcher-button bg-default"></div>
          </div>
        </div>
        <div class="space60"></div>
        <div class="row no-gutters">
          {% for pricing in pricing_data.plans %}
          <div class="col-md-4">
            <div class="pricing panel box bg-white shadow">
              <div class="panel-heading">
                <div class="icon icon-svg mb-10"><img src="{{pricing.icon}}" alt="{{pricing.title}}"></div>
                <h4 class="panel-title mb-35">{{pricing.title}}</h4>
                <div class="prices color-dark">
                  <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                  <div class="price price-hide price-hidden"><span class="price-currency">$</span><span class="price-value">{{pricing.yearly_price}}</span> <span class="price-duration">year</span></div>
                </div>
              </div>
              <!--/.panel-heading -->
              <div class="panel-body">
                <table class="table">
                  {% for features in pricing.features %}
                    <tr>
                       <td>{{features}}</td>
                    </tr>
                    {% endfor %}
                </table>
              </div>
              <!--/.panel-body -->
              <div class="panel-footer"> 
                <a href="{{pricing.pricing_url}}" class="btn" role="button">{{pricing.button_text}}</a>
              </div>
            </div>
            <!--/.pricing -->
          </div>
         {% endfor %}

        </div>
        <!--/.row -->
      </div>
      <!--/.pricing-wrapper -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
  <div class="wrapper light-wrapper">
    {% if page.countdown_area.enable %}
    <div class="container inner pt-40 pb-0">
      <h2 class="display-2 text-center">
        {{page.countdown_area.title}}
      </h2>
      <div class="space40"></div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="row counter">
            {% for projects in page.countdown_area.projects %}
            <div class="col-md-3 text-center">
              {% if projects.icon %}
               <div class="icon icon-svg mb-20"><img src="{{ projects.icon}}" alt="{{ projects.title}}"/></div>
              {% endif %}
              <h3 class="value">{{projects.projects_number}}</h3>
              <p>{{projects.title}}</p>
            </div>
            {% endfor %}
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    {% endif %}
    {% if page.big_cover_image.enable %}
     <figure class="cover">
       <img src="{{page.big_cover_image.image}}" alt="{{page.big_cover_image.title}}" />
     </figure>
    {% endif %}
  </div>
  <!-- /.wrapper -->
</div>
<!-- /.content-wrapper --> 
