@import "ztna-colors";

.timeline {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  position: relative;

  .active {
    color: $timeline-active !important;
    background-color: $dark-text !important;
    border-radius: 25px;
    padding: 8px 48px;
    cursor: pointer;
  }
}

.timelineYear {
  padding: 8px 48px;

  &:hover {
    color: $timeline-active !important;
    background-color: $dark-text !important;
    border-radius: 25px;
    padding: 8px 48px;
    cursor: pointer;
  }
}

.timeline-items {
  .timeline-item {
    display: none;
    opacity: 1;
  }
}

.timeline-item-date-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .timeline {
    width: 100%;
    overflow-x: auto;
    border-radius: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

//style="left: {{forloop.index}}00px"
// position: absolute;
