@import "ztna-colors";

.timeline-container-fluid {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.timeline {
  width: 100%;
  max-width: 1170px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  position: relative;

  .active {
    color: $timeline-active !important;
    background-color: $dark-text !important;
    border-radius: 25px;
    padding: 8px 4%;
    cursor: pointer;
  }
}

.timelineYear {
  padding: 8px 4%;

  &:hover {
    color: $timeline-active !important;
    background-color: $dark-text !important;
    border-radius: 25px;
    padding: 8px 4%;
    cursor: pointer;
  }
}

.timeline-items {
  .timeline-item {
    display: none;
    opacity: 1;
  }
}

.timeline-item-date-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .timeline {
    margin: 0;

    border-radius: 0;
    padding-left: 20px;

    .active {
      padding: 11px 3%;
    }
  }

  .timelineYear {
    padding: 11px 3%;

    &:hover {
      padding: 11px 3%;
    }
  }

  .timeline-container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-xl) {
  .timeline {
    .active {
      padding: 8px 3%;
    }
  }

  .timelineYear {
    padding: 8px 3%;

    &:hover {
      padding: 8px 3%;
    }
  }
}
