--- 
layout: ztna-default 
--- 

{% if page.post_image %} 
<img style="background-image: url({{page.post_image}})" class="ztna-post-cover ztna-margin-bottom-50-40"> 
{% endif %} 
<div class="container-fluid ztna-content-wrapper mx-auto px-0 px-md-40-20  ztna-mb-md-100-70">
  {% include components/bread-crumbs.html %} 
 
    <div class="row ztna-margin-bottom-50-40">
      <div class="col-lg-8 post-typography ">
        {% include components/post-metadata.html %} 
        {{content}}
        <a class="ztna-small-button-left white-background light-blue-1 h4 mt-50-40" href="/blogs/index/">{%include icons/button-left-arrow.svg %} Back to blog</a>
      </div>
      <aside class="col-lg-4 sidebar"> {% include sidebar.html %} </aside>
    </div>
  </div>
 
  {% include components/related-posts.html category=page.categories %}
</div>