:root {
	--color-default: #98bec8;
	--rgb-default: 152, 190, 200;
	--btn-hover-default: 0 0 0 5px rgba(var(--rgb-default), 0.25);
}
.icon-blob-default:after {
    color: rgba(var(--rgb-default), 0.3);
}
.bg-opacity-default {
    background: rgba(var(--rgb-default), 0.08);
}