body {
  background-color: white !important;
}

.ui-wrapper {
  width: 80%;
  margin: 0 auto;
}

.ui-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.ui-label {
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
}
