@import "ztna-colors.scss";
@import "ztna-typography.scss";
@import "ztna-spacers.scss";

$landing-width: 1170px;
$blog-width: 1280px;

$four-in-row-posts-height: 190px;
$three-in-row-posts-height: 230px;
$two-in-row-posts-height: 260px;
$md-sm-posts-height: 200px;

$four-in-row-posts-max-width: 262px;
$three-in-row-posts-max-width: 364px;
$two-in-row-posts-max-width: 464px;
$md-posts-max-width: 316px;
$sm-posts-max-width: none;

html {
  scroll-behavior: smooth;
}

.ztna-content-wrapper {
  max-width: $landing-width;
}

.ztna-blog-wrapper {
  max-width: $blog-width;
}

.ztna-hidden {
  display: none;
}

.ztna-button {
  padding: 13px 30px;
  border-radius: 25px;
  border: none;
  box-shadow: none;
  width: max-content;
  display: inline-block;
  background-size: 200% 100%;

  a {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 4px rgba(68, 160, 248, 0.5);
    box-shadow: 0 0 0 4px rgba(68, 160, 248, 0.5);
  }
}

.ztna-small-button {
  padding: 6px 20px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 2px solid $light-blue-1;
  display: flex;
  align-items: center;
  column-gap: 10px;
  &:hover {
    text-decoration: none;
  }
}

.ztna-small-button-static {
  @extend .ztna-small-button;
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 4px rgba(68, 160, 248, 0.5);
    box-shadow: 0 0 0 4px rgba(68, 160, 248, 0.5);
  }
}

.ztna-small-button-right {
  @extend .ztna-small-button;
  &:hover {
    cursor: pointer;
    column-gap: 15px;
    padding-right: 15px;
  }
}

.ztna-small-button-left {
  @extend .ztna-small-button;
  &:hover {
    cursor: pointer;
    column-gap: 15px;
    padding-left: 15px;
  }
}

.ztna-input {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  &::placeholder {
    @extend .light-text-2;
  }
}

.ztna-input-dark {
  @extend .ztna-input;
  &:hover {
    cursor: pointer;
    @extend .input-active-dark;
  }
  &::placeholder {
    @extend .light-text-2;
  }
  &:active {
    @extend .input-active-dark;
  }
}

.ztna-input-light {
  @extend .ztna-input;
  border: 2px solid $light-blue-1;

  &:hover {
    cursor: pointer;
  }
}

.ztna-tag {
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.ztna-tag-large {
  @extend .ztna-tag;
  padding: 8px 20px;
  width: max-content;
  &:hover {
    cursor: pointer;
  }
  a,
  &:hover {
    cursor: pointer;
    text-decoration: none;
    @extend .light-blue-1;
  }
}

.ztna-tag-small {
  @extend .ztna-tag;
  padding: 3px 10px;
  width: min-content;
}

.ztna-num-label {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.ztna-menu-icon {
  width: auto;
  height: 18px;
}

.ztna-post-wrapper {
  width: 100%;
  margin: 0;
  a:hover {
    text-decoration: none;
  }
}

.ztna-post-image {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}


.ztna-post-title {
  height: $h3lineheight * 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ztna-table {
  border-radius: 20px;
  width: 100%;
}

.ztna-table-head {
  tr:first-child th:first-child {
    border-top-left-radius: 20px;
    padding: 8px 20px;
  }

  tr:first-child th:last-child {
    border-top-right-radius: 20px;
  }
}

.ztna-table-body {
  tr:last-child {
    th:first-child,
    td:first-child {
      border-bottom-left-radius: 20px;
    }
  }

  tr:last-child {
    th:last-child,
    td:last-child {
      border-bottom-right-radius: 20px;
    }
  }

  tr:nth-child(even) {
    background-color: $background-color;
  }

  tr:nth-child(odd) {
    background-color: $table-backgroud;
  }
}

th {
  @extend .h4;
  padding: 8px 20px;
}

td {
  @extend .ztna-small-text;
  width: fit-content;
  padding: 8px 20px;
  a {
    @extend .h4;
  }
}

.table-spacers-remover {
  display: none;
}

.ztna-overflow {
  overflow-x: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

.ztna-slider-image {
  border-radius: 30px;
}

@media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
  .ztna-md-sm-posts-height {
    height: $md-sm-posts-height;
  }

  .ztna-md-max-width {
    max-width: $md-posts-max-width;
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  .ztna-table {
    width: 1170px;
    z-index: 10;
  }

  .scroll-wrapper {
    overflow-x: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .ztna-table {
    width: 1170px;
    z-index: 10;
  }

  .ztna-md-sm-posts-height {
    height: $md-sm-posts-height;
  }

  .ztna-sm-max-width {
    max-width: $sm-posts-max-width;
  }

  .sm-flex {
    display: flex;
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .ztna-lg-4-posts-max-width {
    max-width: $four-in-row-posts-max-width;
  }
  .ztna-lg-4-posts-height {
    height: $four-in-row-posts-height;
  }

  .ztna-lg-3-posts-max-width {
    max-width: $three-in-row-posts-max-width;
  }

  .ztna-lg-3-posts-height {
    height: $three-in-row-posts-height;
  }
  .ztna-lg-2-posts-max-width {
    max-width: $two-in-row-posts-max-width;
  }
  .ztna-lg-2-posts-height {
    height: $two-in-row-posts-height;
  }
}
