.ztna-margin-bottom-10 {
  margin-bottom: 10px;
}

.ztna-margin-right-10 {
  margin-right: 10px;
}

.ztna-margin-right-60 {
  margin-right: 60px;
}

.ztna-margin-left-10 {
  margin-left: 10px;
}

.ztna-margin-bottom-20 {
  margin-bottom: 20px;
}

.ztna-margin-bottom-30 {
  margin-bottom: 30px;
}
