@import "ztna-breakpoionts";
@import "ztna-colors.scss";

$fontfamily: jost;
$fontstyle: normal;
$title-fontweight: 500;
$text-fontweight: 300;
$tablet: 744px;

.titles {
  font-family: $fontfamily;
  font-style: $fontstyle;
  font-weight: $title-fontweight;
  margin: 0;
}

.text {
  font-family: $fontfamily;
  font-style: $fontstyle;
  font-weight: $text-fontweight;
  margin: 0;
}

h1,
.h1 {
  @extend .titles;
  font-size: 50px;
  line-height: 72.25px;
}

h2,
.h2 {
  @extend .titles;
  font-size: 32px;
  line-height: 46px;
}

h3,
.h3 {
  @extend .titles;
  font-size: 22px;
  line-height: 32px;
}

h4,
.h4 {
  @extend .titles;
  font-size: 16px;
  line-height: 150%;
}

h5,
.h5 {
  @extend .titles;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
}

p {
  @extend .text;
  font-size: 22px;
  line-height: 150%;
}

.ztna-small-text {
  @extend .text;
  font-size: 16px;
  line-height: 150%;
}

a.text-link {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;

    h3,
    h4 {
      color: $light-blue-1;
    }
  }
}

a.button-link {
  &:hover {
    text-decoration: none;
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  h1,
  .h1 {
    font-size: 32px;
    line-height: 46px;
  }
  h2,
  .h2 {
    font-size: 24px;
    line-height: 35px;
  }

  h3,
  .h3 {
    font-size: 18px;
    line-height: 26px;
  }

  h4,
  .h4 {
    font-size: 14px;
    line-height: 130%;
  }
  h5,
  .h5 {
    font-size: 14px;
    line-height: 20px;
  }

  p {
    font-size: 18px;
    line-height: 150%;
  }
  .ztna-small-text {
    font-size: 14px;
    line-height: 150%;
  }

  a.text-link {
    font-weight: 500;
    line-height: 130%;
  }
}
