.ztna-margin-bottom-10 {
  margin-bottom: 10px;
}

.ztna-margin-right-10 {
  margin-right: 10px;
}

.ztna-margin-right-40 {
  margin-right: 40px;
}

.ztna-margin-right-60 {
  margin-right: 60px;
}

.ztna-margin-left-10 {
  margin-left: 10px;
}

.ztna-margin-bottom-20 {
  margin-bottom: 20px;
}

.ztna-margin-bottom-30-20 {
  margin-bottom: 30px;
}

.ztna-margin-bottom-50-40 {
  margin-bottom: 50px;
}

.ztna-center {
  margin: 0 auto;
}

.ztna-margin-top-50-40 {
  margin-top: 0;
}

.ztna-padding-bottom-100-70 {
  padding-bottom: 100px;
}

@media only screen and (max-width: $breakpoint-sm) {
  .ztna-margin-bottom-30-20 {
    margin-bottom: 20px;
  }

  .ztna-margin-bottom-50-40 {
    margin-bottom: 40px;
  }

  .ztna-margin-top-50-40 {
    margin-top: 40px;
  }

  .ztna-padding-bottom-100-70 {
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
  .ztna-margin-top-50-40 {
    margin-top: 50px;
  }
}
