$small-spacer: 20px;
$medium-spacer: 30px;
$large-spacer: 50px;
$fig-spacer: 10px;

.ztna-post-cover {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-typography {
  .h1,
  h1,
  .h2,
  h2,
  .h3,
  h3 {
    @extend .dark-text;
    margin-bottom: $small-spacer;
  }

  p {
    @extend .ztna-small-text;
    @extend .light-text-1;
    margin-bottom: $medium-spacer;
  }

  a {
    @extend .light-blue-1;
  }

  & :nth-child(2) {
    margin-bottom: $large-spacer;
  }

  pre,
  code,
  blockquote {
    margin-bottom: $medium-spacer;
  }

  table {
    @extend .ztna-table;
    margin-bottom: $medium-spacer;

    thead {
      @extend .ztna-table-head;
      @extend .background-color;
      @extend .light-text-2;
    }
    tbody {
      @extend .ztna-table-body;
      @extend .ztna-small-text;
      @extend .dark-text;
    }
  }

  figure {
    margin-bottom: $large-spacer;
    img {
      border-radius: 30px;
      margin-bottom: $fig-spacer;
    }
    figcaption {
      @extend .ztna-small-text;
      @extend .light-text-1;
    }
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  $small-spacer: 10px;
  $large-spacer: 40px;
}
