@import "ztna-colors.scss";
@import "ztna-typography.scss";

footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $dark-text;
  // display: flex;
  // column-gap: 40px;
  // justify-content: center;

  a {
    @extend h4;
    text-decoration: none;
    color: $light-blue-1;
  }

  div {
    //width: 364px;
  }

  p {
    @extend .ztna-small-text;
  }
}
