{% assign content = site.data.components.ztna-subscribe%}
<div class="subscription-wrapper">
  <h3 class="dark-text">{{content.title}}</h3>
  <div class="space10"></div>
  <p class="ztna-small-text mb-30-12">{{content.text}}</p>

  {%include components/email-form.html form-id="body-subscription"
  input-id="body-form-mail" input_style="ztna-small-text dark-text
  white-background input-light" button_style="button light-blue-background-1
  white ztna-h4 subscription" button_caption=content.button_text %}
</div>
