{% if site.data.landing.blog.enable %} {% assign blog = site.data.landing.blog%}
<div class="container-fluid ztna-landing-section-wrapper">
  <div class="ztna-content-wrapper mx-auto">
    <div class="row d-flex justify-content-center">
      <div
        class="col-lg-6 col-md-10 col-sm-12 col ztna-margin-bottom-50-40 text-center"
      >
        <p class="h5 light-text-2">{{blog.label}}</p>
        <div class="space10"></div>
        <h2 class="dark-text">{{blog.title}}</h2>
      </div>
    </div>
    <div class="row">
      {% for post in site.posts limit: 3 %}
      <div class="ztna-post-responsive col-lg-4 col-md-6 col-sm-12">
        {% include components/post-preview.html %}
      </div>
      {% endfor %}
    </div>
    <div class="row d-flex justify-content-center">
      <div class="text-center">
        <a href="{{baseurl}}{{blog.button.link}}">
          {% include components/link.html content=blog.button.text %}
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}