{% if site.data.landing.blog.enable %} {% assign blog = site.data.landing.blog%}
<div class="container-fluid ztna-landing-section-wrapper px-md-40-20">
  <div class="ztna-content-wrapper mx-auto">
    <div class="row d-flex justify-content-center">
      <div
        class="col-lg-8 col-md-10 col-sm-12 ztna-margin-bottom-50-40 text-center"
      >
        <p class="h5 light-text-2">{{blog.label}}</p>
        <div class="space10"></div>
        <h2 class="dark-text">{{blog.title}}</h2>
      </div>
    </div>
    <div class="row mb-50-30 justify-content-center">
      {% for post in site.posts limit: 4 %} {% if forloop.length >= 4 %}
      <div class="ztna-post-responsive col-lg-3 col-md-6 col-sm-6 mb-0">
        {% include components/post-preview.html
        post-styling="ztna-lg-4-posts-height ztna-md-sm-posts-height" %}
      </div>
      {% elsif forloop.length == 3 %}
      <div class="ztna-post-responsive col-lg-4 col-md-6 col-sm-6 mb-0 mx-auto">
        {% include components/post-preview.html
        post-styling="ztna-lg-3-posts-height ztna-md-sm-posts-height"%}
      </div>
      {% elsif forloop.length == 2 %}
      <div class="ztna-post-responsive col-lg-5 col-md-6 col-sm-6 mb-0">
        {% include components/post-preview.html
        post-styling="ztna-lg-2-posts-height ztna-md-sm-posts-height"%}
      </div>
      {% elsif forloop.length == 1 %}
      <div class="ztna-post-responsive col-lg-5 col-md-6 col-sm-6 mb-0 mx-auto">
        {% include components/post-preview.html
        post-styling="ztna-lg-2-posts-height ztna-md-sm-posts-height"%}
      </div>
      {% endif %} {% endfor %}
    </div>

    <div class="row d-flex justify-content-center">
      <div class="text-center">
        <a href="{{baseurl}}{{blog.button.link}}">
          {% include components/link.html content=blog.button.text %}
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}
