{% if site.data.landing.page-header.enable %} {% assign page_d =
site.data.landing.page-header %}

<div class="wrapper ztna-hero-background page-title-wrapper inverse-text">
  <div class="ztna-head-container mx-auto text-center">
    {% if page_d.title %}
    <h1>{{page_d.title}}</h1>
    {% endif %}
    <div class="space10"></div>
    {% if page_d.sub_title %}
    <p class="ztna-subtitle ztna-margin-bottom-30-20">{{page_d.sub_title}}</p>
    {% endif %} {% if page_d.statistics %}
    <div class="ztna-counter-wrapper">
      {% for architecture in site.data.architecture %} {% assign
      total_architectures = forloop.length %} {% assign arch = architecture[1]
      %} {% assign vendors = arch.vendors %} {% for vendor in vendors %} {%
      capture amount %}{{ amount | plus:1 }}{% endcapture %} {% endfor %} {%
      endfor %}
      <div class="ztna-counter-item counter">
        <p class="h1 value">{{amount}}</p>

        <p class="ztna-small-text">Vendors</p>
      </div>
      <div class="ztna-counter-item counter">
        <p class="h1 value">{{total_architectures}}</p>
        <p class="ztna-small-text">Architectures</p>
      </div>
      {% for list in page_d.statistics %}
      <div class="ztna-counter-item counter">
        <p class="h1 value">{{list.quantity}}</p>
        <p class="ztna-small-text">{{list.title}}</p>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% if page_d.button_text %}
    <a href="#vendors">
      {% include components/link.html content=page_d.button_text %}
    </a>

    {% endif %}
  </div>
  <div class="divider">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="fill-light-wrapper"
      preserveAspectRatio="none"
      viewBox="0 0 1070 20.98"
    >
      <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
    </svg>
  </div>
</div>
{% endif %}
