{% if site.data.landing.ztna-no-bullshit.enable %} 
{% assign no-bullshit = site.data.landing.ztna-no-bullshit %}
<div class="container-fluid background-color ztna-landing-section-wrapper d-flex justify-content-center">
  <div class="ztna-content-wrapper mt-5">
    <p class="h5 light-text-2 text-center">{{no-bullshit.label}}</p>  
    <div class="space10"></div>
    <h2 class="dark-text text-center">{{no-bullshit.title}}</h2>
    <div class="space10"></div>
    <div class="row mx-auto">   
      {% for reason in no-bullshit.reasons%}
          <div class="col-lg-3 col-md-6 col-sm-12 text-center ztna-num-label-wrapper">
            <p p class="light-blue-background-2 ztna-num-label white h2">{{forloop.index}}</p>
            <div class="ztna-margin-bottom-20-10"> </div>
            <p class="h3 dark-text">{{reason}}</p>
          </div>
      {% endfor %}
    </div>
    
    </div>
</div>
{% endif %}