{% if site.data.landing.timeline.enable %} {% assign timeline =
site.data.landing.timeline %}
<div class="timeline-container-fluid dark-text-background pt-100-70 pb-100-70">
  <div class="content-сontainer d-flex flex-column align-items-center mx-auto">
    <div class="col-8 col-md-12 col-sm-12 mb-50-40 text-center">
      <h2 class="light-text-3 text-center">{{timeline.title}}</h2>
    </div>
    <div
      id="timeline"
      class="timeline d-flex justify-content-between align-items-center scroll-wrapper gradient-background align-self-md-center align-self-sm-start align-self-lg-center"
    >
      {% for node in timeline.nodes %} {% assign index = forloop.index %}
      <div
        style="width: calc(100% / {{forloop.length}})"
        class="year-wrapper pr-lg-1p pl-lg-1p"
        onclick="currentTimelineItem({{index}})"
      >
        <p
          class="h4 white timelineYear text-center"
          onclick="currentTimelineItem({{index}})"
        >
          {{node.year}}
        </p>
      </div>
      {% endfor %}
    </div>
    <div class="space40"></div>
    <div class="col-lg-8 col-md-12 col-sm-12 px-0 text-center">
      <div class="timeline-data-wrapper">
        {% assign size = timeline.nodes.size %}

        <div class="d-flex" style="width: {{size}}00%">
          {% for node in timeline.nodes %}
          <div
            class="timeline-item mb-40-20-40-20 pr-md-40-20 pl-lg-16 pr-lg-16"
          >
            <div class="timeline-item-date-wrapper mb-30-20">
              {% include icons/calendar.svg cls="light-blue-1" %}
              <p class="h4 light-blue-1">{{node.year}}</p>
            </div>
            <h3 class="light-text-3">{{node.title}}</h3>
            <div class="space10"></div>
            <p class="ztna-small-text light-text-2">{{node.description}}</p>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center dark-text-background">
      <button
        id="prev"
        class="small-button-left dark-buttons-background light-blue-1 h4 mr-10"
        onClick="plusTimelineItem(-1, 'prev')"
      >
        {%include icons/button-left-arrow.svg %} Prev
      </button>
      <button
        id="next"
        class="small-button-right dark-buttons-background light-blue-1 h4 ml-10"
        onClick="plusTimelineItem(1, 'next')"
      >
        Next {%include icons/button-right-arrow.svg %}
      </button>
    </div>
  </div>
</div>

{% endif %}
