{% if site.data.landing.wayfinding.enable %}
{% assign wayfinding = site.data.landing.wayfinding %}
<div class="container-fluid background-white ztna-landing-section-wrapper d-flex justify-content-center px-0">
  <div class="ztna-content-wrapper">
    <div class="mr-md-40-20 ml-md-40-20 mr-lg-40 ml-lg-40 ztna-margin-bottom-30-20">
      <p class="h5 light-text-2">{{ wayfinding.label }}</p>
      <div class="space10"></div>
      <h2 class="dark-text">{{ wayfinding.title }}</h2>
    </div>

    <div class="row mr-md-40-20 ml-md-40-20 mr-lg-40 ml-lg-40">
      {% for card in wayfinding.cards %}
      <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
        <a href="{{ card.url }}" class="d-block h-100" style="text-decoration: none;">
          <div class="p-30 h-100 background-color" style="border-radius: 4px;">
            <h3 class="dark-text ztna-margin-bottom-20-10">{{ card.title }}</h3>
            <p class="ztna-small-text light-text-1 mb-0">{{ card.description }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
