
{% if site.data.landing.ztna.enable %}
{% assign ztna = site.data.landing.ztna %}
<div class="container-fluid background-white ztna-landing-section-wrapper d-flex justify-content-center">
  <div class="ztna-content-wrapper">
    <div class="row align-items-center d-flex">
        {% if ztna.image %}
        <div class="col-md-12 col-lg-6 d-flex justify-content-center order-last order-lg-first">
          <figure>
            <img src="{{ztna.image}}" alt="{{ztna.title}}" class="ztna-margin-top-50-40 "/>
          </figure>
        </div>
        {% endif %}

        <div class="col-md-12 col-lg-6 order-first d-flex justify-content-center">
          <div>
          {% if ztna.title %}
         
          <p class="h5 light-text-2">{{ztna.title}}</p>
          {% endif %}
          <div class="space10"></div>
          {% if ztna.sub_title %}
          <h2 class="dark-text ztna-margin-bottom-30-20">{{ztna.sub_title}}</h2>
          {% endif %}
          
          {% if ztna.description %}
          <p class="ztna-small-text light-text-1">{{ztna.description}}</p>
          <div class="space10"></div>
          <div class="ztna-margin-bottom-30-20">
            <a href="{{ztna.more.link}}" target="_blank" class=" ztna-small-text light-blue-1">{{ztna.more.text}}</a>
          </div>
          
          {% endif %}
          <ul class="icon-list bullet-default">
          {% for list in ztna.lists.text %}
            <li class="ztna-small-text light-text-1">
              <img src="{{site.data.landing.ztna.lists.icon}}">
              {{list}}
              <div class="space10"></div>
          </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}