---
layout: default
slider_area:
  enable: true
  title: "Grow Your Business with Our Marketing Solutions"
  sub_title: "We help our clients to increase their website traffic, rankings and visibility in search results."
  button_text: "Try It For Free"
  button_url: "#"
  slider_images:
    img_01: "/assets/images/art/rocket1.png"
    img_02: "/assets/images/art/rocket2.png"
    img_03: "/assets/images/art/rocket3.png"
    img_04: "/assets/images/art/rocket4.png"

features_area:
  enable: true
  title: "What We Do?"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  features:
    - title: "SEO Services"
      icon: "jam jam-search"
      icon_color: "blue"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

    - title: "Web Design"
      icon: "jam jam-layout"
      icon_color: "green"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

    - title: "Social Engagement"
      icon: "jam jam-share-alt"
      icon_color: "pink"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

    - title: "Content Marketing"
      icon: "jam jam-task-list"
      icon_color: "purple"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

two_columns_one:
  enable: true
  title: "Why Choose Us?"
  sub_title: "Why is Search Engine Optimization important for your business?"
  image: "/assets/images/concept/concept8@2x.png"
  description: |
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit.
  lists:
    - "Aenean eu leo quam ornare."
    - "Nullam quis risus eget mollis."
    - "Donec elit non mi porta gravida."
    - "Fusce dapibus cursus commodo."

process_area:
  enable: true
  title: "Our Process"
  sub_title: "We bring solutions to make life easier for our customers"
  image: "/assets/images/concept/concept1@2x.png"
  lists:

    - title: "Collect Ideas"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "jam jam-lightbulb"
      icon_color: "blue"

    - title: "Data Analysis"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "jam jam-search-folder"
      icon_color: "teal"

    - title: "Magic Touch"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "jam jam-heart"
      icon_color: "yellow"

two_columns_two:
  enable: true
  title: "Our Personalized Solutions"
  sub_title: "Just sit and relax while we take care of your business needs"
  image: "/assets/images/concept/concept3@2x.png"
  description: |
    Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

  lists:
    - "Aenean eu leo quam ornare."
    - "Nullam quis risus eget mollis."
    - "Donec elit non mi porta gravida."
    - "Fusce dapibus cursus commodo."

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: "We offer great prices, premium products and quality service for your business."
  btn_url: "#"
  description: |
    "Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      pricing_url: "#"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      pricing_url: "#"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

about_us:
  enable: true
  title: "Let's Talk"
  sub_title: "Let's make something great together. If you got any questions, don't hesitate to get in touch with us."
  image: "/assets/images/concept/concept12@2x.png"
  description: |
    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.
  button_text: "Contact Us"
  button_url: "#"


testimonials:
  enable: true
  title: "Customer Stories"
  sub_title: "Customer satisfaction is our major goal. See what our customers are saying about us."
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t6.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t5.jpg" 
      name: "Jackie Sanders"
      designation: "Sales Specialist"

subscribe_area:
  enable: true
  title: "Analyze Now"
  sub_title: "Wonder how much faster your website can go? Easily check your SEO Score now."
  action_email: "tortoizthemes@gmail.com"
  button_text: "Analyze"
  image: "/assets/images/art/rocket1.png"

---

<link rel="stylesheet" type="text/css" href="/assets/css/color/blue.css"/>
<div class="content-wrapper">
{% include header_4.html logo_class="header-logo" %}
{% if page.slider_area.enable %}
<div class="wrapper bg-opacity-default">
  <div class="rev_slider_wrapper fullwidth-container dark-spinner">
    <div id="slider7" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
        <li data-transition="fade" data-thumb="">
         <img src="/assets/images/dummy.png" style="background:transparent" alt="{{page.slider_area.title}}"/>
         {% if page.slider_area.slider_images.img_01 %}
          <div class="tp-caption" 
             data-x="['center','center','center','center']" 
             data-y="['bottom','bottom','bottom','bottom']" 
             data-hoffset="['0','0','0','0']" 
             data-voffset="['-2','-2','-2','-2']" 
             data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-visibility="['on','on','on','on']" 
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive="on" 
             data-responsive_offset="on" 
             data-basealign="slide" style="z-index: 5;">
             <img data-lazyload="" src="{{page.slider_area.slider_images.img_01}}" 
             data-ww="['100%','100%','100%','100%']" 
             data-hh="auto" alt="" />	          
        </div>
	    <!-- /.tp-caption -->
	     {% endif %}
	     {% if page.slider_area.slider_images.img_02 %}
          <div class="tp-caption" 
             data-x="['center','center','center','center']" 
             data-y="['middle','middle','middle','middle']" 
             data-hoffset="['260','260','260','260']" 
             data-voffset="['60','60','60','60']" 
             data-frames='[{"delay":600,"speed":1200,"frame":"0","from":"y:bottom;rX:90deg;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-visibility="['on','on','on','off']" 
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive="on" 
             data-responsive_offset="on" 
             data-basealign="slide" style="z-index: 5;">
             <img data-lazyload="" src="{{page.slider_area.slider_images.img_02}}" 
             data-ww="['220','220','220','220']" 
             data-hh="auto" alt="" />
           </div>
	       <!-- /.tp-caption -->
	      {% endif %}
	      {% if page.slider_area.slider_images.img_03 %}
          <div class="tp-caption" 
             data-x="['center','center','center','center']" 
             data-y="['middle','middle','middle','middle']" 
             data-hoffset="['260','260','260','260']" 
             data-voffset="['-170','-170','-170','-170']" 
             data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-visibility="['on','on','on','off']" 
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive="on" 
             data-responsive_offset="on" 
             data-basealign="slide" style="z-index: 6;">
             <img data-lazyload="" src="{{page.slider_area.slider_images.img_03}}" 
             data-ww="['380','380','380','380']" 
             data-hh="auto" alt="" />
	      
         </div>
	     <!-- /.tp-caption -->
	    {% endif %}
        {% if page.slider_area.slider_images.img_04 %}
          <div class="tp-caption" 
             data-x="['center','center','center','center']" 
             data-y="['middle','middle','middle','middle']" 
             data-hoffset="['300','300','300','300']" 
             data-voffset="['70','70','70','70']" 
             data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-visibility="['on','on','on','off']" 
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive="on" 
             data-responsive_offset="on" 
             data-basealign="slide" style="z-index: 5;">
             <img data-lazyload="" src="{{page.slider_area.slider_images.img_04}}" 
             data-ww="['480','480','480','480']" 
             data-hh="auto" alt="" />
         </div>
	      <!-- /.tp-caption -->
	      {% endif %}
	      {% if page.slider_area.title %}
          <div class="tp-caption font-weight-500 color-dark" 
             data-x="['left','left','left','center']" 
             data-y="middle" 
             data-hoffset="['50','30','30','0']" 
             data-voffset="['-125','-125','-125','-105']" 
             data-fontsize="['40','40','34','36']" 
             data-lineheight="['50','50','44','46']" 
             data-width="['500','500','420','340']" 
             data-textAlign="['left','left','left','center']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{page.slider_area.title}}
        </div>
        {% endif %}
	    <!-- /.tp-caption -->
	    {% if page.slider_area.sub_title %}
          <div class="tp-caption font-weight-300 color-dark" 
             data-x="['left','left','left','center']" 
             data-y="middle" 
             data-hoffset="['50','30','30','0']"
             data-voffset="['-20','-20','-20','30']" 
             data-fontsize="['26','26','22','24']" 
             data-lineheight="['36','36','32','34']" 
             data-width="['500','500','420','340']" 
             data-textAlign="['left','left','left','center']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{page.slider_area.sub_title}}
         </div>
	     <!-- /.tp-caption -->
	     {% endif %}
	     {% if page.slider_area.button_text %}
          <a class="tp-caption btn btn-l btn-default" 
             data-x="['left','left','left','center']" 
             data-y="middle" 
             data-hoffset="['50','30','30','0']"
             data-voffset="['75','75','75','135']" 
             data-width="['auto','auto','auto','auto']" 
             data-textAlign="['left','left','left','center']" 
             data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;" href="{{page.slider_area.button_url}}"> 
             {{page.slider_area.button_text}}
        </a>
	    <!-- /.tp-caption -->
	    {% endif %}
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.features_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner pt-100">
  	{% if page.features_area.title %}
    <div class="row">
    	<div class="col-md-7 mx-auto">
		    <h2 class="title-color color-gray text-center">{{page.features_area.title}}</h2>
		    {% endif %}
		    {% if page.features_area.sub_title %}
		     <h3 class="display-3 text-center">{{page.features_area.sub_title}}</h3>
		    {% endif %}
		    <div class="space40"></div>
    	</div>
    </div>
    <div class="row text-center gutter-60">
      {% for features in page.features_area.features %}
      <div class="col-md-6 col-lg-3">
        <div class="icon icon-blob icon-blob-{{features.icon_color}} color-{{features.icon_color}} mb-20"> 
        	<i class="{{features.icon}}"></i> 
        </div>
        {% if features.title %}
         <h5>{{features.title}}</h5>
        {% endif %}
        {% if features.sub_title %}
        <p>{{features.sub_title}}</p>
        {% endif %}
        <p>{{features.description}}</p>
      </div>
      {% endfor %}
    </div>
    <!--/.row -->
    {% if page.two_columns_one.enable %}
    <div class="two-column-one"> 
    <div class="space140"></div>
    <div class="row align-items-center">
      {% if page.two_columns_one.image %}
      <div class="col-lg-6">
        <figure>
        	<img src="{{page.two_columns_one.image}}" alt="{{page.two_columns_one.title}}"/>
        </figure>
      </div>
      {% endif %}
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
      	{% if page.two_columns_one.title %}
         <h2 class="title-color color-gray">{{page.two_columns_one.title}}</h2>
        {% endif %}
        {% if page.two_columns_one.sub_title %}
         <h3 class="display-3">{{page.two_columns_one.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        {% if page.two_columns_one.description %}
         <p>{{page.two_columns_one.description}}</p>
        {% endif %}
        <ul class="icon-list bullet-default">
         {% for list in page.two_columns_one.lists %}
          <li>
          	<i class="icofont-verification-check"></i>
            {{list}}
         </li>
         {% endfor %}
        </ul>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    </div>
    {% endif %}
    {% if page.process_area.enable %}
    <div class="process-wrapper"> 
    <div class="space140"></div>
    <div class="row align-items-center">
      {% if page.process_area.image %}
      <div class="col-lg-6 order-lg-2">
        <figure>
        	<img src="{{page.process_area.image}}" alt="{{page.process_area.title}}"/>
        </figure>
      </div>
      {% endif %}
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pr-60 pr-md-15">
      	{% if page.process_area.title %}
         <h2 class="title-color color-gray">{{page.process_area.title}}</h2>
        {% endif %}
        {% if page.process_area.sub_title %}
         <h3 class="display-3">{{page.process_area.sub_title}}</h3>
        {% endif %}
        {% for list in page.process_area.lists %}
        <div class="space30"></div>
        <div class="d-flex flex-row justify-content-center">
          <div>
            <span class="icon icon-blob icon-blob-{{list.icon_color}} color-{{list.icon_color}} mr-25">
              <i class="{{list.icon}}"></i>
              <span class="step bg-{{list.icon_color}}">{{forloop.index}}</span>
            </span>
          </div>
          <div>
            <h5>{{list.title}}</h5>
            <p class="mb-0">{{list.description}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    </div>
    {% endif %}
    {% if page.two_columns_two.enable %}
    <div class="two-columns-two"> 
    <div class="space140"></div>
    <div class="row align-items-center">
      {% if page.two_columns_two.image %}
      <div class="col-lg-6">
        <figure>
          <img src="{{page.two_columns_two.image}}"  alt="{{page.two_columns_two.title}}"/>
        </figure>
      </div>
      {% endif %}
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15 order-lg-2">
        {% if page.two_columns_two.title %}
         <h2 class="title-color color-gray">{{page.two_columns_two.title}}</h2>
        {% endif %}
        {% if page.two_columns_two.sub_title %}
         <h3 class="display-3">{{page.two_columns_two.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        <p>{{page.two_columns_two.description}}</p>
        <ul class="icon-list bullet-default">
          {% for list in page.two_columns_two.lists %}
          <li><i class="icofont-verification-check"></i> {{list}}</li>
          {% endfor %}
        </ul>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    </div>
    {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      {% if page.testimonials.enable %}
      <div class="testimonials-wrapper"> 
      <div class="row">
        <div class="col-md-7 mx-auto">
          {% if page.testimonials.title %}
           <h2 class="title-color color-gray text-center mb-30">{{page.testimonials.title}}</h2>
          {% endif %}
          {% if page.testimonials.sub_title %}
           <h3 class="display-3 text-center">{{page.testimonials.sub_title}}</h3>
          {% endif %}
        </div>
      </div>
      <div class="space20"></div>
      <div class="grid-view">
        <div class="carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1140":{"items": "3"}}'>
          {% for feedback in page.testimonials.feedback %}
          <div class="item">
            <div class="item-inner">
              <div class="bg-white shadow p-3">
                <blockquote>
                  <p>"{{feedback.quote}}"</p>
                  <div class="blockquote-details">
                    {% if feedback.image %}
                    <div class="img-blob blob1">
                      <img src="{{feedback.image}}" alt="{{feedback.name}}"/>
                    </div>
                    {% endif %}
                    <div class="info">
                      <h6 class="mb-0">{{feedback.name}}</h6>
                      <span class="meta mb-0">{{feedback.designation}}</span>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
          <!-- /.item -->
         {% endfor %}
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /.grid-view -->
      </div>
      {% endif %}
      <div class="pricing-wrapper">
       <div class="container inner">
        {% assign pricing_data = page.pricing_table %} 
        {% if pricing_data.enable %}
        <div class="row">
            <div class="col-lg-5 pr-50 pr-md-15">
                <h2 class="title-color color-gray">{{pricing_data.title}}</h2>
                <h3 class="display-3">{{pricing_data.sub_title}}</h3>
                <div class="space20"></div>
                <p>{{pricing_data.description}}</p>
                <div class="space10"></div>
                {% if pricing_data.pricing_url %}
                <a href="{{pricing_data.pricing_url}}" class="btn">See All Prices</a>
                {% endif %}
            </div>
            <!--/column -->
            <div class="space70 d-none d-md-block d-lg-none"></div>
            <div class="space20 d-md-none"></div>
            <div class="col-lg-7">
                <div class="pricing-wrapper">
                    <div class="row no-gutters">
                        {% for pricing in pricing_data.plans %}
                        <div class="col-md-6">
                            <div class="pricing panel box bg-white shadow">
                                <div class="panel-heading">
                                    <div class="prices color-dark">
                                        <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                                    </div>
                                    <h4 class="panel-title mb-0">{{pricing.title}}</h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        {% for features in pricing.features %}
                                        <tr>
                                            <td>{{features}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="panel-footer"><a href="{{pricing.pricing_url}}" class="btn" role="button">Choose Plan</a></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
      </div>
      {% if page.about_us.enable %}
      <div class="about-wrapper">
        <div class="space140"></div>
        <div class="row align-items-center">
          {% if page.about_us.image %}
          <div class="col-lg-6">
            <figure>
              <img src="{{page.about_us.image}}" alt="{{page.about_us.title}}"/>
            </figure>
          </div>
          {% endif %}
          <div class="space50 d-none d-md-block d-lg-none"></div>
          <div class="space10 d-md-none"></div>
          <div class="col-lg-6 pl-60 pl-md-15">
            {% if page.about_us.title %}
             <h2 class="title-color color-gray">{{page.about_us.title}}</h2>
            {% endif %}
            {% if page.about_us.sub_title %}
             <h3 class="display-3">{{page.about_us.sub_title}}</h3>
            {% endif %}
            <div class="space20"></div>
            <p>{{page.about_us.description}}</p>
            <div class="space10"></div>
            {% if page.about_us.button_text %}
             <a href="{{page.about_us.button_url}}" class="btn btn-default">{{page.about_us.button_text}}</a>
            {% endif %}
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      {% endif %}
    </div>
  </div>
  {% if page.subscribe_area.enable %}
  <div class="subscribe-area">
    <div class="wrapper bg-opacity-default">
      <div class="container inner">
        <div class="row text-center">
          <div class="col-lg-8 offset-lg-2">
            {% if page.subscribe_area.title %}
             <h2 class="title-color color-gray">{{page.subscribe_area.title}}</h2>
            {% endif %}
            {% if page.subscribe_area.sub_title %}
             <h3 class="display-3">{{page.subscribe_area.sub_title}}</h3>
            {% endif %}
          </div>
        </div>
        <div class="space30"></div>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <form class="fields-white" action="https://formsubmit.io/send/{{page.subscribe_area.action_email}}" target="_blank">
              <div class="input-group">
                <input type="email"  name="user_email" class="email form-control mb-0 mr-2 mb-sm-0" placeholder="Email Address" required>
                <button type="submit" class="btn btn-rounded btn-default mr-0 mb-0 pull-right">{{page.subscribe_area.button_text}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% if page.subscribe_area.image %}
      <figure style="margin-bottom:-3px;">
        <img src="{{page.subscribe_area.image}}" alt="subscribe"/>
      </figure>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% include footer.html extra_class="white-wrapper" %}
</div>