---
layout: default
slider_area:
  enable: true
  title: Couple & Wedding Photographer
  sub_title: I'm Julia Snowlake Changed
  sliders:
  - img: "/assets/images/art/slider-bg8.jpg"
  - img: "/assets/images/art/slider-bg9.jpg"
  - img: "/assets/images/art/slider-bg10.jpg"
  - img: "/assets/images/art/slider-bg11.jpg"
blogs_area:
  enable: true
  title: Here are the latest posts from my blog that grabbed the most attention
testimonials_area:
  enable: true
  bg_image: "/assets/images/art/bg17.jpg"
  testimonials:
  - quote: Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
    author: Jolene & Andrew
  - quote: Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
    author: Julia & David
  - quote: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
      odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
    author: Eve & Will
video_area:
  enable: true
  sub_title: Some of wonderful love stories I witnessed and had the chance to capture
  vimeo_video_id: "94837904"
gallery_area:
  enable: true
  title: Some of wonderful love stories I witnessed and had the chance to capture
  gallery:
  - title: Lucy & David
    category: Wedding
    photos:
    - img: "/assets/images/art/fc1.jpg"
    - img: "/assets/images/art/m2.jpg"
    - img: "/assets/images/art/m3.jpg"
    - img: "/assets/images/art/m4.jpg"
    - img: "/assets/images/art/m5.jpg"
  - title: Lucy & David
    category: Wedding
    photos:
    - img: "/assets/images/art/fc2.jpg"
    - img: "/assets/images/art/m2.jpg"
    - img: "/assets/images/art/m3.jpg"
    - img: "/assets/images/art/m4.jpg"
    - img: "/assets/images/art/m5.jpg"
  - title: Lucy & David
    category: Wedding
    photos:
    - img: "/assets/images/art/fc3.jpg"
    - img: "/assets/images/art/m2.jpg"
    - img: "/assets/images/art/m3.jpg"
    - img: "/assets/images/art/m4.jpg"
    - img: "/assets/images/art/m5.jpg"
  - title: Lucy & David
    category: Wedding
    photos:
    - img: "/assets/images/art/fc4.jpg"
    - img: "/assets/images/art/m2.jpg"
    - img: "/assets/images/art/m3.jpg"
    - img: "/assets/images/art/m4.jpg"
    - img: "/assets/images/art/m5.jpg"
call_to_action:
  enable: true
  bg_image: "/assets/images/art/bg18.jpg"
  title: I'm Here to Capture Your Moments. Looking for a caring, fun, passionate photographer?
  btn_text: Contact Me
  btn_url: "#"
about_us_area:
  enable: true
  title: Hi, I'm Julia, a documentary wedding and couples photographer currently working
    from and living in London.
  image: "/assets/images/art/about10.jpg"
  description: 'Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent
    commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non
    commodo luctus, nisi erat porttitor ligula, eget lacinia odio. Sed posuere consectetur
    est at lobortis facilisis in.

'
  projects:
  - projects_number: "500"
    title: Shots Taken
  - projects_number: "400"
    title: Happy Customers
  - projects_number: "25"
    title: Awards Won
three_columns_area:
  enable: true
  first_column:
    title: My Skills
    description: Etiam porta sem malesuada magna mollis euismod. Praesent commodo
      cursus magna vel.
    skills:
    - title: Photoshop
      progress_amount: "100"
    - title: Final Cut
      progress_amount: "80"
    - title: Motion Video
      progress_amount: "85"
    - title: Manupilation
      progress_amount: "90"
  second_column:
    title: Why Choose Me?
    description: 'Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur
      purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla.
      Nullam id dolor id nibh ultricies. Cras mattis consectetur purus amet fermentum.

'
    lists:
    - Aenean eu leo quam pellentesque.
    - Nullam quis risus eget urna mollis.
    - Donec id elit non mi porta gravida.
    - Fusce dapibus tellus ac commodo.
    - Cras justo odio dapibus ac facilisis in.
  third_column:
    title: My Process
    lists:
    - title: Collect & Concept
      description: Cum sociis natoque penatibus et magnis dis parturient montes.
    - title: Prepare & Shoot
      description: Cum sociis natoque penatibus et magnis dis parturient montes.
    - title: Retouch & Finalize
      description: Cum sociis natoque penatibus et magnis dis parturient montes.

---
<link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/font/font5.css"/>
{% include header.html extra_class="wide absolute transparent inverse-text nav-uppercase" light_logo="true" %}
<div class="wrapper dark-wrapper">
<div class="rev_slider_wrapper fullscreen-container">
<div id="slider9" class="rev_slider fullscreenbanner" data-version="5.4.7">
  <ul>
  	{% for slider in page.slider_area.sliders %}
    <li data-transition="fade" data-thumb="{{slider.img}}">
    	<img src="{{slider.img}}" alt="{{slider.title}}"/>
    </li>
    {% endfor %}
  </ul>
  <div class="tp-static-layers">
  	{% if page.slider_area.sub_title %}
    <div class="tp-caption tp-static-layer font-weight-500 color-white text-uppercase text-center" 
         data-x="center" 
         data-y="middle" 
         data-voffset="['-110','-110','-110','-90']" 
         data-fontsize="['21','21','21','21']" 
         data-lineheight="['31','31','31','31']" 
         data-width="['600','600','600','340']" 
         data-textAlign="['center','center','center','center']" 
         data-whitespace="['normal','normal','normal','normal']" 
         data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]' 
         data-responsive="on" 
         data-responsive_offset="on" 
         data-startslide="0" 
         data-endslide="7" style="z-index: 9; letter-spacing: 2px;"> {{page.slider_area.sub_title}}
    </div>
    {% endif %}
	<!-- /.tp-caption -->
	{% if page.slider_area.title %}
    <div class="tp-caption tp-static-layer text-lowercase font-weight-500 color-white text-center" 
         data-x="center" 
         data-y="middle" 
         data-voffset="['0','0','0','10']" 
         data-fontsize="['70','70','70','46']" 
         data-lineheight="['80','80','80','56']" 
         data-width="['600','600','600','340']" 
         data-textAlign="['center','center','center','center']" 
         data-whitespace="['normal','normal','normal','normal']" 
         data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]' 
         data-responsive="on" 
         data-responsive_offset="on" 
         data-startslide="0" 
         data-endslide="7" style="z-index: 9;"> {{page.slider_area.title}}
    </div>
	<!-- /.tp-caption -->
	{% endif %}
  </div>
  <div class="tp-bannertimer tp-bottom"></div>
</div>
<!-- /.rev_slider -->
</div>
</div>
<!-- /.wrapper -->
{% if page.blogs_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
  	{% if page.blogs_area.title %}
       <div class="row">
       	<div class="col-md-7 mx-auto">
          <div class="divider-heading"><i class="c-flower"></i></div>
          <h3 class="display-3 text-center">{{page.blogs_area.title}}</h3>
          <div class="space40"></div>
       	</div>
       </div>
    {% endif %}
    <div class="grid grid-view boxed">
      <div class="tiles text-center">
        <div class="row isotope">
          {% assign t_posts = site.posts | where: "trending", "true" %}
          {% for post in t_posts %}
          <div class="item grid-sizer col-md-4 corporate application">
            <div class="box bg-white shadow p-30">
              <figure class="main overlay overlay1 rounded mb-30">
              	<a href="{{post.url}}"><img src="{{post.post_image}}" alt="{{post.title}}"/></a>
                <figcaption>
                  <h5 class="from-top mb-0 text-uppercase">View Details</h5>
                </figcaption>
              </figure>
              <div class="post-content">
                <h4 class="mb-0 text-capitalize">{{post.categories[0]}}</h4>
              </div>
            </div>
          </div>
         {% endfor %}
        </div>
        <!-- /.row -->
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if page.testimonials_area.enable %}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.testimonials_area.bg_image}}">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="basic-slider owl-carousel gap-small text-center mb-0" data-margin="30">
          {% for testimonial in page.testimonials_area.testimonials %}
          <div class="item">
            <blockquote class="icon larger">
              <p>"{{testimonial.quote}}"</p>
              <footer class="blockquote-footer">{{testimonial.author}}</footer>
            </blockquote>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if page.video_area.enable %}
<div class="wrapper bg-opacity-default">
  <div class="container inner">
    <div class="row">
    	<div class="col-md-7 mx-auto">
		    {% if page.video_area.sub_title %}
		     <div class="divider-heading"><i class="c-flower"></i></div>
		     <h3 class="display-3 text-center">{{page.video_area.sub_title}}</h3>
		    {% endif %}
    	</div>
    </div>
    <div class="space40"></div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="player" data-plyr-provider="vimeo" data-plyr-embed-id="{{page.video_area.vimeo_video_id}}"></div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if page.gallery_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container-fluid inner">
    <div class="row">
    	<div class="col-md-7 mx-auto">
        <div class="divider-heading"><i class="c-flower"></i></div>
        <h3 class="display-3 text-center">{{page.gallery_area.title}}</h3>
         <div class="space20"></div>
    	</div>
    </div>
    <div class="grid-view boxed text-center">
      <div class="carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "1441":{"items": "3"}}'>
        {% for gallery in page.gallery_area.gallery %}
        <div class="item light-gallery-wrapper">
          <div class="item-inner px-0">
            <div class="box bg-white shadow p-30">
	            <figure class="overlay overlay1 rounded mb-15"> 
                    {% for photos in gallery.photos %}
    	            	<a href="{{photos.img}}" class="lightbox {% if forloop.index > 1 %} d-none {% endif %}" data-lightbox="gallery_{{forloop.index}}">
    	            		<img src="{{photos.img}}" alt="" />
    	            	</a> 
                    {% endfor %}
	              <figcaption>
	                <h5 class="from-top mb-0">View Larger</h5>
	              </figcaption>
	            </figure>
              <div class="post-content">
                <h2 class="post-title mb-10">{{gallery.title}}</h2>
                <div class="meta mb-0"><span>{{gallery.photos.size}} Photos</span><span>{{gallery.category}}</span></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if page.call_to_action.enable %}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.call_to_action.bg_image}}">
  <div class="container inner text-center">
     <div class="row">
     	<div class="col-md-7 mx-auto">
		    <div class="divider-heading color-white"><i class="c-flower"></i></div>
		    <h3 class="display-3 text-center">{{page.call_to_action.title}}</h3>
		    <div class="space20"></div>
		    <a href="{{page.call_to_action.btn_url}}" class="btn btn-white btn-strong-hover">{{page.call_to_action.btn_text}}</a>
     	</div>
     </div>
  </div>
</div>
{% endif %}

<div class="wrapper white-wrapper">
  <div class="container inner pb-0">
    {% if page.about_us_area.enable %}
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="img-blob blob1">
        	<img src="{{page.about_us_area.image}}" style="width: 30rem" alt="{{page.about_us_area.title}}"/>
        </div>
      </div>
      <!--/column -->
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        <h3 class="display-3">{{page.about_us_area.title}}</h3>
        <div class="space20"></div>
        <p>{{page.about_us_area.description}}</p>
        <div class="space20"></div>
        <div class="row counter">
         {% for projects in page.about_us_area.projects %}
          <div class="col-md-4">
            <h3 class="value">{{projects.projects_number}}</h3>
            <p>{{projects.title}}</p>
          </div>
         {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
    {% if page.three_columns_area.enable %}
    <div class="space70"></div>
    <div class="row gutter-40">
      {% assign first_column = page.three_columns_area.first_column %}
      <div class="col-lg-4">
        <h4>{{first_column.title}}</h4>
        <p>{{first_column.description}}</p>
        <ul class="progress-list">
          {% for skills in first_column.skills %}
          <li>
            <p>{{skills.title}}</p>
            <div class="progressbar line default" data-value="{{skills.progress_amount}}"></div>
          </li>
          {% endfor %}
        </ul>
        <!-- /.progress-list -->
      </div>
      <!--/column -->
      {% assign second_column = page.three_columns_area.second_column %}
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-4">
        <h4>{{second_column.title}}</h4>
        <p>{{second_column.description}}</p>
        <ul class="icon-list bullet-default">
          {% for lists in page.three_columns_area.second_column.lists %}
           <li><i class="jam jam-arrow-right"></i>{{lists}}</li>
          {% endfor %}
        </ul>
      </div>
      <!--/column -->
      {% assign third_column = page.three_columns_area.third_column %}
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-4">
        <h4>{{third_column.title}}</h4>
        {% for lists in page.three_columns_area.third_column.lists %}
        <div class="d-flex flex-row">
          <div>
            <span class="icon icon-bg icon-bg-default color-default mr-25"><span class="number">{{forloop.index}}</span></span>
          </div>
          <div>
            <h5 class="mb-5">{{lists.title}}</h5>
            <p class="mb-0">{{lists.description}}</p>
          </div>
        </div>
        <div class="space20"></div>
        {% endfor %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
   {% endif %}
  </div>
  <!-- /.container -->
</div>
{% if page.blogs_area.enable %}
<div class="wrapper light-wrapper blog-posts">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8 mx-auto">
       <div class="divider-heading"><i class="c-flower"></i></div>
       <h3 class="display-3 text-center">{{page.blogs_area.title}}</h3>
      </div>
    </div>
    <div class="space20"></div>
    <div class="grid-view boxed">
      <div class="carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
        {% for post in site.posts %}
        {% assign trending = post.trending %}
        {% unless trending %}
        <div class="item">
          <div class="item-inner">
            <div class="box bg-white shadow p-30">
              {% if post.post_image %}
              <figure class="main overlay overlay1 rounded mb-30">
                <a href="{{post.url}}"> <img class="post-thumb" src="{{post.post_image}}" alt="{{post.title}}"/></a>
                <figcaption>
                  <h5 class="from-top mb-0 text-uppercase">Read More</h5>
                </figcaption>
              </figure>
              {% endif %}
              <div class="category"><a href="/category/{{post.categories[0] | slugify}}" class="badge bg-pink badge-pill bg-leaf">{{post.categories[0]}}</a></div>
              <h2 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h2>
              <div class="meta mb-0"><span class="date">
                <i class="jam jam-clock"></i>{{post.date | date_to_string}}</span>
                {% if post.author %}
                 <span class="comments"><a href="/authors/{{post.author | slugify}}"><i class="jam jam-user"></i> {{post.author}}</a></span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% include footer.html %}