---
layout: ztna-default
page_header:
  enable: true
  title: "The no-bullshit ZTNA vendor directory"
  sub_title: "A curated, impartial and <strong>open-source</strong> directory of ZTNA vendors and architectures."
  button_text: "Show me the full list of ZTNA vendors"
  button_url: "#vendors"
  background_image: "/assets/images/art/bg5.jpg"
  statistics:
    - title: "Vendors"
      quantity: 104
    - title: "Architectures"
      quantity: 9
    - title: "NIST tenets"
      quantity: 7
    - title: "Executive Orders"
      quantity: 1

no-bulshit-proof:
  enable: true
  label: "Lorem ipsum is simply dummy" 
  title: "Why no-bullshit?"
  reasons:
    - "Curated, but impartial"
    - "Technical and Architecture based - not marketing"
    - "Open source contribution, helps to grow the knowledge base"
    - "No agenda"

architecture-summary:
  enabled: true
  title: "Architecture"
  sub_title: "Many roads lead to ZTNA<br />Each architecture has strengths, weaknesses and trade-offs"

timeline:
  enable: true
  title: "Technology Timeline"
  bg_image: "/assets/images/art/bg7.jpg"

testimonials:
  enable: true
  title: "Customer Stories"
  sub_title: "Customer satisfaction is our major goal. See what our customers are saying about us."
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t6.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t5.jpg" 
      name: "Jackie Sanders"
      designation: "Sales Specialist"

---

<div class="content-wrapper">

  {% if page.page_header.enable %}
  {% assign page_d = page.page_header %}

  <div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{{page_d.background_image}}">
    <div class="ztna-head-container mx-auto text-center">

      {% if page_d.title %}
      <h1>{{page_d.title}}</h1>
      {% endif %}
      <div class="space10"></div>
      {% if page_d.sub_title %}
      <p class="ztna-subtitle">{{page_d.sub_title}}</p>
      
      {% endif %}
      {% if page_d.statistics %}
          <div class="ztna-counter-wrapper">
            {% for list in page_d.statistics %}
            <div class="ztna-counter-item counter">
              <p class="h1 value">{{list.quantity}}</p>
              <p  class="ztna-small-text">{{list.title}}</p>
            </div>
            {% endfor %}
          </div>
     
    
      {% endif %}


      {% if page_d.button_text %}
      
        {% include components/link.html content=page_d.button_text %}
  
      
       
      {% endif %}
    </div>
    <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
      <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" /></svg>
    </div>
  </div>
  {% endif %}


  {% if page.no-bulshit-proof.enable %} 
  <div class="no-bulshit-wrapper background-color">
    {% assign no-bulshit = page.no-bulshit-proof %}
    <div class="col-4 text-center mx-auto">  
      <p class="h5 light-text-2">{{no-bulshit.label}}</p>  
      <div class="space10"></div>
      <h2 class="dark-text">{{no-bulshit.title}}</h2>
      <div class="space10"></div>
    </div>


    <div class="col-10 mx-auto"> 
      <div class="row mx-auto">
          
        {% for reason in no-bulshit.reasons%}
            <div class="col-md-6 col-lg-3 col-sm-12 text-center ztna-num-label-wrapper">
              <p p class="light-blue-background-2 ztna-num-label white h2">{{forloop.index}}</p>
              <div class="ztna-num-label-spacer"> </div>
              <p class="h3 dark-text">{{reason}}</p>
            </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

  
  <div class="wrapper white-wrapper">
    <div class="container inner pt-100">
      {% if site.data.ztna.enable %}
      {% assign ztna = site.data.ztna %}
        <div class="ztna"> 
          <div class="space140"></div>
          <div class="row align-items-center">
            {% if ztna.image %}
            <div class="col-lg-6">
              <figure>
                <img src="{{ztna.image}}" alt="{{ztna.title}}"/>
              </figure>
            </div>
            {% endif %}
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-md-15">
              {% if ztna.title %}
              <h2 class="title-color color-gray">{{ztna.title}}</h2>
              {% endif %}
              {% if ztna.sub_title %}
              <h3 class="display-3">{{ztna.sub_title}}</h3>
              {% endif %}
              <div class="space20"></div>
              {% if ztna.description %}
              <p>{{ztna.description}}</p>
              {% endif %}
              <ul class="icon-list bullet-default">
              {% for list in ztna.lists %}
                <li>
                  <i class="icofont-verification-check"></i>
                  {{list}}
              </li>
              {% endfor %}
              </ul>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
      {% endif %}

      {% if site.data.nist-sp-800-207.enable %}
      {% assign nist = site.data.nist-sp-800-207 %}
        <div class="nist-sp-800-207">
          <div class="space140"></div>
          <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15">
              {% if nist.title %}
              <h2 class="title-color color-gray">{{nist.sub_title}}</h2>
              {% endif %}
              {% if nist.sub_title %}
              <h3 class="display-3">{{nist.title}}</h3>
              {% endif %}
              <div class="space20"></div>
              {% for paragraph in nist.paragraphs %}
              <p>{{paragraph.text}}</p>
              {% endfor %}
            </div>
            <div class="col-lg-6">
              <div id="dial1">
                <ul class="dial">
                  {% for tenents in nist.tenents %}
                  <li>
                    <div class="dial-item {% if forlop.index == 1 %} active {% endif %}" data-cyrcleBox="cf1-{{forloop.index}}"><span class="icon icon-blob icon-blob-{{tenents.color}} color-{{tenents.color}} mb-20"><i class="{{tenents.icon}}"></i><span class="step bg-{{tenents.color}}">{{forloop.index}}</span></span></div>
                    <div class="dial-item-info" id="cf1-{{forloop.index}}">
                      <div class="dial-item-info-inner">
                        <h3>{{forloop.index}}. {{tenents.title}}</h3>
                        <p>{{tenents.description}}</p>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/row -->
        </div>
      {% endif %}
      
      {% if site.data.sase.enable %}
      {% assign sase = site.data.sase %}
        <div class="sase"> 
          <div class="space140"></div>
          <div class="row align-items-center">

            {% if sase.image %}
            <div class="col-lg-6">
              <figure>
                <img src="{{sase.image}}" alt="{{sase.title}}"/>
              </figure>
            </div>
            {% endif %}
            
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>

            <div class="col-lg-6 pr-60 pr-md-15">
              {% if sase.title %}
              <h2 class="title-color color-gray">{{sase.title}}</h2>
              {% endif %}
              {% if sase.sub_title %}
              <h3 class="display-3">{{sase.sub_title}}</h3>
              {% endif %}
              {% for paragraph in sase.paragraphs %}
              <p>{{paragraph.text}}</p>
              {% endfor %}
              <!--
              {% for list in sase.lists %}
              <div class="space30"></div>
              <div class="d-flex flex-row justify-content-center">
                <div>
                  <span class="icon icon-blob icon-blob-{{list.icon_color}} color-{{list.icon_color}} mr-25">
                    <i class="{{list.icon}}"></i>
                    <span class="step bg-{{list.icon_color}}">{{forloop.index}}</span>
                  </span>
                </div>
                <div>
                  <h5>{{list.title}}</h5>
                  <p class="mb-0">{{list.description}}</p>
                </div>
              </div>
              {% endfor %}
              -->
            </div>

          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="wrapper">
    <div class="container inner pt-0">
      <div class="space140"></div>
      <h2 class="title-color color-gray text-center">{{page.architecture-summary.title}}</h2>
      <h3 class="display-3 text-center">{{page.architecture-summary.sub_title}}</h3>
      <div class="basic-slider owl-carousel grid" data-margin="5">
        {% for architecture in site.data.architecture %}
          {% assign arch = architecture[1] %}

          <div class="item item-detailed">
            <figure class="rounded mb-20">
              {% if arch.image %}
              <div class="item-detailed-image">
                <img src="{{arch.image}}" alt="{{arch.name}}"/>
              </div>
              {% endif %}
            </figure>
            <div class="item-content">
              {% if arch.name %}
              <h2 id="arch.name" class="post-title mb-10"><a href="#{{arch.name | replace: ' ', '-' | downcase }}">{{arch.name}}</a></h2>
              {% endif %}
              <div class="mb-0">
                {% if arch.description %}
                <p>{{arch.description}}</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% if page.timeline.enable  %}
  <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.timeline.bg_image}}">
    
    <div class="container">
      <div class="space60"></div>
      <h2 class="title-color color-white text-center">{{page.timeline.title}}</h2>
    </div>
    
    <!--
    <div class="space60"></div>
    <div class="container inner">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="row text-center">


          </div>
        </div>
      </div>
    </div>
    -->
    
    <!-- thanks https://squarechip.github.io/timeline/ -->

    <div class="container">
      <div class="timeline">
        <div class="timeline__wrap">
          <div class="timeline__items">
            <div class="timeline__item">
              <div class="timeline__content">
                <h2>2018</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 2
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 3
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 4
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 5
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 6
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 7
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 7
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 8
              </div>
            </div>
          </div>
        </div>
        <div class="space60"></div>
      </div>
  
      <script>
        window.addEventListener('load', function() {
          timeline(document.querySelectorAll('.timeline'), {
            mode: 'horizontal',
            visibleItems: 6
          });
        });
      </script>
    </div>
  </div>
  {% endif %}

  <div id="vendors" class="wrapper white-wrapper">
    <div class="container inner pt-0">
      
      {% for architecture in site.data.architecture %}
      {% assign arch = architecture[1] %}
        {% if arch.vendors %}
          <div>
            <div class="space140" id="{{arch.name | replace: ' ', '-' | downcase }}"></div>
            <h3 class="display-3">{{arch.name}} {% if arch.abbreviation != "" %}({{arch.abbreviation}}){% endif %}</h3>
            <div class="space10"></div>
            <div class="row">
              <div class="col-md-8">
                {% for paragraph in arch.paragraphs %}
                  <p>{{paragraph.text}}</p>
                {% endfor %}
              </div>
              <div class=col-md-4"></div>
            </div>
            <div class="space30"></div>
          </div>
          <div class="row">
            <div class="col-md-4">
              {% if arch.strengths %}
                <h4>Strengths</h4>
                <ul class="icon-list bullet-green">
                  {% for strength in arch.strengths %}
                    <li><i class="jam jam-check"></i> {{strength.title}}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="col-md-4">
              <h4>Weaknesses</h4>
              <ul class="icon-list bullet-red">
                {% for weakness in arch.weaknesses %}
                  <li><i class="jam jam-minus-circle"></i> {{weakness.title}}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-md-4">
              <h4>Trade-offs</h4>
              <ul class="icon-list bullet-blue">
                {% for tradeoff in arch.tradeoffs %}
                  <li><i class="jam jam-star"></i> {{tradeoff.title}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>

            <!-- <div class="space60"></div>
            <div class="text-center">
              <h2 class="title-bg bg-default color-grey">{{arch.name}} Vendors</h2>
            </div>
            <div class="container-fluid">
              <table class="table table-sm">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Company</th>
                    <th scope="col">Product</th>
                    <th scope="col">License</th>
                    <th scope="col">Deployment</th>
                    <th scope="col">Pricing</th>
                  </tr>
                </thead>
                <tbody>
                  {% assign vendors = arch.vendors | sort: 'company' %}
                  {% for vendor in vendors %}
                  <tr>
                    <td scope="row">{{ forloop.index }}.</td>
                    <td><a href="{{vendor.url}}" target="_blank" rel="noopener noreferrer" class="color-blue">{{vendor.company}}</a></td>
                    <td>{{vendor.product}}</td>
                    <td>{{vendor.license}}</td>
                    <td>{{vendor.deployment}}</td>
                    <td>{{vendor.pricing}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        {% endif %}
      {% endfor %}

    </div>
  </div> -->

  {% if page.testimonials.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <div class="testimonials-area">
        <div class="row">
            <div class="col-md-7 mx-auto">
                {% if page.testimonials.title %}
                <h2 class="title-color color-gray text-center mb-30">{{page.testimonials.title}}</h2>
                {% endif %} {% if page.testimonials.sub_title %}
                <h3 class="display-3 text-center">{{page.testimonials.sub_title}}</h3>
                {% endif %}
            </div>
        </div>
      <div class="space10"></div>
      <div class="grid-view">
        <div class="carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1140":{"items": "3"}}'>
        {% for feedback in page.testimonials.feedback %}
        <div class="item">
            <div class="item-inner">
                <div class="bg-white shadow p-3">
                    <blockquote>
                        <p>"{{feedback.quote}}"</p>
                        <div class="blockquote-details">
                            {% if feedback.image %}
                            <div class="img-blob blob1">
                                <img src="{{feedback.image}}" alt="{{feedback.name}}" />
                            </div>
                            {% endif %}
                            <div class="info">
                                <h6 class="mb-0">{{feedback.name}}</h6>
                                <span class="meta mb-0">{{feedback.designation}}</span>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>
  {% endif %}



</div>
