---
layout: default

slider_area:
  enable: true
  sliders:

    - title: "We bring rapid solutions for your business needs"
      sub_title: "We have considered our solutions to support every stage of your growth."
      image: "/assets/images/concept/concept21.png"
      bg_image: "/assets/images/concept/bg1.svg"
      button_text: "Learn More" 
      button_url: "#"

    - title: "Just Sit Back & Relax"
      sub_title: "We make your spending stress-free for you to have the perfect control."
      image: "/assets/images/concept/concept22.png"
      bg_image: "/assets/images/concept/bg2.svg"
      button_text: "Learn More" 
      button_url: "#"

features_area:
  enable: true
  title: "What We Do?"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  features:
    - title: "SEO Services"
      icon: "jam jam-search"
      icon_color: "blue"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

    - title: "Web Design"
      icon: "jam jam-layout"
      icon_color: "green"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

    - title: "Social Engagement"
      icon: "jam jam-share-alt"
      icon_color: "pink"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

    - title: "Content Marketing"
      icon: "jam jam-task-list"
      icon_color: "purple"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

video_area:
  enable: true
  title: "How It Works?"
  sub_title: "Find out everything you need about creating a business process model."
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"
  image: "/assets/images/art/about2.jpg"
  lists:

    - title: "Creative Ideas"
      description: "Nulla vitae elit libero at pharetra augue metus."

    - title: "Magic Touch"
      description: "Nulla vitae elit libero at pharetra augue metus."

    - title: "Data Analysis"
      description: "Nulla vitae elit libero at pharetra augue metus."

    - title: "Finalize Product"
      description: "Nulla vitae elit libero at pharetra augue metus."

about_us_area:
  enable: true
  title: "Hi, I'm Julia, a documentary wedding and couples photographer currently working from and living in London."
  image: "/assets/images/art/about2.jpg"
  description: |
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio. Sed posuere consectetur est at lobortis facilisis in.
  projects:
    - projects_number: 500
      title: "Shots Taken"
    - projects_number: "400k"
      title: "Happy Customers"
    - projects_number: "25k"
      title: "Awards Won"

progress_area:
  enable: true
  title: "Save Time and Money"
  sub_title: "Save your time and money by choosing our professional team."
  lists:
    - title: "Money Saved"
      description: "Integer posuere erat a ante venenatis dapibus posuere velit."
      numbers: 45
      bar_color: "pink"

    - title: "Time Saved"
      description: "Integer posuere erat a ante venenatis dapibus posuere velit."
      numbers: 35
      bar_color: "purple"

projects_area:
  enable: true
  title: "Our Projects"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  button_text: "See All Works"
  button_url: "#"
  projects:
    - image: "/assets/images/art/fp12.jpg"
      url: "#"
    - image: "/assets/images/art/fp15.jpg"
      url: "#"
    - image: "/assets/images/art/fp8.jpg"
      url: "#"
    - image: "/assets/images/art/fp14.jpg"
      url: "#"
    - image: "/assets/images/art/fp6.jpg"
      url: "#"
    - image: "/assets/images/art/fp13.jpg"
      url: "#"

completed_projects:
  enable: true
  bg_image: "/assets/images/art/bg27.jpg"
  lists: 

    - numbers: "7518" 
      title: "Completed Projects"

    - numbers: "3472" 
      title: "Satisfied Customers"

    - numbers: "2184" 
      title: "Expert Employees"

    - numbers: "4523" 
      title: "Awards Won"

testimonials:
  enable: true
  image: "/assets/images/art/about9.png"
  projects_number: 500
  project_tag: "Happy Customers"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

clients_carousel:
  enable: true

blogs_area:
  enable: true
  title: "Our Journal"
  sub_title: "Here are the latest company news from our blog that got the most attention."

contact_area:
  enable: true
  title: "Get in Touch"
  sub_title: "Have any questions? Reach out to us from our contact form and we will get back to you shortly."
  action_email: "tortoizthemes@gmail.com"
  lists:
    - title: Address
      info_01: "Moonshine St. 14/05 Light City,"
      info_02: "London, United Kingdom"
      icon: "jam jam-gps"

    - title: E-mail
      info_01: "tortoizthemes@gmail.com"
      info_02: "tortoizthemes@gmail.com"
      icon: "jam jam-phone"

    - title: Phone
      info_01: "+00 (123) 456 78 90"
      info_02: "+00 (123) 456 78 90"
      icon: "jam jam-envelope-open"

  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "First Name Is required" 

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Laast Name" 
      error_message: "Last Name Is required"

    - field_type: "input"
      field_name: "user_email"
      placeholder: "Email"
      error_message: "Email Is required"

    - field_type: "input"
      field_name: "user_phone"
      placeholder: "Phone Number"
      error_message: "Phone Number Is required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "Message"
      error_message: "Message Is required"
---
<link rel="stylesheet" type="text/css" href="/assets/css/color/rose.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/font/font4.css"/>
<div class="content-wrapper">
{% include header.html extra_class="absolute transparent" logo_class="logo" container_class="container" %}
{% if page.slider_area.enable %}
<div class="wrapper white-wrapper">
  <div class="rev_slider_wrapper fullwidth-container dark-spinner dark-nav">
    <div id="slider16" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
      	{% for slider in page.slider_area.sliders %}
        <li data-transition="fade" data-thumb="">
          <img src="/assets/images/dummy.png" data-bgcolor="#fff" alt="slider"/>
          {% if slider.bg_image %}
          <div class="tp-caption" 
             data-x="['center','center','center','center']" 
             data-y="['bottom','bottom','bottom','bottom']" 
             data-hoffset="['0','0','0','0']" 
             data-voffset="['-2','-2','-2','-2']" 
             data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-visibility="['on','on','on','on']" 
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive="on" 
             data-responsive_offset="on" 
             data-basealign="slide" style="z-index: 5;">
             <img data-lazyload="" src="{{slider.bg_image}}" data-ww="['100%','100%','100%','100%']" 
             data-hh="['auto','auto','auto','auto']" alt="{{slider.title}}" />  
        </div>
	      <!-- /.tp-caption -->
	      {% endif %}
	      {% if slider.image %}
          <div class="tp-caption" 
             data-x="left" 
             data-y="middle" 
             data-hoffset="['650','550','390','420']" 
             data-voffset="20" 
             data-frames='[{"delay":500,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-visibility="['on','on','on','off']" 
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive_offset="on" 
             data-basealign="grid" style="z-index: 5;"><img 
             data-lazyload="" src="{{slider.image}}" 
             data-ww="400" 
             data-hh="auto" alt="" />  
          </div>
	      <!-- /.tp-caption -->
	      {% endif %}
	      {% if slider.title %}
          <div class="tp-caption font-weight-600 color-dark" 
             data-x="['left','left','left','left']" 
             data-y="middle" 
             data-hoffset="['50','70','30','30']" 
             data-voffset="['-105','-105','-145','-115']" 
             data-fontsize="['40','40','36','36']" 
             data-lineheight="['52','52','46','46']" 
             data-width="['450','450','340','340']" 
             data-textAlign="['left','left','left','left']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{slider.title}}
        </div>
	     <!-- /.tp-caption -->
	     {% endif %}
	     {% if slider.sub_title %}
          <div class="tp-caption font-weight-400 color-dark" 
             data-x="['left','left','left','left']" 
             data-y="middle" 
             data-hoffset="['50','70','30','30']" 
             data-voffset="[0','0','0','30']" 
             data-fontsize="['26','26','24','24']" 
             data-lineheight="['36','36','34','34']" 
             data-width="['450','450','340','340']" 
             data-textAlign="['left','left','left','left']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{slider.sub_title}} 
        </div>
	     <!-- /.tp-caption -->
	     {% endif %}
	     {% if slider.button_text %}
          <a class="tp-caption btn btn-l btn-default" 
             data-x="['left','left','left','left']" 
             data-y="middle" 
             data-hoffset="['50','70','30','30']" 
             data-voffset="['95','95','115','145']" 
             data-width="['auto','auto','auto','auto']" 
             data-textAlign="['left','left','left','left']" 
             data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;" href="{{slider.button_url}}"> {{slider.button_text}}
        </a>
	    <!-- /.tp-caption -->
	    {% endif %}
        </li>
        {% endfor %}
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}

<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row">
    	<div class="col-md-9">
		    {% if page.features_area.title %}
		     <h2 class="title-color color-gray">{{page.features_area.title}}</h2>
		    {% endif %}
		    {% if page.features_area.sub_title %}
		     <h2 class="display-3">{{page.features_area.sub_title}}</h2>
		    {% endif %}
    	</div>
    </div>
    <div class="space40"></div>
    {% if page.features_area.enable %}
    <div class="row gutter-60 gutter-md-30">
      {% for features in page.features_area.features %}
      <div class="col-md-6 col-lg-3">
      	{% if features.icon %}
         <div class="icon icon-blob icon-blob-{{features.icon_color}} color-{{features.icon_color}} mb-20"> <i class="{{features.icon}}"></i> </div>
        {% endif %}
        <h5>{{features.title}}</h5>
        <p>{{features.description}}</p>
      </div>
      {% endfor %}
    </div>
    <!--/.row -->
    {% endif %}
    {% if page.video_area.enable %}
    <div class="space140"></div>
    <div class="row align-items-center">
      <div class="col-lg-6 play-wrapper light-gallery-wrapper text-center">
        <div class="img-blob blob8">
        	<img src="{{page.video_area.image}}" style="width: 30rem" alt="{{page.video_area.title}}" />
        </div>
        {% if page.video_area.video_url %}
         <a href="{{page.video_area.video_url}}" class="btn-play lightbox"></a>
        {% endif %}
      </div>
      <!--/column -->
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-50 pl-md-15">
      	{% if page.video_area.title %}
         <h2 class="title-color color-gray">{{page.video_area.title}}</h2>
        {% endif %}
        {% if page.video_area.sub_title %}
         <h3 class="display-3">{{page.video_area.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        <div class="row">
          {% for list in page.video_area.lists %}
          <div class="col-md-6">
            <h5>{{list.title}}</h5>
            <p>{{list.description}}</p>
          </div>
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% if page.progress_area %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      <div class="col-lg-6">
      	{% if page.progress_area.title %}
        <h2 class="title-color color-gray">{{page.progress_area.title}}</h2>
        {% endif %}
        {% if page.progress_area.sub_title %}
        <h3 class="display-3">{{page.progress_area.sub_title}}</h3>
        {% endif %}
      </div>
      <!--/column -->
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6">
        <div class="row text-center">
         {% for list in page.progress_area.lists %}
          <div class="col-md-6">
            <div class="progressbar circle {{list.bar_color}}" data-value="{{list.numbers}}"></div>
            <h5>{{list.title}}</h5>
            <p>{{list.description}}</p>
          </div>
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.projects_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner pb-50">
  	{% if page.projects_area.title %}
     <h2 class="title-color color-gray">{{page.projects_area.title}}</h2>
    {% endif %}
    <div class="row align-items-center">
    {% if page.projects_area.sub_title %}
	  <div class="col-md-7">
	    <h3 class="display-3 mb-0">{{page.projects_area.sub_title}}</h3>
	  </div>
    {% endif %}
    {% if page.projects_area.button_text %}
      <div class="col-md-3 ml-auto text-right">
        <a href="{{page.projects_area.button_url}}" class="btn btn-default m-0">{{page.projects_area.button_text}}</a>
      </div>
    {% endif %}
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
  <div class="container-fluid pl-30 pr-30">
    <div class="grid-view">
      <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "1441":{"items": "3"}}'>
      	{% for project in page.projects_area.projects %}
        <div class="item">
          <figure class="rounded">
            <img src="{{project.image}}" alt="{{project.title}}"/>
             <a class="item-link" href="{{project.url}}"><i class="jam jam-link"></i></a>
          </figure>
        </div>
        {% endfor %}
      </div>
      <!-- /.owl-carousel -->
    </div>
    <!-- /.grid-view -->
  </div>
  <!-- /.container-fluid -->
  <div class="space140"></div>
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.completed_projects.enable %}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.completed_projects.bg_image}}">
  <div class="container inner text-center">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row counter">
          {% for list in page.completed_projects.lists %}
          <div class="col-md-3 text-center">
            <h3 class="value">{{list.numbers}}</h3>
            <p><strong>{{list.title}}</strong></p>
          </div>
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="space120"></div>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
<div class="wrapper overflow-top bleed-s">
  <div class="container inner pt-0">
  	{% if page.testimonials.enable %}
    <div class="grid-view">
      <div class="carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1140":{"items": "3"}}'>
      {% for feedback in page.testimonials.feedback %}
        <div class="item">
          <div class="item-inner">
            <div class="box bg-white shadow">
                <blockquote>
                  <p>"{{feedback.quote}}"</p>
                  <div class="blockquote-details">
                    {% if feedback.image %}
                    <div class="img-blob blob1">
                      <img src="{{feedback.image}}" alt="{{feedback.name}}"/>
                    </div>
                    {% endif %}
                    <div class="info">
                      <h6 class="mb-0">{{feedback.name}}</h6>
                      <span class="meta mb-0">{{feedback.designation}}</span>
                    </div>
                  </div>
                </blockquote>
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item-inner -->
        </div>
        <!-- /.item -->
        {% endfor %}
      </div>
      <!-- /.owl-carousel -->
    </div>
    <!-- /.grid-view -->
    {% endif %}
    {% if page.clients_carousel.enable %}
    <div class="space80"></div>
      {% include clients_carousel.html %}
    </div>
    <!-- /.owl-carousel -->
    {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
	{% if page.blogs_area.enable %}
	<div class="wrapper white-wrapper">
	  <div class="container inner">
        <div class="row">
        	<div class="col-md-8">
			  	{% if page.blogs_area.title %}
			     <h2 class="title-color color-gray">{{page.blogs_area.title}}</h2>
			    {% endif %}
			    {% if page.blogs_area.sub_title %}
			     <h3 class="display-3">{{page.blogs_area.sub_title}}</h3>
			    {% endif %}
        	</div>
        </div>
	    <div class="space40"></div>
	    <div class="grid-view">
	      <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
	      	{% for post in site.posts %}
	        <div class="item">
            {% if post.post_image %}
            <figure class="main mb-30 overlay overlay1 rounded">
              <a href="{{post.url}}"> <img src="{{post.post_image}}" class="post-thumb" alt="{{post.title}}" /></a>
              <figcaption>
                <h5 class="from-top text-uppercase mb-0">Read More</h5>
              </figcaption>
            </figure>
            {% endif %}
            {% if post.categories %}
            <div class="category">
              <a href="/category/{{post.categories[0] | slugify}}" class="badge badge-pill bg-leaf">{{post.categories[0]}}</a>
            </div>
            {% endif %}
            <h2 class="post-title">
              <a href="{{post.url}}">{{post.title | truncatewords: 9}}</a>
            </h2>
            <div class="post-content">
              <p>{{post.excerpt | strip_html | truncatewords: 20}}</p>
            </div>
            <!-- /.post-content -->
            {% if post.date %}
            <div class="meta mb-0">
              <span class="date"><i class="jam jam-clock"></i> {{post.date | date_to_string}}</span>
            </div>
            {% endif %}
	        </div>
            {% endfor %}
	      </div>
	      <!-- /.owl-carousel -->
	    </div>
	    <!-- /.grid-view -->
	  </div>
	  <!-- /.container -->
	</div>
	<!-- /.wrapper -->
	{% endif %}
  {% if page.contact_area.enable %}
	<section id="contact">
	  <div class="wrapper light-wrapper">
	    <div class="container inner">
          <div class="row">
          	<div class="col-md-8">
		      {% if page.contact_area.title %}
		       <h2 class="section-title">{{page.contact_area.title}}</h2>
		      {% endif %}
		      {% if page.contact_area.sub_title %}
		       <p class="lead larger">{{page.contact_area.sub_title}}</p>
		      {% endif %}
          	</div>
          </div>
	      <div class="space40"></div>
	      <div class="row">
	        <div class="col-lg-4">
	          {% for lists in page.contact_area.lists %}
	          <div class="d-flex flex-row">
	            <div>
	              <div class="icon color-default fs-34 mr-25"> <i class="{{lists.icon}}"></i> </div>
	            </div>
	            <div>
	              <h6 class="mb-5">{{lists.title}}</h6>
	              <address>{{lists.info_01}} 
	              	{% if lists.info_02 %}
	                <br class="d-none d-md-block" />
	                {{lists.info_02}}
	               {% endif %}
	              </address>
	            </div>
	          </div>
            {% endfor %}
	        </div>
	        <!--/column -->
	        <div class="col-lg-8">
	          <form id="contact-form" class="fields-white" method="post" action="https://formsubmit.io/send/{{page.contact_area.action_email}}">
	            <div class="messages"></div>
	            <div class="controls">
	              <div class="form-row">
	              	{% for forms_data in page.contact_area.forms_data %}
	              	{% if forms_data.field_type == "input" %}
	                <div class="col-lg-12 col-xl-6">
	                  <div class="form-group">
	                    <input id="{{forms_data.field_name}}" type="text" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}}  *" required="required" data-error="{{forms_data.error_message}}">
	                    <div class="help-block with-errors"></div>
	                  </div>
	                </div>
	                {% else if forms_data.field_type == "textarea" %}
	                <div class="col-md-12">
	                  <div class="form-group">
	                    <textarea id="{{forms_data.field_name}}" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" rows="4" required="required" data-error="{{forms_data.error_message}}"></textarea>
	                    <div class="help-block with-errors"></div>
	                  </div>
	                </div>
	                {% endif %}
                  {% endfor %}
	              </div>
	              <div class="form-row">
	                <div class="col-md-12">
	                  <input type="submit" class="btn btn-send" value="Send message">
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="col-md-12">
	                  <p class="text-muted"><strong>*</strong> These fields are required.</p>
	                </div>
	              </div>
	            </div>
	          </form>
	          <!-- /form -->
	        </div>
	        <!--/column -->
	      </div>
	      <!--/.row -->
	    </div>
	    <!-- /.container -->
	  </div>
	  <!-- /.wrapper -->
	</section>
	<!-- /section --> 
	{% endif %}
  {% include footer.html %}
</div>
