---
layout: default

hero_area:
  enable: true
  title: "Hi, I'm Julia Davis"
  sub_title: |
    I’m a passionate corporate brand designer based in New York. Find my works on <a href="#" class="hover">Dribbble</a>, my portfolio on <a href="#" class="hover">Behance</a> in case you are curious.
  button_text: "See My Works "
  button_url: "#"
  image: "/assets/images/art/about10.jpg"
  section_id: "home"

skills_area: 
  enable: true
  title: "What We Do?"
  sub_title: "We specialize in web, mobile, brand & product design. We love to turn ideas into beautiful things."
  section_id: "services"
  skills:
    - title: "Web Development"
      numbers: 100
      style: "pink"

    - title: "Product Design"
      numbers: 80
      style: "blue"

    - title: "Identity & Branding"
      numbers: 85
      style: "green"

    - title: "Mobile Development"
      numbers: 90
      style: "purple"

boxes_area:
  enable: true
  lists:
    - title: "Web Development"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."
      icon: "icofont-code"

    - title: "Product Design"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."
      icon: "icofont-magic-alt"

    - title: "Identity & Branding"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."
      icon: "icofont-paint"

    - title: "Mobile Development"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."
      icon: "icofont-smart-phone"

testimonials:
  enable: true
  image: "/assets/images/art/about9.png"
  projects_number: 500
  project_tag: "Happy Customers"
  section_id: "testimonials"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

experiences:
  enable: true
  title: "My Experiences"
  sub_title: "I've had the pleasure to work with companies across a variety of industries. I'm always interested in new and exciting adventures."
  button_text: "See My Works"
  button_url: "#"
  section_id: "experiences"
  lists:
    - title: "Creative Director at Malory House"
      date: "NOV 2011 - PRESENT"
      description: Vivamus sagittis lacus augue laoreet rutrum faucibus dolor.

    - title: "Junior Developer at Webpaint Media"
      date: "SEP 2002 - APR 2005"
      description: Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit.

    - title: "Front-end Developer at Creative Agency"
      date: "MAY 2002 - AUG 2002"
      description: Cras justo odio, dapibus ac facilisis in, egestas eget quam.

    - title: "Senior Developer at Longwave Studio"
      date: "MAY 2005 - SEP 2011"
      description: Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit.

portfolios_area:
  enable: true
  title: "My Latest Works"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  section_id: "portfolio"
  portfolios:
    - title: "Shopping Bag"
      sub_title: "Application"
      sm_img: "/assets/images/art/s1.jpg"
      big_img: "/assets/images/art/s1-2.jpg"
      url: "#"

    - title: "Paperback Book"
      sub_title: "Corporate, Branding"
      sm_img: "/assets/images/art/s2.jpg"
      big_img: "/assets/images/art/s2-2.jpg"
      url: "#"
      
    - title: "Clipboard Office"
      sub_title: "Application"
      sm_img: "/assets/images/art/s3.jpg"
      big_img: "/assets/images/art/s3-2.jpg"
      url: "#"
      
    - title: "Branding Stationery"
      sub_title: "Video, Application"
      sm_img: "/assets/images/art/s4.jpg"
      big_img: "/assets/images/art/s4-2.jpg"
      url: "#"
      
    - title: "Branding Stationery"
      sub_title: "Video, Application"
      sm_img: "/assets/images/art/s5.jpg"
      big_img: "/assets/images/art/s5-2.jpg"
      url: "#"
      
    - title: "Shopping Paperbag"
      sub_title: "Corporate, Branding"
      sm_img: "/assets/images/art/s6.jpg"
      big_img: "/assets/images/art/s6-2.jpg"
      url: "#"

contact_area:
  enable: true
  title: "Get in Touch"
  sub_title: "Have any questions? Reach out to us from our contact form and we will get back to you shortly."
  action_email: "tortoizthemes@gmail.com"
  section_id: "contact"
  lists:
    - title: Address
      info_01: "Moonshine St. 14/05 Light City,"
      info_02: "London, United Kingdom"
      icon: "icofont-location-pin"

    - title: E-mail
      info_01: "tortoizthemes@gmail.com"
      info_02: "tortoizthemes@gmail.com"
      icon: "icofont-mail-box"

    - title: Phone
      info_01: "+00 (123) 456 78 90"
      info_02: "+00 (123) 456 78 90"
      icon: "icofont-telephone"

  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "First Name Is required" 

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Laast Name" 
      error_message: "Last Name Is required"

    - field_type: "input"
      field_name: "user_email"
      placeholder: "Email"
      error_message: "Email Is required"

    - field_type: "input"
      field_name: "user_phone"
      placeholder: "Phone Number"
      error_message: "Phone Number Is required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "Message"
      error_message: "Message Is required"
---
<link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/color/aqua.css"/>
<div class="content-wrapper">
{% include one_page_nav.html %}
{% if page.hero_area.enable %}
<section id="{{page.hero_area.section_id}}">
<div class="wrapper bg-opacity-default">
  <div class="rev_slider_wrapper fullwidth-container dark-spinner">
    <div id="slider6" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
        <li data-transition="fade" data-thumb="">
        <img src="/assets/images/dummy.png" style="background:transparent" alt="{{page.hero_area.title}}"/>
          <div class="tp-caption font-weight-600 color-dark" 
             data-x="['left','left','center','center']" 
             data-y="['middle','middle','bottom','bottom']" 
             data-hoffset="['50','30','0','0']" 
             data-voffset="['-100','-120','280','280']" 
             data-fontsize="['40','40','40','32']" 
             data-lineheight="['50','50','50','42']" 
             data-width="['460','380','650','340']" 
             data-textAlign="['left','left','center','center']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1100,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.title}}
        </div>
		<!-- /.tp-caption -->
          <div class="tp-caption font-weight-400 color-dark" 
             data-x="['left','left','center','center']" 
             data-y="['middle','middle','bottom','bottom']"  
             data-hoffset="['50','30','0','0']" 
             data-voffset="['30','30','150','140']" 
             data-fontsize="['26','26','26','20']" 
             data-lineheight="['38','38','38','32']" 
             data-width="['460','380','650','340']" 
             data-textAlign="['left','left','center','center']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.sub_title}}
        </div>
		<!-- /.tp-caption -->
          <a class="tp-caption btn btn-l scroll" 
             data-x="['left','left','center','center']" 
             data-y="['middle','middle','bottom','bottom']" 
             data-hoffset="['50','30','0','0']"
             data-voffset="['175','190','60','60']" 
             data-width="['auto','auto','auto','auto']" 
             data-frames='[{"delay":1900,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;" href="{{page.hero_area.button_url}}"> {{page.hero_area.button_text}}
        </a>
		   <!-- /.tp-caption -->
		  {% if page.hero_area.image %}
          <div class="tp-caption img-blob blob8" 
             data-x="['right','right','center','center']" 
             data-y="['middle','middle','top','top']" 
             data-hoffset="['60','30','10','10']" 
             data-voffset="['25','25','100','100']" 
             data-frames='[{"delay":700,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-visibility="['on','on','on','on']" 
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 5;">
            <img data-lazyload="" src="{{page.hero_area.image}}" 
             data-ww="['550','500','400','300']" 
             data-hh="auto" alt="{{page.hero_area.title}}" />  
        </div>
		{% endif %}
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
</section>
{% endif %}
  <section id="services">
    <div class="wrapper light-wrapper">
      <div class="container inner">
      	{% if page.skills_area.enable %}
		<div class="row align-items-center">
		  <div class="col-lg-4 order-lg-2">
		  	{% if page.skills_area.title %}
		     <h2 class="section-title mb-20">{{page.skills_area.title}}</h2>
		    {% endif %}
		    {% if page.skills_area.sub_title %}
		     <p class="lead larger">{{page.skills_area.sub_title}}</p>
		    {% endif %}
		  </div>
		  <div class="space30 d-none d-md-block d-lg-none"></div>
		  <div class="col-lg-7 order-lg-2 offset-lg-1">
		    <ul class="progress-list">
		      {% for skills in page.skills_area.skills %}
		      <li>
		        <p>{{skills.title}}</p>
		        <div class="progressbar line {{skills.style}}" data-value="{{skills.numbers}}"></div>
		      </li>
		      {% endfor %}
		    </ul>
		  </div>
		</div>
		{% endif %}
		{% if page.boxes_area.enable %}
        <div class="boxes-area">
		<div class="space60"></div>
		<div class="row text-center">
		  {% for list in page.boxes_area.lists %}
		  <div class="col-md-6 col-lg-3">
		    <div class="box bg-white shadow shadow-hover">
		      <div class="icon color-default fs-42 mb-20"> <i class="{{list.icon}}"></i> </div>
		      <h5>{{list.title}}</h5>
		      <p>{{list.description}}</p>
		    </div>
		    <!--/.box -->
		  </div>
          {% endfor %}
		</div>
      </div>
      {% endif %}
      </div>
    </div>
  </section>
  {% if page.experiences.enable %}
  <section id="{{page.experiences.section_id}}">
   <div class="wrapper bg-opacity-default">
    <div class="container inner">
      <div class="row align-items-center">
        <div class="space30 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-4 order-lg-2">
          {% if page.experiences.title %}
           <h2 class="section-title mb-20">{{page.experiences.title}}</h2>
          {% endif %}
          {% if page.experiences.sub_title %}
          <p class="lead larger">{{page.experiences.sub_title}}</p>
          {% endif %}
          {% if page.experiences.button_text %}
          <div class="space10"></div>
          <a href="{{page.experiences.button_url}}" class="btn btn-l">{{page.experiences.button_text}}</a>
          {% endif %}
        </div>
        <!--/column -->
        <div class="space30 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-7 order-lg-2 offset-lg-1 grid">
          <div class="row isotope">
          	{% for list in page.experiences.lists %}
          	{% assign check_index = forloop.index | modulo: 2 %}
          	{% if check_index == 1 %}
          	<div class="col-md-6 item grid-sizer">
              <div class="box bg-white shadow shadow-hover">
                <h5>{{list.title}}</h5>
                <div class="meta">{{list.date}}</div>
                <p>{{list.description}}</p>
              </div>
              <!--/.box -->
              <div class="space30"></div>
            </div>
             {% else %}
             <div class="col-md-6 item grid-sizer">
              <div class="space30 d-none d-md-block"></div>
              <div class="box bg-white shadow shadow-hover">
                <h5>{{list.title}}</h5>
                <div class="meta">{{list.date}}</div>
                <p>{{list.description}}</p>
              </div>
              <!--/.box -->
            </div>
          	{% endif %}
            {% endfor %}
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
   </div>
  <!-- /.wrapper -->
  </section>
  {% endif %}
  {% if page.portfolios_area.enable %}
	<section id="{{page.portfolios_area.section_id}}">
	  <div class="wrapper light-wrapper">
	    <div class="container inner">
	      {% if page.portfolios_area.title %}
	      <h2 class="section-title mb-20">{{page.portfolios_area.title}}</h2>
	      {% endif %}
	      {% if page.portfolios_area.sub_title %}
	      <p class="lead larger">{{page.portfolios_area.sub_title}}</p>
	      {% endif %}
	      <div class="space40"></div>
	      <div class="grid grid-view boxed">
	        <div class="tiles">
	          <div class="row isotope light-gallery-wrapper">
	          	{% for portfolios in page.portfolios_area.portfolios %}
	            <div class="item item-detailed grid-sizer col-md-6 col-lg-4">
	              <div class="box bg-white shadow p-30">
	                <figure class="main rounded mb-30">
	                  <div class="item-detailed-image">
	                  	{% if portfolios.sm_img %}
	                  	 <img src="{{portfolios.sm_img}}" alt="{{portfolios.title}}"/>
	                  	{% endif %}
	                  	{% if portfolios.big_img %}
	                     <img src="{{portfolios.big_img}}" alt="{{portfolios.title}}"/>
	                  	{% endif %}
	                  </div>
	                  <a href="{{portfolios.big_img}}" class="hover-icon-first lightbox" data-tip="Enlarge image"><i class="jam jam-qr-code"></i></a>
	                  <a href="{{portfolios.url}}" class="hover-icon-second" data-tip="Go to link"><i class="jam jam-link"></i></a>
	                </figure>
	                <div class="item-content">
	                  <h2 class="post-title mb-10">{{portfolios.title}}</h2>
	                  <div class="meta mb-0">{{portfolios.sub_title}}</div>
	                </div>
	                <!-- /.item-content -->
	              </div>
	              <!-- /.box -->
	            </div>
	            <!-- /.item -->
                {% endfor %}
	          </div>
	          <!-- /.row -->
	        </div>
	        <!-- /.tiles -->
	      </div>
	      <!-- /.grid -->
	    </div>
	    <!-- /.container -->
	  </div>
	  <!-- /.wrapper -->
	</section>
  {% endif %}
  {% if page.testimonials.enable %}
	<section id="{{page.testimonials.section_id}}">
	  <div class="wrapper bg-opacity-default">
	    <div class="container inner">
	      <div class="row">
	        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
	          <div class="basic-slider owl-carousel gap-small text-center" data-margin="30">
	          	{% for feedback in page.testimonials.feedback %}
	            <div class="item">
	              <blockquote class="icon larger">
	                <p>"{{feedback.quote}}"</p>
	                <div class="blockquote-details justify-content-center">
	                  {% if feedback.image %}
	                  <div class="img-blob blob1">
	                  	<img src="{{feedback.image}}" alt="{{feedback.name}}"/>
	                  </div>
	                  {% endif %}
	                  <div class="info">
	                    <h6 class="mb-0">{{feedback.name}}</h6>
	                    <span class="meta mb-0">{{feedback.designation}}</span>
	                  </div>
	                </div>
	              </blockquote>
	            </div>
	            <!-- /.item -->
                {% endfor %}
	          </div>
	          <!-- /.owl-carousel -->
	        </div>
	        <!-- /column -->
	      </div>
	      <!-- /.row -->
	    </div>
	  </div>
	</section>
   {% endif %}
   {% if page.contact_area.enable %}
	<section id="{{page.contact_area.section_id}}">
	  <div class="wrapper light-wrapper">
	    <div class="container inner">
	      {% if page.contact_area.title %}
	       <h2 class="section-title">{{page.contact_area.title}}</h2>
	      {% endif %}
	      {% if page.contact_area.sub_title %}
	       <p class="lead larger">{{page.contact_area.sub_title}}</p>
	      {% endif %}
	      <div class="space40"></div>
	      <div class="row">
	        <div class="col-lg-7 order-lg-2 offset-lg-1">
	          <form id="contact-form" class="fields-white" method="post" action="https://formsubmit.io/send/{{page.contact_area.action_email}}">
	            <div class="messages"></div>
	            <div class="controls">
	              <div class="form-row">
	              	{% for forms_data in page.contact_area.forms_data %}
	              	{% if forms_data.field_type == "input" %}
	                <div class="col-lg-12 col-xl-6">
	                  <div class="form-group">
	                    <input id="{{forms_data.field_name}}" type="text" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}}  *" required="required" data-error="{{forms_data.error_message}}">
	                    <div class="help-block with-errors"></div>
	                  </div>
	                </div>
	                {% else if forms_data.field_type == "textarea" %}
	                <div class="col-md-12">
	                  <div class="form-group">
	                    <textarea id="{{forms_data.field_name}}" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" rows="4" required="required" data-error="{{forms_data.error_message}}"></textarea>
	                    <div class="help-block with-errors"></div>
	                  </div>
	                </div>
	                {% endif %}
                    {% endfor %}
	              </div>
	              <div class="form-row">
	                <div class="col-md-12">
	                  <input type="submit" class="btn btn-send" value="Send message">
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="col-md-12">
	                  <p class="text-muted"><strong>*</strong> These fields are required.</p>
	                </div>
	              </div>
	            </div>
	          </form>
	          <!-- /form -->
	        </div>
	        <!--/column -->
	        <div class="space30 d-none d-md-block d-lg-none"></div>
	        <div class="col-lg-4">
	          {% for lists in page.contact_area.lists %}
	          <div class="d-flex flex-row">
	            <div>
	              <div class="icon color-default fs-34 mr-25"> <i class="{{lists.icon}}"></i> </div>
	            </div>
	            <div>
	              <h6 class="mb-5">{{lists.title}}</h6>
	              <address>{{lists.info_01}} 
	              	{% if lists.info_02 %}
	                <br class="d-none d-md-block" />
	                {{lists.info_02}}
	               {% endif %}
	              </address>
	            </div>
	          </div>
              {% endfor %}
	        </div>
	        <!--/column -->
	      </div>
	      <!--/.row -->
	    </div>
	    <!-- /.container -->
	  </div>
	  <!-- /.wrapper -->
	</section>
	<!-- /section --> 
	{% endif %}
  {% include footer.html %}
</div>
