---
layout: default

slider_area:
  enable: true
  sliders:

    - title: "Web Design & Development"
      sub_title: "Web design agency with an award-winning design team."
      image: "/assets/images/concept/concept23@2x.png"
      button_text: "See Web Projects" 
      button_url: "#"

    - title: "Mobile App Development"
      sub_title: "Fully interactive mobile apps with the most advanced technologies."
      image: "/assets/images/concept/concept24@2x.png"
      button_text: "See App Projects" 
      button_url: "#"

    - title: "Corporate & Graphic Design"
      sub_title: "Fully interactive mobile apps with the most advanced technologies."
      image: "/assets/images/concept/concept25@2x.png"
      button_text: "See More Projects" 
      button_url: "#"

services_area:
  enable: true
  title: "Our Services"
  sub_title: "The full service we are offering is specifically designed to meet your business needs"
  services:

    - title: "Web Design & Development"
      image: "/assets/images/art/g1.jpg"
      description: |
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit.
      button_text: "More Details"
      button_url: "#"
      lists:
        - title: "Aenean eu leo quam ornare."
        - title: "Nullam quis risus eget mollis."
        - title: "Donec elit non mi porta gravida."
        - title: "Fusce dapibus cursus commodo."

    - title: "Mobile App Development"
      image: "/assets/images/art/g2.jpg"
      description: |
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit.
      button_text: "More Details"
      button_url: "#"
      lists:
        - title: "Aenean eu leo quam ornare."
        - title: "Nullam quis risus eget mollis."
        - title: "Donec elit non mi porta gravida."
        - title: "Fusce dapibus cursus commodo."

    - title: "Corporate & Graphic Design"
      image: "/assets/images/art/g3.jpg"
      description: |
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit.
      button_text: "More Details"
      button_url: "#"
      lists:
        - title: "Aenean eu leo quam ornare."
        - title: "Nullam quis risus eget mollis."
        - title: "Donec elit non mi porta gravida."
        - title: "Fusce dapibus cursus commodo."

work_process_area:
  enable: true
  title: "Our Work Process"
  sub_title: "The process steps on creating our awesome and beautiful projects."
  image: "/assets/images/concept/concept26@2x.png"
  lists:

    - title: "Collect Ideas"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam."
      icon: "jam jam-lightbulb"
      icon_color: "yellow"

    - title: "Design Concept"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam."
      icon: "jam jam-flower"
      icon_color: "purple"

    - title: "Finalize Product"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam."
      icon: "jam jam-rocket"
      icon_color: "teal"

projects_area:
  enable: true
  title: "Our Projects"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  button_text: "See All Works"
  button_url: "#"
  projects:
    - image: "/assets/images/art/fp12.jpg"
      url: "#"
    - image: "/assets/images/art/fp15.jpg"
      url: "#"
    - image: "/assets/images/art/fp8.jpg"
      url: "#"
    - image: "/assets/images/art/fp14.jpg"
      url: "#"
    - image: "/assets/images/art/fp6.jpg"
      url: "#"
    - image: "/assets/images/art/fp13.jpg"
      url: "#"

testimonials:
  enable: true
  title: "Customer Stories"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

about_us_area:
  enable: true
  title: "Hi, I'm Julia, a documentary wedding and couples photographer currently working from and living in London."
  image: "/assets/images/art/about2.jpg"
  description: |
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio. Sed posuere consectetur est at lobortis facilisis in.
  projects:
    - projects_number: 500
      title: "Shots Taken"
    - projects_number: "400k"
      title: "Happy Customers"
    - projects_number: "25k"
      title: "Awards Won"

three_columns_area:
  enable: true
  first_column:
    title: "My Skills"
    description: "Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna vel."
    skills: 
      - title: "Photoshop"
        progress_amount: "100"
      - title: "Final Cut"
        progress_amount: "80"
      - title: "Motion Video"
        progress_amount: "85"
      - title: "Manupilation"
        progress_amount: "90"

  second_column:
    title: "Why Choose Me?"
    description: |
      Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies. Cras mattis consectetur purus amet fermentum.
    lists:
      - "Aenean eu leo quam pellentesque."
      - "Nullam quis risus eget urna mollis."
      - "Donec id elit non mi porta gravida."
      - "Fusce dapibus tellus ac commodo."
      - "Cras justo odio dapibus ac facilisis in."

  third_column:
    title: "My Process"
    lists:
      - title: "Collect & Concept"
        description: "Cum sociis natoque penatibus et magnis dis parturient montes."

      - title: "Prepare & Shoot"
        description: "Cum sociis natoque penatibus et magnis dis parturient montes."

      - title: "Retouch & Finalize"
        description: "Cum sociis natoque penatibus et magnis dis parturient montes."

contact_area:
  enable: true
  title: "Get in Touch"
  sub_title: "Have any questions? Reach out to us from our contact form and we will get back to you shortly."
  action_email: "tortoizthemes@gmail.com"
  image: "/assets/images/art/about13.jpg"
  address: |
    <strong>Moonshine St. <br /> 14/05 Light City<br /> London, UK</strong>
  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "First Name Is required"

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Last Name"
      error_message: "Last Name Is required"

    - field_type: "input"
      field_name: "last_email"
      placeholder: "Email"
      error_message: "Email Is required"

    - field_type: "input"
      field_name: "user_phone"
      placeholder: "Phone"
      error_message: "Phone Number Is required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "Message"
      error_message: "Message Is required"

---

  <div class="content-wrapper">
   {% include header.html extra_class="absolute transparent" logo_class="logo" %}
    <div class="wrapper bg-opacity-default">
      <div class="rev_slider_wrapper fullwidth-container dark-spinner dark-nav">
        <div id="slider11" class="rev_slider fullwidthbanner" data-version="5.4.7">
          <ul>
           {% for slider in page.slider_area.sliders %}
           {% assign number = forloop.index | modulo: 2 %}
            <li data-transition="fade" data-thumb="">
              {% if number %}
              <img src="/assets/images/dummy.png" alt="" />
              <div class="tp-caption font-weight-600 color-dark" 
                   data-x="['left','left','center','center']" 
                   data-y="['middle','middle','middle','middle']" 
                   data-hoffset="['780','700','0','0']" 
                   data-voffset="['-70','-60','-240','-90']" 
                   data-fontsize="['40','36','34','40']" 
                   data-lineheight="['50','46','44','50']" 
                   data-width="['380','340','600','340']" 
                   data-textAlign="['left','left','center','center']"  
                   data-whitespace="['normal','normal','normal','normal']" 
                   data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
                   data-responsive="on" 
                   data-responsive_offset="on" style="z-index: 9;"> {{slider.title}}
              </div>
              <!-- /.tp-caption -->
              <div class="tp-caption font-weight-400 color-dark" 
                   data-x="['left','left','center','center']" 
                   data-y="['middle','middle','middle','middle']" 
                   data-hoffset="['780','700','0','0']" 
                   data-voffset="['40','40','-170','20']" 
                   data-fontsize="['25','22','25','19']" 
                   data-lineheight="['35','32','35','29']" 
                   data-width="['380','340','400','340']" 
                   data-textAlign="['left','left','center','center']" 
                   data-whitespace="['normal','normal','normal','normal']" 
                   data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
                   data-responsive="on" 
                   data-responsive_offset="on" style="z-index: 9;"> {{slider.sub_title}}  
              </div>
              <!-- /.tp-caption -->
              <a class="tp-caption btn btn-l btn-purple" 
                   data-x="['left','left','center','center']" 
                   data-y="['middle','middle','middle','middle']"
                   data-hoffset="['780','700','0','0']" 
                   data-voffset="['135','130','-85','120']" 
                   data-width="['auto','auto','auto','auto']" 
                   data-textAlign="['left','left','center','center']"  
                   data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
                   data-responsive="on" 
                   data-responsive_offset="on" style="z-index: 9;" href="{{slider.button_url}}"> {{slider.button_text}}
              </a>
              <!-- /.tp-caption -->
              <div class="tp-caption" 
                   data-x="['left','left','center','center']" 
                   data-y="['bottom','bottom','bottom','bottom']" 
                   data-hoffset="['30','30','0','0']" 
                   data-voffset="['18','38','34','80']" 
                   data-frames='[{"delay":500,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
                   data-visibility="['on','on','on','off']" 
                   data-width="none" 
                   data-height="none" 
                   data-type="image" 
                 data-responsive="on"
                   data-responsive_offset="on" style="z-index: 5;">
                   <img data-lazyload="" src="{{slider.image}}" 
                   data-ww="['675','640','500','400']" 
                   data-hh="auto" alt="" />  
               </div>
              <!-- /.tp-caption -->
              <div class="tp-caption tp-shape tp-shapewrapper" 
                   data-x="center" 
                   data-y="bottom" 
                   data-width="full" 
                   data-height="80" 
                   data-whitespace="nowrap" 
                   data-type="shape" 
                   data-basealign="slide" 
                   data-responsive_offset="off" 
                   data-responsive="off"  
                   data-visibility="['on','on','on','off']" 
                   data-frames='[{"delay":0,"speed":300,"frame":"0","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 4;background-color:#f9fafb;">  
              </div>
             <!-- /.tp-caption -->
             {% else %}

                <img src="/assets/images/dummy.png" data-bgcolor="#f0f2f7" alt="{{slider.title}}"/>
                <div class="tp-caption font-weight-600 color-dark" 
                     data-x="['left','left','center','center']" 
                     data-y="['middle','middle','middle','middle']" 
                     data-hoffset="['110','60','0','0']" 
                     data-voffset="['-110','-100','-260','-90']" 
                     data-fontsize="['40','36','34','40']" 
                     data-lineheight="['50','46','44','50']" 
                     data-width="['380','340','600','340']" 
                     data-textAlign="['left','left','center','center']" 
                     data-whitespace="['normal','normal','normal','normal']" 
                     data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
                     data-responsive="on" 
                     data-responsive_offset="on" style="z-index: 9;"> {{slider.title}} 
                </div>
            <!-- /.tp-caption -->
                <div class="tp-caption font-weight-400 color-dark" 
                     data-x="['left','left','center','center']" 
                     data-y="['middle','middle','middle','middle']" 
                     data-hoffset="['110','60','0','0']" 
                     data-voffset="['0','0','-190','20']" 
                     data-fontsize="['25','22','25','19']" 
                     data-lineheight="['35','32','35','29']" 
                     data-width="['380','340','400','340']" 
                     data-textAlign="['left','left','center','center']" 
                     data-whitespace="['normal','normal','normal','normal']" 
                     data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
                     data-responsive="on" 
                     data-responsive_offset="on" style="z-index: 9;"> {{slider.sub_title}} 
                </div>
            <!-- /.tp-caption -->
                <a class="tp-caption btn btn-l btn-teal" 
                     data-x="['left','left','center','center']" 
                     data-y="['middle','middle','middle','middle']" 
                     data-hoffset="['110','60','0','0']" 
                     data-voffset="['95','90','-105','120']" 
                     data-width="['auto','auto','auto','auto']" 
                     data-textAlign="['left','left','center','center']" 
                     data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
                     data-responsive="on" 
                     data-responsive_offset="on" style="z-index: 9;" href="{{slider.button_url}}"> {{slider.button_text}}
                </a>
            <!-- /.tp-caption -->
                <div class="tp-caption" 
                     data-x="['right','right','center','center']" 
                     data-y="['bottom','bottom','bottom','bottom']" 
                     data-hoffset="['50','50','0','0']" 
                     data-voffset="['38','56','49','80']"
                     data-frames='[{"delay":500,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
                     data-visibility="['on','on','on','off']"  
                     data-width="none" 
                     data-height="none" 
                     data-type="image" 
                     data-responsive_offset="on" style="z-index: 5;">
                     <img data-lazyload="" src="{{slider.image}}" 
                     data-ww="['670','670','500','400']" 
                     data-hh="auto" alt="" />  
                </div>
            <!-- /.tp-caption -->
                <div class="tp-caption tp-shape tp-shapewrapper" 
                     data-x="center" 
                     data-y="bottom" 
                     data-width="full" 
                     data-height="80" 
                     data-whitespace="nowrap" 
                     data-type="shape" 
                     data-basealign="slide" 
                     data-responsive_offset="off" 
                     data-responsive="off"  
                     data-visibility="['on','on','on','off']" 
                     data-frames='[{"delay":0,"speed":300,"frame":"0","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 4;background-color:#f9fafb;">  
                </div>
            <!-- /.tp-caption --> 
             {% endif %}
            </li>
            {% endfor %}
          </ul>
          <div class="tp-bannertimer tp-bottom"></div>
        </div>
      </div>
    </div>
     <div class="wrapper light-wrapper">
     <div class="container inner">
      {% include clients_carousel.html %}
      {% if page.services_area.enable %}
      <div class="services-area">
      <div class="row">
        <div class="col-md-7 mx-auto">
         <div class="space140"></div>
         <h2 class="title-color color-gray text-center">{{page.services_area.title}}</h2>
         <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
         <div class="space40"></div>
        </div>
      </div>
      {% for service in page.services_area.services %}
      {% assign chck_number = forloop.index | modulo: 2 %}
      <!--/.row -->
      <div class="space120"></div>
      <div class="row align-items-center">
        {% if service.image %}
        <div class="col-lg-6 order-lg-{{chck_number}}">
          <div class="img-blob blob15">
            <img src="{{service.image}}" style="width: 30rem" alt="{{service.title}}"/>
          </div>
        </div>
        {% endif %}
        <div class="space30 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-6 pr-60 pr-md-15">
          <h3>{{service.title}}</h3>
          <div class="space10"></div>
          <p>{{service.description}}</p>
          <ul class="icon-list bullet-violet">
            {% for list in service.lists %}
            <li><i class="jam jam-arrow-right"></i>{{list.title}}</li>
            {% endfor %}
          </ul>
          <div class="space10"></div>
          <a href="{{service.button_url}}" class="btn btn-violet">{{service.button_text}}</a>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      {% endfor %}
      </div>
      {% endif %}
     </div>
   </div>
   {% if page.work_process_area.enable %}
   <div class="work-process-wrapper">
    <div class="wrapper gray-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="title-color color-gray text-center">{{page.work_process_area.title}}</h2>
          <h3 class="display-3 text-center">{{page.work_process_area.sub_title}}</h3>
          <div class="space50"></div>
        </div>
      </div>
      {% if page.work_process_area.image %}
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <figure><img src="{{page.work_process_area.image}}"  alt="{{page.work_process_area.title}}"/></figure>
        </div>
      </div>
      {% endif %}
      <div class="space50"></div>
      <div class="row gutter-60 gutter-md-30 process-wrapper arrow text-center">
        {% for list in page.work_process_area.lists %}
        <div class="col-md-4">
          <span class="icon icon-blob icon-blob-{{list.icon_color}} color-{{list.icon_color}} mb-30">
          <i class="{{list.icon}}"></i><span class="step bg-{{list.icon_color}}">{{forloop.index}}</span></span>
          <h5>{{list.title}}</h5>
          <p>{{list.description}}</p>
        </div>
        {% endfor %}
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
   </div>
   </div>
   {% endif %}
   {% if page.projects_area.enable %}
    <div class="projects-wrapper"> 
    <div class="wrapper light-wrapper">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="container inner pb-40">
            <h2 class="title-color color-gray text-center">{{page.projects_area.title}}</h2>
            <h3 class="display-3 text-center">{{page.projects_area.sub_title}}</h3>
          </div>
        </div>
      </div>
      <div class="container-fluid pl-30 pr-30">
        <div class="grid-view">
          <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "1441":{"items": "3"}}'>
            {% for project in page.projects_area.projects %}
            <div class="item">
              <figure class="rounded">
                <img src="{{project.image}}" alt="{{project.title}}"/><a class="item-link" href="{{project.url}}"><i class="jam jam-link"></i></a>
              </figure>
            </div>
            {% endfor %}
          </div>
          <div class="space70"></div>
          <div class="text-center"><a href="{{page.projects_area.button_url}}" class="btn btn-l">{{page.projects_area.button_text}}</a></div>
        </div>
        <!-- /.grid-view -->
      </div>
      <!-- /.container-fluid -->
      <div class="space100"></div>
    </div>
    </div>
    <!-- /.wrapper -->
    {% endif %}
    {% if page.testimonials.enable %}
    <div class="wrapper gray-wrapper">
      <div class="container inner pt-100">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2 class="title-color color-gray text-center mb-30">{{page.testimonials.title}}</h2>
            <div class="basic-slider owl-carousel gap-small text-center mb-0" data-margin="30">
             {% for feedback in page.testimonials.feedback %}
              <div class="item">
                <blockquote class="icon larger">
                  <p>"{{feedback.quote}}"</p>
                  <div class="blockquote-details justify-content-center">
                    <div class="img-blob blob1">
                      <img src="{{feedback.image}}" alt="{{feedback.name}}" />
                    </div>
                    <div class="info">
                      <h6 class="mb-0">{{feedback.name}}</h6>
                      <span class="meta mb-0">{{feedback.designation}}</span>
                    </div>
                  </div>
                </blockquote>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.wrapper -->
    {% endif %}
    <div class="wrapper light-wrapper">
      <div class="container inner pb-0">
        {% if page.about_us_area.enable %}
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="img-blob blob1">
              <img src="{{page.about_us_area.image}}" style="width: 30rem" alt="{{page.about_us_area.title}}"/>
            </div>
          </div>
          <!--/column -->
          <div class="space20 d-md-none"></div>
          <div class="space50 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-6 pl-60 pl-md-15">
            <h3 class="display-3">{{page.about_us_area.title}}</h3>
            <div class="space20"></div>
            <p>{{page.about_us_area.description}}</p>
            <div class="space20"></div>
            <div class="row counter">
             {% for projects in page.about_us_area.projects %}
              <div class="col-md-4">
                <h3>{{projects.projects_number}}</h3>
                <p>{{projects.title}}</p>
              </div>
             {% endfor %}
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        {% endif %}
        {% if page.three_columns_area.enable %}
        <div class="space70"></div>
        <div class="row gutter-40">
          {% assign first_column = page.three_columns_area.first_column %}
          <div class="col-lg-4">
            <h4>{{first_column.title}}</h4>
            <p>{{first_column.description}}</p>
            <ul class="progress-list">
              {% for skills in first_column.skills %}
              <li>
                <p>{{skills.title}}</p>
                <div class="progressbar line default" data-value="{{skills.progress_amount}}"></div>
              </li>
              {% endfor %}
            </ul>
            <!-- /.progress-list -->
          </div>
          <!--/column -->
          {% assign second_column = page.three_columns_area.second_column %}
          <div class="space30 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-4">
            <h4>{{second_column.title}}</h4>
            <p>{{second_column.description}}</p>
            <ul class="icon-list bullet-default">
              {% for lists in page.three_columns_area.second_column.lists %}
               <li><i class="jam jam-arrow-right"></i>{{lists}}</li>
              {% endfor %}
            </ul>
          </div>
          <!--/column -->
          {% assign third_column = page.three_columns_area.third_column %}
          <div class="space30 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-4">
            <h4>{{third_column.title}}</h4>
            {% for lists in page.three_columns_area.third_column.lists %}
            <div class="d-flex flex-row">
              <div>
                <span class="icon icon-bg icon-bg-default color-default mr-25"><span class="number">{{forloop.index}}</span></span>
              </div>
              <div>
                <h5 class="mb-5">{{lists.title}}</h5>
                <p class="mb-0">{{lists.description}}</p>
              </div>
            </div>
            <div class="space20"></div>
            {% endfor %}
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
       {% endif %}
      </div>
      <!-- /.container -->
    </div>
    {% if page.contact_area.enable %}
    <div class="contact-area"> 
    <div class="wrapper gray-wrapper">
      <div class="container inner">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <h2 class="title-color color-gray text-center">{{page.contact_area.title}}</h2>
            <h3 class="display-3 text-center">{{page.contact_area.sub_title}}</h3>
            <div class="space40"></div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div>
              {% if page.contact_area.image %}
              <div class="img-blob blob3">
                <img src="{{page.contact_area.image}}" style="width: 30rem" alt="{{page.contact_area.title}}"/>
              </div>
              {% endif %}
              <div class="row counter counter-s position-absolute" style="top: 60%; left: 15%;">
                <div class="col-md-10 text-center">
                  <div class="full-circle bg-default color-white">
                    <div class="full-circle-inner">
                    <address class="mb-0">
                      {{page.contact_area.address}}
                    </address>
                    </div>
                    <!--/.full-circle-inner -->
                  </div>
                  <!--/.full-circle -->
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
          </div>
          <!--/column -->
          <div class="space50 d-lg-none"></div>
          <div class="col-lg-6 pl-40 pl-md-15">
            <form id="contact-form" action="https://formsubmit.io/send/{{page.contact_area.action_email}}">
              <div class="messages"></div>
              <div class="controls">
                <div class="form-row">
                  {% for forms_data in page.contact_area.forms_data %}
                  {% if forms_data.field_type == "input" %}
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="{{forms_data.field_name}}" type="text" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" required="required" data-error="{{forms_data.error_message}}">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                   {% else if forms_data.field_type == "textarea" %}
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea id="{{forms_data.field_name}}" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" rows="4" required="required" data-error="{{forms_data.error_message}}"></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                     {% endif %}
                  {% endfor %}
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <input type="submit" class="btn btn-send" value="Send message">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <p class="text-muted mb-0"><strong>*</strong> These fields are required.</p>
                  </div>
                </div>
              </div>
            </form>
            <!-- /form -->
          </div>
          <!--/column -->
        </div>
      </div>
    </div>
    </div>
    {% endif %}
   {% include footer.html %}
  </div>
