---
layout: default
hero_area:
  enable: true
  title: "Hello! We're Snowlake"
  sub_title: "We bring rapid solutions for your business"
  bg_image: "/assets/images/art/bg11.jpg"
  vimeo_video_id: "124071444"

services_area:
  enable: true
  title: "Our Services"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  description: |
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui.
  button_text: "More Details"
  button_url: "#"
  services: 
    - title: "24/7 Support"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum"
      icon: "/assets/images/icons/hs-24-hours-1.png" 

    - title: "Secure Payments"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio.Cum"
      icon: "/assets/images/icons/st-payment-method.png" 

    - title: "Daily Updates"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum"
      icon: "/assets/images/icons/ms-cloud-computing.png" 

    - title: "Research & Marketing"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum"
      icon: "/assets/images/icons/of-diagram.png" 


two_columns_area_one:
  enable: true
  title: "How It Works?"
  sub_title: "Find out everything you need about creating a business process model."
  image: "/assets/images/art/about5.jpg"
  youtube_video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"
  lists:

    - title: "Creative Ideas"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Magic Touch"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Data Analysis"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Data Analysis"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."


two_columns_area_two: 
  enable: true
  title: "What We Do?"
  sub_title: "We specialize in web, mobile, brand & product design. We love to turn ideas into beautiful things."
  image: "/assets/images/art/about2.jpg"
  skills:
    - title: "Web Development"
      numbers: 100
      style: "pink"

    - title: "Product Design"
      numbers: 80
      style: "blue"

    - title: "Identity & Branding"
      numbers: 85
      style: "green"

    - title: "Mobile Development"
      numbers: 90
      style: "purple"

two_columns_area_three: 
  enable: true
  title: "Why Choose Us?"
  sub_title: "So here are a few reasons why our valued customers choose us."
  image: "/assets/images/art/about6.jpg"
  tabs:

    - title: "Money Protection"
      content: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes."

    - title: "Strategic Development"
      content: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes."

    - title: "Marketing Management"
      content: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes."

progress_area:
  enable: true
  title: "Company Progress"
  bg_image: "/assets/images/art/bg5.jpg"
  lists:

    - title: "New Visitors"
      sub_title: "Maecenas faucibus mollis interdum. Aenean eu leo."
      numbers: "75"
      color: "blue"

    - title: "Social Media"
      sub_title: "Maecenas faucibus mollis interdum. Aenean eu leo."
      numbers: "80"
      color: "green"

    - title: "Referrals"
      sub_title: "Maecenas faucibus mollis interdum. Aenean eu leo."
      numbers: "60"
      color: "red"

    - title: "Search Engines"
      sub_title: "Maecenas faucibus mollis interdum. Aenean eu leo."
      numbers: "90"
      color: "yellow"

projects_area:
  enable: true
  title: "Our Projects"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  projects:

    - title: "Clipboard Office"
      sub_title: "Application"
      images:
        - img: "/assets/images/art/s3.jpg"
        - img: "/assets/images/art/s3-2.jpg"
      url: "#"

    - title: "Branding Stationery"
      sub_title: "Video, Application"
      images:
        - img: "/assets/images/art/s4.jpg"
        - img: "/assets/images/art/s4-2.jpg"
      url: "#"

    - title: "Brown Paper Card"
      sub_title: "Branding"
      images:
        - img: "/assets/images/art/s5.jpg"
        - img: "/assets/images/art/s5-2.jpg"
      url: "#"

    - title: "Shopping Paperbag"
      sub_title: "Corporate, Branding"
      images:
        - img: "/assets/images/art/s6.jpg"
        - img: "/assets/images/art/s6-2.jpg"
      url: "#"

awards_area:
  enable: true
  title: "Let's Work Together"
  sub_title: "Think unique, be unique. Make a difference with Snowlake."
  bg_image: "/assets/images/art/bg12.jpg"
  lists:

    - title: "Completed Projects"
      numbers: "7518"
      icon: "/assets/images/icons/hs-check.png"

    - title: "Satisfied Customers"
      numbers: "80"
      icon: "/assets/images/icons/st-handshake.png"

    - title: "Expert Employees"
      numbers: "60"
      icon: "/assets/images/icons/sm-develop.png"

    - title: "Awards Won"
      numbers: "90"
      icon: "/assets/images/icons/ms-medal.png"
---
<link rel="stylesheet" type="text/css" href="/assets/css/color/sky.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/font/font4.css"/>
<div class="content-wrapper">
  {% include header.html extra_class="wide bg-white shadow nav-uppercase" logo_class="logo" container_class="container"%}
  {% if page.hero_area.enable %}
  <div class="wrapper dark-wrapper">
    <div class="rev_slider_wrapper fullwidth-container">
      <div id="slider3" class="rev_slider fullwidthbanner" data-version="5.4.7">
        <ul>
          <li data-transition="fade" data-thumb="">
            {% if page.hero_area.bg_image %}
             <img src="{{page.hero_area.bg_image}}" alt="{{page.hero_area.title}}"/>
            {% endif %}
            {% if page.hero_area.title %}
            <div class="tp-caption font-weight-600 text-uppercase color-white text-center" 
               data-x="center" 
               data-y="middle" 
               data-voffset="['-130','-130','-130','-140']" 
               data-fontsize="['16','16','16','14']" 
               data-lineheight="['26','26','26','24']" 
               data-width="['600','600','600','600']" 
               data-textAlign="['center','center','center','center']" 
               data-whitespace="['normal','normal','normal','normal']" 
               data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="off" 
               data-responsive_offset="on" style="z-index: 9; letter-spacing: 2px;"> {{page.hero_area.title}}
          </div>
          <!-- /.tp-caption -->
          {% endif %}
          {% if page.hero_area.sub_title %} 
            <div class="tp-caption font-weight-600 color-white text-center" 
               data-x="center" 
               data-y="middle" 
               data-voffset="['-30','-30','-30','-30']" 
               data-fontsize="['55','55','50','35']" 
               data-lineheight="['65','65','60','45']" 
               data-width="['620','620','600','340']" 
               data-textAlign="['center','center','center','center']" 
               data-whitespace="['normal','normal','normal','normal']" 
               data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.sub_title}}  
           </div>
          <!-- /.tp-caption -->
          {% endif %}
            <a class="tp-caption btn-play" id="slide-537-layer-4" 
               data-x="center" 
               data-y="middle" 
               data-voffset="['100','100','100','115']" 
               data-width="['auto','auto','auto','auto']" 
               data-textAlign="['center','center','center','center']" 
               data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-537-layer-18","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-537-layer-18","delay":""},{"event":"click","action":"startlayer","layer":"slide-537-layer-15","delay":""},{"event":"click","action":"startlayer","layer":"slide-537-layer-19","delay":""},{"event":"click","action":"startlayer","layer":"slide-537-layer-20","delay":"1000"},{"event":"click","action":"playvideo","layer":"slide-537-layer-15","delay":"1000"}]' 
               data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;" href="#">  
          }
          </a>
           <!-- /.tp-caption -->
            <div class="tp-caption tp-shape tp-shapewrapper" id="slide-537-layer-1" 
               data-x="['center','center','center','center']" 
               data-hoffset="['0','0','0','0']" 
               data-y="['middle','middle','middle','middle']" 
               data-voffset="['0','0','0','0']" 
               data-width="full" 
               data-height="full" 
               data-whitespace="nowrap" 
               data-type="shape" 
               data-basealign="slide" 
               data-responsive_offset="off" 
               data-responsive="off" 
               data-frames='[{"from":"opacity:0;","speed":2000,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"to":"opacity:0;","ease":"nothing"}]' 
               data-textAlign="['left','left','left','left']" 
               data-paddingtop="[0,0,0,0]" 
               data-paddingright="[0,0,0,0]" 
               data-paddingbottom="[0,0,0,0]" 
               data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(51,51,51,0.15);">  
          </div>
          <!-- /.tp-caption -->
            <div class="tp-caption tp-shape tp-shapewrapper" id="slide-537-layer-19" 
               data-x="['center','center','center','center']" 
               data-hoffset="['0','0','0','0']" 
               data-y="['middle','middle','middle','middle']" 
               data-voffset="['0','0','0','0']" 
               data-width="full" 
               data-height="full" 
               data-whitespace="nowrap" 
               data-type="shape" 
               data-basealign="slide" 
               data-responsive_offset="off" 
               data-responsive="off" 
               data-frames='[{"from":"opacity:0;","speed":2000,"to":"o:1;","delay":"bytrigger","ease":"Power2.easeInOut"},{"delay":"bytrigger","speed":500,"to":"opacity:0;","ease":"nothing"}]' 
               data-textAlign="['left','left','left','left']" 
               data-paddingtop="[0,0,0,0]" 
               data-paddingright="[0,0,0,0]" 
               data-paddingbottom="[0,0,0,0]" 
               data-paddingleft="[0,0,0,0]" 
               data-lasttriggerstate="reset" style="z-index: 6;background-color:rgba(0,0,0,0.75);">  
          </div>
           <!-- /.tp-caption -->
           {% if page.hero_area.vimeo_video_id %} 
            <div class="tp-caption tp-videolayer" id="slide-537-layer-15" 
               data-x="['center','center','center','center']" 
               data-hoffset="['0','0','0','0']" 
               data-y="['middle','middle','middle','middle']" 
               data-voffset="['-10','-10','-10','-10']" 
               data-whitespace="nowrap" 
               data-type="video" 
               data-responsive_offset="on" 
               data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]' 
               data-vimeoid="{{page.hero_area.vimeo_video_id}}" 
               data-videoattributes="title=0&byline=0&portrait=0&api=1" 
               data-videowidth="['960px','720px','580px','360px']" 
               data-videoheight="['540px','405px','326px','203px']" 
               data-videoloop="none" 
               data-textAlign="['left','left','left','left']" 
               data-paddingtop="[0,0,0,0]" 
               data-paddingright="[0,0,0,0]" 
               data-paddingbottom="[0,0,0,0]" 
               data-paddingleft="[0,0,0,0]" 
               data-lasttriggerstate="reset" 
               data-autoplay="off" 
               data-volume="100" style="z-index: 14;">  
           </div>
            <!-- /.tp-caption -->
            {% endif %}
            <div class="tp-caption video-control" id="slide-537-layer-20" 
               data-x="['center','center','center','center']" 
               data-hoffset="['510','389','330','210']" 
               data-y="['middle','middle','middle','middle']" 
               data-voffset="['-268','-198','-163','-120']" 
               data-width="42" 
               data-height="42" 
               data-lineheight="['46','46','46','46']" 
               data-whitespace="nowrap" 
               data-type="button" 
               data-actions='[{"event":"click","action":"stoplayer","layer":"slide-537-layer-15","delay":""},{"event":"click","action":"stoplayer","layer":"slide-537-layer-19","delay":""},{"event":"click","action":"stoplayer","layer":"slide-537-layer-20","delay":""}]' 
               data-responsive_offset="on" 
               data-responsive="on" 
               data-frames='[{"delay":"bytrigger","speed":1500,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]' 
               data-textAlign="['center','center','center','center']" 
               data-paddingtop="[0,0,0,0]" 
               data-paddingright="[0,0,0,0]" 
               data-paddingbottom="[0,0,0,0]" 
               data-paddingleft="[0,0,0,0]" 
               data-lasttriggerstate="reset" style="z-index: 15;"><i class="c-close"></i>  
          </div>
          <!-- /.tp-caption -->
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
      </div>
      <!-- /.rev_slider -->
    </div>
    <!-- /.rev_slider_wrapper -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
    {% if page.services_area.enable %}
    <div class="services-wrapper">
      <div class="row align-items-center">
      <div class="col-xl-6 pr-60 pr-lg-15">
        {% if page.services_area.title %}
         <h2 class="title-color color-default">{{page.services_area.title}}</h2>
        {% endif %}
        {% if page.services_area.sub_title %}
         <h3 class="display-3">{{page.services_area.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        {% if page.services_area.description %}
         <p>{{page.services_area.description}}</p>
        {% endif %}
        {% if page.services_area.button_text %}
        <div class="space20"></div>
         <a href="{{page.services_area.button_url}}" class="btn">{{page.services_area.button_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
      <div class="space50 d-none d-md-block d-xl-none"></div>
      <div class="col-xl-6 order-xl-2 text-center grid">
        <div class="row isotope">
          {% for service in page.services_area.services %}
          {% assign check_index = forloop.index | modulo: 2 %}
          {% unless check_index == 1 %}
          <div class="col-md-6 item grid-sizer">
            <div class="space30"></div>
            <div class="box bg-white shadow shadow-hover">
              {% if service.icon %}
              <div class="icon icon-svg mb-20">
                <img src="{{service.icon}}" alt="{{service.title}}"/>
              </div>
              {% endif %}
              <h5>{{service.title}}</h5>
              <p>{{service.sub_title}}</p>
            </div>
            <!--/.box -->
          </div>
          <!--/column -->
          {% else %}
          <div class="col-md-6 item grid-sizer">
            {% unless forloop.index == 1 %}
            <div class="space30 d-none d-md-block"></div>
            {% endunless %}
            <div class="box bg-white shadow shadow-hover">
              {% if service.icon %}
              <div class="icon icon-svg mb-20">
                <img src="{{service.icon}}" alt="{{service.title}}"/>
              </div>
              {% endif %}
              <h5>{{service.title}}</h5>
              <p>{{service.sub_title}}</p>
            </div>
            <!--/.box -->
          </div>
          <!--/column -->
          {% endunless %}
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    </div>
    {% endif %}
    {% if page.two_columns_area_one.enable %}
    <div class="two-columns-one">
    <div class="space140"></div>
    <div class="row align-items-center">
      <div class="col-lg-6 play-wrapper light-gallery-wrapper text-center">
        {% if page.two_columns_area_one.image %}
        <div class="img-blob blob7">
          <img src="{{page.two_columns_area_one.image}}" style="width: 30rem" alt="{{page.two_columns_area_one.title}}"/>
        </div>
        {% endif %}
        {% if page.two_columns_area_one.youtube_video_url %}
         <a href="{{page.two_columns_area_one.youtube_video_url}}" class="btn-play lightbox"></a>
        {% endif %}
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.two_columns_area_one.title %}
         <h2 class="title-color color-default">{{page.two_columns_area_one.title}}</h2>
        {% endif %}
        {% if page.two_columns_area_one.sub_title %}
         <h3 class="display-3">{{page.two_columns_area_one.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        <div class="row">
          {% for list in page.two_columns_area_one.lists %}
          <div class="col-md-6">
            <h5><span class="color-default">{{forloop.index}} . </span>{{list.title}}</h5>
            <p>{{list.description}}</p>
          </div>
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    </div>
    {% endif %}
    {% if page.two_columns_area_two.enable %}
    <div class="two-columns-two">
    <div class="space140"></div>
    <div class="row align-items-center">
      {% if page.two_columns_area_two.image %}
      <div class="col-lg-6 order-lg-2 text-center">
        <div class="img-blob blob4">
          <img src="{{page.two_columns_area_two.image}}" style="width: 30rem" alt="{{page.two_columns_area_two.title}}" />
        </div>
      </div>
      {% endif %}
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pr-60 pr-md-15">
        {% if page.two_columns_area_two.title %}
         <h2 class="title-color color-default">{{page.two_columns_area_two.title}}</h2>
        {% endif %}
        {% if page.two_columns_area_two.sub_title %}
         <h3 class="display-3">{{page.two_columns_area_two.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        <ul class="progress-list">
          {% for skills in page.two_columns_area_two.skills %}
          <li>
            <p>{{skills.title}}</p>
            <div class="progressbar line default" data-value="{{skills.numbers}}"></div>
          </li>
          {% endfor %}
        </ul>
        <!-- /.progress-list -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    </div>
    {% endif %}
    {% if page.two_columns_area_three.enable %}
    <div class="two-columns-three">
    <div class="space140"></div>
    <div class="row align-items-center">
      {% if page.two_columns_area_three.image %}
      <div class="col-lg-6 text-center">
        <div class="img-blob blob3">
          <img src="{{page.two_columns_area_three.image}}" style="width: 30rem" alt="{{page.two_columns_area_three.title}}"/>
        </div>
      </div>
      {% endif %}
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.two_columns_area_three.title %}
         <h2 class="title-color color-default">{{page.two_columns_area_three.title}}</h2>
        {% endif %}
        {% if page.two_columns_area_three.sub_title %}
         <h3 class="display-3">{{page.two_columns_area_three.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        <div id="accordion-1" class="accordion-wrapper simple">
          {% for tab in page.two_columns_area_three.tabs %}
          <div class="card">
            <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
              <h5>
                <button data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="true" aria-controls="accordion-collapse-1-{{forloop.index}}">{{tab.title}}</button>
              </h5>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-1-{{forloop.index}}" class="collapse {% if forloop.index == 1 %} show {% endif %}" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-parent="#accordion-1">
              <div class="card-body">
                <p>{{tab.content}}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
         {% endfor %}
        </div>
        <!-- /.accordion-wrapper -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    </div>
    {% endif %}
    </div>
  </div>
{% if page.progress_area.enable %}
<div class="progress-area">
  <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.progress_area.bg_image}}">
  <div class="container inner">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        {% if page.progress_area.title %}
         <h2 class="title-color color-white text-center">{{page.progress_area.title}}</h2>
        {% endif %}
        <div class="space20"></div>
        <div class="row text-center">
          {% for list in page.progress_area.lists %}
          <div class="col-md-6 col-lg-3">
            <div class="progressbar circle {{list.color}}" data-value="{{list.numbers}}"></div>
            <h5>{{list.title}}</h5>
            <p>{{list.sub_title}}</p>
          </div>
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
  </div>
</div>
</div>
{% endif %}
 {% if page.projects_area.enable %}
  <div class="projects-area">
    <div class="wrapper light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="title-color color-gray text-center">{{page.projects_area.title}}</h2>
          <h3 class="display-3 text-center">{{page.projects_area.sub_title}}</h3>
          <div class="space40"></div>
        </div>
      </div>
      <div class="grid grid-view light-gallery-wrapper">
        <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
         {% for project in page.projects_area.projects %}
          <div class="item item-detailed">
            <figure class="rounded mb-30">
              <div class="item-detailed-image">
                {% for image in project.images %}
                 <img src="{{image.img}}" alt="{{project.title}}"/>
                {% endfor %}
              </div>
                <a href="{{project.images[0].img}}" class="hover-icon-first lightbox" data-tip="{{project.title}}">
                  <i class="jam jam-qr-code"></i>
                </a>
                {% if project.url %}
                  <a href="{{project.url}}" class="hover-icon-second" data-tip="See details">
                    <i class="jam jam-link"></i>
                  </a>
                {% endif %}
            </figure>
            <div class="item-content">
              {% if project.title %}
               <h2 class="post-title mb-10"><a href="{{project.url}}">{{project.title}}</a></h2>
              {% endif %}
              {% if project.sub_title %}
               <div class="meta mb-0">{{project.sub_title}}</div>
              {% endif %}
            </div>
            <!-- /.item-content -->
          </div>
          {% endfor %}
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /.grid-view -->
    </div>
    <!-- /.container -->
  </div>
  </div>
  {% endif %}
  {% if page.awards_area.enable %}
  <div class="awards-area"> 
  <div class="wrapper light-wrapper">
    <div class="container inner pt-40 pb-0">
      <div class="row">
        <div class="col-md-7 mx-auto">
          {% if page.awards_area.title %}
           <h2 class="title-color color-default text-center">{{page.awards_area.title}}</h2>
          {% endif %}
          {% if page.awards_area.sub_title %}
           <h2 class="display-3 text-center">{{page.awards_area.sub_title}}</h2>
          {% endif %}
        </div>
      </div>
      <div class="space40"></div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="row counter">
            {% for list in page.awards_area.lists %}
            <div class="col-md-3 text-center">
              {% if list.icon %}
              <div class="icon icon-svg mb-20">
                <img src="{{list.icon}}" alt="{{list.title}}"/>
              </div>
              {% endif %}
              <h3 class="value">{{list.numbers}}</h3>
              <p>{{list.title}}</p>
            </div>
            {% endfor %}
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    {% if page.awards_area.bg_image %}
    <figure class="cover">
      <img src="/assets/images/art/bg12.jpg" alt="" />
    </figure>
    {% endif %}
  </div>
  <!-- /.wrapper -->
  </div>
  {% endif %}
  {% include footer_6.html light_logo="true" %}
</div>
