---
layout: default
hero_area:
  enable: true
  title: "Hello, I am Jonathan Davis."
  sub_title: |
    I’m a corporate brand designer based in New York City. I’m very <br class="d-none d-xl-block" />passionate about the work that I do, and if you are curious you can find my works on <a href="#" class="color-s-dribbble">Dribbble</a>, my portfolio on <a href="#" class="color-s-behance">Behance</a>, and my shots on <a href="#" class="color-s-instagram">Instagram</a>.

portfolios_area:
  enable: true
  projects:
    - title: "Fringilla Nullam"
      sub_title: "Corporate, Application"
      sm_image: "/assets/images/art/m1.jpg"
      big_image: "/assets/images/art/p1-full.jpg"
      post_url: "#"

    - title: "Ridiculus Parturient"
      sub_title: "Application"
      sm_image: "/assets/images/art/m2.jpg"
      big_image: "/assets/images/art/p2-full.jpg"
      post_url: "#"

    - title: "Ornare Ipsum"
      sub_title: "Corporate, Branding"
      sm_image: "/assets/images/art/m3.jpg"
      big_image: "/assets/images/art/p3-full.jpg"
      post_url: "#"

    - title: "Nullam Mollis"
      sub_title: "Application"
      sm_image: "/assets/images/art/m4.jpg"
      big_image: "/assets/images/art/p4-full.jpg"
      post_url: "#"

    - title: "Euismod Risus"
      sub_title: "Video, Application"
      sm_image: "/assets/images/art/m5.jpg"
      big_image: "https://vimeo.com/90355541"
      post_url: "#"

    - title: "Euismod Risus"
      sub_title: "Video, Application"
      sm_image: "/assets/images/art/m6.jpg"
      big_image: "/assets/images/art/p6-full.jpg"
      post_url: "#"

    - title: "Ridiculus Tristique"
      sub_title: "Branding"
      sm_image: "/assets/images/art/m7.jpg"
      big_image: "/assets/images/art/p7-full.jpg"
      post_url: "#"

    - title: "Tristique Venenatis"
      sub_title: "Video, Application"
      sm_image: "/assets/images/art/m8.jpg"
      big_image: "/assets/images/art/p8-full.jpg"
      post_url: "#"

    - title: "Cursus Fusce"
      sub_title: "Application"
      sm_image: "/assets/images/art/m9.jpg"
      big_image: "https://www.youtube.com/watch?v=26TbMXXOe0I"
      post_url: "#"

    - title: "Consectetur Malesuada"
      sub_title: "Branding"
      sm_image: "/assets/images/art/m10.jpg"
      big_image: "/assets/images/art/p10-full.jpg"
      post_url: "#"

    - title: "Ultricies Aenean"
      sub_title: "Corporate"
      sm_image: "/assets/images/art/m11.jpg"
      big_image: "/assets/images/art/p11-full.jpg"
      post_url: "#"

    - title: "Pellentesque Commodo"
      sub_title: "Branding"
      sm_image: "/assets/images/art/m12.jpg"
      big_image: "/assets/images/art/p12-full.jpg"
      post_url: "#"

call_to_action:
  enable: true
  title: "If you like what you see, let's work together."
  button_text: "Get in Touch"
  button_url: "#"
---
<link rel="stylesheet" type="text/css" href="/assets/css/color/hibiscus.css"/>
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/assets/css/font/font3.css"/>
<div class="content-wrapper">
  {% include header.html extra_class="absolute transparent" logo_class="logo" container_class="container" %}
  {% if page.hero_area.enable %}
	<div class="wrapper bg-opacity-default">
	  <div class="container inner">
	    <div class="space90"></div>
        <div class="row">
        	<div class="col-md-11">
	        {% if page.hero_area.title %}
		     <h1 class="display-1">{{page.hero_area.title}}</h1>
		    {% endif %}
		    <div class="space10"></div>
		    {% if page.hero_area.sub_title %}
		     <h2 class="display-4">{{page.hero_area.sub_title}}</h2>
		    {% endif %}
        	</div>
        </div>
	    <div class="space70"></div>
	  </div>
	  <!-- /.container -->
	  <div class="space150"></div>
	</div>
	<!-- /.wrapper -->
	{% endif %}
	{% if page.portfolios_area.enable %}
	<div class="wrapper overflow-top">
	  <div class="container inner pt-0">
	    <div class="grid grid-view boxed">
	      <div class="tiles light-gallery-wrapper">
	        <div class="row isotope">
             {% for project in page.portfolios_area.projects %}
	          <div class="item grid-sizer col-md-6 col-lg-4 corporate application">
	            <div class="box bg-white shadow p-30">
	              {% if project.sm_image %}
	              <figure class="main overlay overlay2 rounded mb-30">
	              	<a href="{{project.big_image}}" class="lightbox"> 
	              	<img src="{{project.sm_image}}" alt="{{project.title}}"/></a>
	              </figure>
	              {% endif %}
	              <div class="post-content">
	                <h2 class="post-title mb-10"><a href="{{project.post_url}}">{{project.title}}</a></h2>
	                <div class="meta mb-0">{{project.sub_title}}</div>
	              </div>
	              <!-- /.post-content -->
	            </div>
	            <!-- /.box -->
	          </div>
	          <!-- /.item -->
              {% endfor %}
	        </div>
	        <!-- /.row -->
	      </div>
	      <!-- /.tiles -->
	    </div>
	    <!-- /.grid -->
	  </div>
	  <!-- /.container -->
	</div>
	<!-- /.wrapper -->
	{% endif %}
	{% if page.call_to_action.enable %}
	<div class="wrapper bg-opacity-default">
	 <div class="container inner">
	  <div class="d-lg-flex align-items-lg-center justify-content-lg-between">
	  	{% if page.call_to_action.title %}
	     <h2 class="display-1 mb-0 pr-5">{{page.call_to_action.title}}</h2>
	    {% endif %}
	    <div class="space30 d-block d-lg-none"></div>
	    {% if page.call_to_action.button_text %}
	     <a href="{{page.call_to_action.button_url}}" class="btn btn-l btn-strong-hover mb-0">{{page.call_to_action.button_text}}</a>
	    {% endif %}
	  </div>
	 </div>
	</div>
	{% endif %}
  {% include footer_3.html extra_class="light-wrapper" %}
</div>
