---
layout: one_page
hero_area:
  enable: true
  title: "We Are"
  sub_title: "We are a digital media agency that believes in the power of creative ideas. We love to turn great ideas into beautiful products."
  animated_text:
    - "Awesome"
    - "Web Design"
    - "Graphic Design"

cover_image_one:
  enable: true
  image: "/assets/images/art/bg27.jpg"
  title: "cover image title"

features_area:
  enable: true
  title: "What We Do?"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  features:
    - title: "SEO Services"
      icon: "jam jam-search"
      icon_color: "blue"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

    - title: "Web Design"
      icon: "jam jam-layout"
      icon_color: "green"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

    - title: "Social Engagement"
      icon: "jam jam-share-alt"
      icon_color: "pink"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

    - title: "Content Marketing"
      icon: "jam jam-task-list"
      icon_color: "purple"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

portfolios_area:
  enable: true
  title: "My Latest Works"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  portfolios:
    - title: "Shopping Bag"
      sub_title: "Application"
      sm_img: "/assets/images/art/s1.jpg"
      big_img: "/assets/images/art/s1-2.jpg"
      url: "#"

    - title: "Paperback Book"
      sub_title: "Corporate, Branding"
      sm_img: "/assets/images/art/s2.jpg"
      big_img: "/assets/images/art/s2-2.jpg"
      url: "#"
      
    - title: "Clipboard Office"
      sub_title: "Application"
      sm_img: "/assets/images/art/s3.jpg"
      big_img: "/assets/images/art/s3-2.jpg"
      url: "#"
      
    - title: "Branding Stationery"
      sub_title: "Video, Application"
      sm_img: "/assets/images/art/s4.jpg"
      big_img: "/assets/images/art/s4-2.jpg"
      url: "#"
      
    - title: "Branding Stationery"
      sub_title: "Video, Application"
      sm_img: "/assets/images/art/s5.jpg"
      big_img: "/assets/images/art/s5-2.jpg"
      url: "#"
      
    - title: "Shopping Paperbag"
      sub_title: "Corporate, Branding"
      sm_img: "/assets/images/art/s6.jpg"
      big_img: "/assets/images/art/s6-2.jpg"
      url: "#"

process_area:
  enable: true
  title: "Our Process"
  sub_title: "We bring solutions to make life easier for our customers"
  image: "/assets/images/concept/concept1@2x.png"
  lists:

    - title: "Collect Ideas"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "jam jam-lightbulb"
      icon_color: "blue"

    - title: "Data Analysis"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "jam jam-search-folder"
      icon_color: "teal"

    - title: "Magic Touch"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "jam jam-heart"
      icon_color: "yellow"

cover_image_two:
  enable: true
  image: "/assets/images/art/bg28.jpg"
  title: "cover image title"

cover_image_two:
  enable: true
  image: "/assets/images/art/bg29.jpg"
  title: "cover image title"

cover_image_two:
  enable: true
  image: "/assets/images/art/bg30.jpg"
  title: "cover image title"

about_us:
  enable: true
  title: "About Us"
  sub_title: "We are a creative company that focuses on establishing long-term relationships with customers."
  paragraphs:
    - text: |
        Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.
    - text: |
        Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh.
  image: "/assets/images/art/about2.jpg"
  projects_number: 450
  projects_tag: "Completed Projects"

our_skills: 
  enable: true
  title: "Our Skills"
  sub_title: "We make your spending stress-free for you to have the perfect control."
  image: "/assets/images/art/about3.jpg"
  skills:
    - title: "Web Development"
      numbers: 100
      style: "pink"

    - title: "Product Design"
      numbers: 80
      style: "blue"

    - title: "Identity & Branding"
      numbers: 85
      style: "green"

    - title: "Mobile Development"
      numbers: 90
      style: "purple"

tabs_area:
  enable: true
  title: "Why Choose Us?"
  sub_title: "A few reasons why our valued customers choose us."
  image: "/assets/images/art/about6.jpg"
  tabs:
    - question: "Money Protection"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes.

    - question: "Strategic Development"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes.

    - question: "Marketing Management"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes.

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: "We offer great prices, premium products and quality service for your business."
  btn_url: "#"
  description: |
    "Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      pricing_url: "#"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      pricing_url: "#"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

faq_area:
  enable: true
  title: "FAQ"
  sub_title: "If you don't see an answer to your question, you can send us an email from our contact form."
  image: "/assets/images/concept/concept4@2x.png"
  tabs:
    - question: "Can I cancel my subscription?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "Which payment methods do you accept"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "How can I manage my Account?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "Is my credit card information secure?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "How do I get my subscription receipt?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

contact_area:
  enable: true
  title: "Get in Touch"
  sub_title: "Have any questions? Reach out to us from our contact form and we will get back to you shortly."
  action_email: "tortoizthemes@gmail.com"
  map_frame: |
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.4564967931838!2d-122.03250858386237!3d37.33169997984258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb5b6e94ffe23%3A0x63bb79532baa6af4!2sApple+Campus!5e0!3m2!1sen!2str!4v1553850783971!5m2!1sen!2str" style="width:100%; height: 450px; border:0" allowfullscreen></iframe>

  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "First Name Is required" 

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Laast Name" 
      error_message: "Last Name Is required"

    - field_type: "input"
      field_name: "user_email"
      placeholder: "Email"
      error_message: "Email Is required"

    - field_type: "input"
      field_name: "user_phone"
      placeholder: "Phone Number"
      error_message: "Phone Number Is required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "Message"
      error_message: "Message Is required"
---

<div class="content-wrapper">
    {% include one_page_nav_2.html %} 
    {% if page.hero_area.enable %}
    <section id="home" class="pt-0 mt-0">
        <div class="wrapper white-wrapper">
            <div class="container inner">
                <div class="row">
                    <div class="col-md-9">
                        <div class="space90"></div>
                        <h1 class="display-1">
                            {{page.hero_area.title}}
                            <span class="typer color-default" id="typer" data-delay="100" data-delim=":" data-words="{% for text in page.hero_area.animated_text %} {{text | append: ':'}} {% endfor %}"> </span>
                            <span class="cursor color-default" data-owner="typer"></span>
                        </h1>
                        <div class="space10"></div>
                        <h2 class="display-4">{{page.hero_area.sub_title}}</h2>
                        <div class="space30"></div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->
    {% endif %} 
    {% if page.cover_image_one.enable %}
    <figure class="cover">
        <img src="{{page.cover_image_one.image}}" alt="{{page.cover_image_one.title}}" />
    </figure>
    {% endif %} 
    {% if page.features_area.enable %}
    <section id="services">
        <div class="wrapper white-wrapper">
            <div class="container">
                <div class="space140"></div>
                <div class="row">
                    <div class="col-md-10">
                        {% if page.features_area.title %}
                        <h3 class="title-color color-gray">{{page.features_area.title}}</h3>
                        {% endif %} {% if page.features_area.sub_title %}
                        <h2 class="display-3">{{page.features_area.sub_title}}</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="space40"></div>
                <div class="row gutter-60">
                    {% for features in page.features_area.features %}
                    <div class="col-md-6 col-lg-3">
                        <div class="icon icon-blob icon-blob-{{features.icon_color}} color-{{features.icon_color}} mb-20">
                            <i class="{{features.icon}}"></i>
                        </div>
                        <h5>{{features.title}}</h5>
                        <p>{{features.description}}</p>
                    </div>
                    <!--/column -->
                    {% endfor %}
                </div>
                <!--/.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->
    {% endif %} 
    {% if page.portfolios_area.enable %}
    <section id="portfolio">
        <div class="wrapper light-wrapper">
            <div class="container">
                <div class="space140"></div>
                {% if page.portfolios_area.title %}
                <h3 class="title-color color-gray">{{page.portfolios_area.title}}</h3>
                {% endif %}
                <div class="row align-items-center">
                    <div class="col-md-9">
                        {% if page.portfolios_area.sub_title %}
                        <h3 class="display-3 mb-0">{{page.portfolios_area.sub_title}}</h3>
                        {% endif %}
                    </div>
                    <!--/column -->
                    <div class="col-md-3 ml-auto text-md-right">
                        <a href="#" class="btn btn-default m-0">See All Works</a>
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                <div class="space40"></div>
                <div class="grid grid-view boxed">
                    <div class="tiles">
                        <div class="row isotope light-gallery-wrapper">
                            {% for portfolios in page.portfolios_area.portfolios %}
                            <div class="item item-detailed grid-sizer col-md-6 col-lg-4">
                                <div class="box bg-white shadow p-30">
                                    <figure class="main rounded mb-30">
                                        <div class="item-detailed-image">
                                            {% if portfolios.sm_img %}
                                            <img src="{{portfolios.sm_img}}" alt="{{portfolios.title}}" />
                                            {% endif %} {% if portfolios.big_img %}
                                            <img src="{{portfolios.big_img}}" alt="{{portfolios.title}}" />
                                            {% endif %}
                                        </div>
                                        <a href="{{portfolios.big_img}}" class="hover-icon-first lightbox" data-tip="Enlarge image"><i class="jam jam-qr-code"></i></a>
                                        <a href="{{portfolios.url}}" class="hover-icon-second" data-tip="Go to link"><i class="jam jam-link"></i></a>
                                    </figure>
                                    <div class="item-content">
                                        <h2 class="post-title mb-10">{{portfolios.title}}</h2>
                                        <div class="meta mb-0">{{portfolios.sub_title}}</div>
                                    </div>
                                    <!-- /.item-content -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.item -->
                            {% endfor %}
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.tiles -->
                </div>
                <!-- /.grid -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    {% endif %} 
    {% if page.process_area.enable %}
    <section id="process">
        <div class="wrapper white-wrapper">
            <div class="container">
                <div class="space140"></div>
                <div class="row align-items-center">
                    {% if page.process_area.image %}
                    <div class="col-lg-6 order-lg-2">
                        <figure>
                            <img src="{{page.process_area.image}}" alt="{{page.process_area.title}}" />
                        </figure>
                    </div>
                    {% endif %}
                    <div class="space20 d-md-none"></div>
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-6 pr-60 pr-md-15">
                        {% if page.process_area.title %}
                        <h2 class="title-color color-gray">{{page.process_area.title}}</h2>
                        {% endif %} {% if page.process_area.sub_title %}
                        <h3 class="display-3">{{page.process_area.sub_title}}</h3>
                        {% endif %} {% for list in page.process_area.lists %}
                        <div class="space30"></div>
                        <div class="d-flex flex-row justify-content-center">
                            <div>
                                <span class="icon icon-blob icon-blob-{{list.icon_color}} color-{{list.icon_color}} mr-25">
                                    <i class="{{list.icon}}"></i>
                                    <span class="step bg-{{list.icon_color}}">{{forloop.index}}</span>
                                </span>
                            </div>
                            <div>
                                <h5>{{list.title}}</h5>
                                <p class="mb-0">{{list.description}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                <div class="space140"></div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->
    {% endif %} 
    {% if page.cover_image_two.enable %}
    <figure class="cover">
        <img src="{{page.cover_image_two.image}}" alt="{{page.cover_image_two.title}}" />
    </figure>
    {% endif %}

    <section id="about">
        <div class="wrapper white-wrapper">
            <div class="space140"></div>
            <div class="container">
                {% if page.about_us.enable %}
                <div class="row align-items-center">
                    {% if page.about_us.image %}
                    <div class="col-lg-6 text-center">
                        <div>
                            <div class="img-blob blob3">
                                <img src="{{page.about_us.image}}" style="width: 30rem;" alt="{{page.about_us.title}}" />
                            </div>
                            <div class="row counter counter-s position-absolute" style="top: 67%; left: 16%;">
                                <div class="col-md-10 text-center">
                                    <div class="full-circle bg-default color-white">
                                        <div class="full-circle-inner">
                                            {% if page.about_us.projects_number %}
                                            <h3 class="color-white mb-5"><span class="value">{{page.about_us.projects_number}}</span>+</h3>
                                            {% endif %} {% if page.about_us.projects_tag %}
                                            <p><strong>{{page.about_us.projects_tag}}</strong></p>
                                            {% endif %}
                                        </div>
                                        <!--/.full-circle-inner -->
                                    </div>
                                    <!--/.full-circle -->
                                </div>
                                <!--/column -->
                            </div>
                            <!--/.row -->
                        </div>
                    </div>
                    <!--/column -->
                    {% endif %}
                    <div class="space20 d-md-none"></div>
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-6 pl-60 pl-md-15">
                        {% if page.about_us.title %}
                        <h2 class="title-color color-gray">{{page.about_us.title}}</h2>
                        {% endif %} {% if page.about_us.sub_title %}
                        <h3 class="display-3">{{page.about_us.sub_title}}</h3>
                        {% endif %}
                        <div class="space10"></div>
                        {% for paragraph in page.about_us.paragraphs %}
                        <p>{{paragraph.text}}</p>
                        {% endfor %}
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                {% endif %}
                <div class="space140"></div>
                {% if page.our_skills.enable %}
                <div class="row align-items-center">
                    {% if page.our_skills.image %}
                    <div class="col-lg-6 order-lg-2 text-center">
                        <div class="img-blob blob4">
                            <img src="{{page.our_skills.image}}" style="width: 30rem;" alt="{{page.our_skills.title}}" />
                        </div>
                    </div>
                    {% endif %}
                    <div class="space20 d-md-none"></div>
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-6 pr-60 pr-md-15">
                        {% if page.our_skills.title %}
                        <h2 class="title-color color-gray">{{page.our_skills.title}}</h2>
                        {% endif %} {% if page.our_skills.sub_title %}
                        <h3 class="display-3">{{page.our_skills.sub_title}}</h3>
                        {% endif %}
                        <div class="space20"></div>
                        <ul class="progress-list">
                            {% for skills in page.our_skills.skills %}
                            <li>
                                <p>{{skills.title}}</p>
                                <div class="progressbar line {{skills.style}}" data-value="{{skills.numbers}}"></div>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- /.progress-list -->
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                {% endif %} 
                {% if page.tabs_area.enable %}
                <div class="space140"></div>
                <div class="two-columns-three">
                    <div class="row align-items-center">
                        {% if page.tabs_area.image %}
                        <div class="col-lg-6 text-center">
                            <div class="img-blob blob3">
                                <img src="{{page.tabs_area.image}}" style="width: 30rem;" alt="{{page.tabs_area.title}}" />
                            </div>
                        </div>
                        {% endif %}
                        <div class="space20 d-md-none"></div>
                        <div class="space50 d-none d-md-block d-lg-none"></div>
                        <div class="col-lg-6 pl-60 pl-md-15">
                            {% if page.tabs_area.title %}
                            <h2 class="title-color color-default">{{page.tabs_area.title}}</h2>
                            {% endif %} {% if page.tabs_area.sub_title %}
                            <h3 class="display-3">{{page.tabs_area.sub_title}}</h3>
                            {% endif %}
                            <div class="space20"></div>
                            <div id="accordion-1" class="accordion-wrapper simple">
                                {% for tab in page.tabs_area.tabs %}
                                <div class="card">
                                    <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
                                        <h5>
                                            <button data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="true" aria-controls="accordion-collapse-1-{{forloop.index}}">{{tab.question}}</button>
                                        </h5>
                                    </div>
                                    <!-- /.card-header -->
                                    <div id="accordion-collapse-1-{{forloop.index}}" class="collapse {% if forloop.index == 1 %} show {% endif %}" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p>{{tab.answer}}</p>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.collapse -->
                                </div>
                                {% endfor %}
                            </div>
                            <!-- /.accordion-wrapper -->
                        </div>
                        <!--/column -->
                    </div>
                    <!--/.row -->
                </div>

                <div class="space140"></div>
                {% endif %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->

    {% if page.cover_image_three.enable %}
    <figure class="cover">
        <img src="{{page.cover_image_three.image}}" alt="{{page.cover_image_three.title}}" />
    </figure>
    {% endif %}
    <section id="pricing">
        <div class="wrapper light-wrapper">
            <div class="container">
                <div class="space20"></div>
                {% assign pricing_data = page.pricing_table %}
                {% if pricing_data.enable %}
                <div class="row">
                    <div class="col-lg-5 pr-50 pr-md-15">
                        <h2 class="title-color color-gray">{{pricing_data.title}}</h2>
                        <h3 class="display-3">{{pricing_data.sub_title}}</h3>
                        <div class="space20"></div>
                        <p>{{pricing_data.description}}</p>
                        <div class="space10"></div>
                        {% if pricing_data.pricing_url %}
                        <a href="{{pricing_data.pricing_url}}" class="btn">See All Prices</a>
                        {% endif %}
                    </div>
                    <!--/column -->
                    <div class="space70 d-none d-md-block d-lg-none"></div>
                    <div class="space20 d-md-none"></div>
                    <div class="col-lg-7">
                        <div class="pricing-wrapper">
                            <div class="row no-gutters">
                                {% for pricing in pricing_data.plans %}
                                <div class="col-md-6">
                                    <div class="pricing panel box bg-white shadow">
                                        <div class="panel-heading">
                                            <div class="prices color-dark">
                                                <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                                            </div>
                                            <h4 class="panel-title mb-0">{{pricing.title}}</h4>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table">
                                                {% for features in pricing.features %}
                                                <tr>
                                                    <td>{{features}}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <div class="panel-footer"><a href="{{pricing.pricing_url}}" class="btn" role="button">Choose Plan</a></div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="space140"></div>
                {% if page.faq_area.enable %}
                <div class="row">
                    {% if page.faq_area.image %}
                    <div class="col-lg-6">
                        <figure>
                            <img src="{{page.faq_area.image}}" alt="{{page.faq_area.title}}" />
                        </figure>
                    </div>
                    {% endif %}
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="space10 d-md-none"></div>
                    <div class="col-lg-6 pl-60 pl-md-15">
                        <h2 class="title-bg bg-default color-default">{{page.faq_area.title}}</h2>
                        <div class="space10"></div>
                        <h3 class="display-3">{{page.faq_area.sub_title}}</h3>
                        <div class="space20"></div>
                        <div id="accordion-2" class="accordion-wrapper simple">
                            {% for tab in page.faq_area.tabs %}
                            <div class="card">
                                <div class="card-header" id="accordion-heading-2-1">
                                    <h5>
                                        <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-1">
                                            {{tab.question}}
                                        </button>
                                    </h5>
                                </div>
                                <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2" data-parent="#accordion-2">
                                    <div class="card-body">
                                        <p>
                                            {{tab.answer}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- /.accordion-wrapper -->
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->
    {% if page.cover_image_three.enable %}
    <figure class="cover">
        <img src="{{page.cover_image_three.image}}" alt="{{page.cover_image_three.title}}" />
    </figure>
    {% endif %}
    {% if page.contact_area.enable %}
    <section id="contact">
        <div class="wrapper white-wrapper">
            <div class="container">
                <div class="space140"></div>
                <div class="row">
                    <div class="col-md-9">
                        {% if page.contact_area.title %}
                        <h2 class="title-color color-gray">{{page.contact_area.title}}</h2>
                        {% endif %} {% if page.contact_area.sub_title %}
                        <h3 class="display-3">{{page.contact_area.sub_title}}</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="space40"></div>
                <div class="row align-items-center">
                    {% if page.contact_area.map_frame %}
                    <div class="col-lg-6">
                        <div class="google-map rounded">
                            {{page.contact_area.map_frame}}
                        </div>
                        <!--/.google-map -->
                    </div>
                    <!--/column -->
                    {% endif %}
                    <div class="space20 d-md-none"></div>
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-6 pl-50 pl-md-15">
                        <form id="contact-form" class="fields-white" method="post" action="https://formsubmit.io/send/{{page.contact_area.action_email}}">
                            <div class="messages"></div>
                            <div class="controls">
                                <div class="form-row">
                                    {% for forms_data in page.contact_area.forms_data %}
                                    {% if forms_data.field_type == "input" %}
                                    <div class="col-lg-12 col-xl-6">
                                        <div class="form-group">
                                            <input
                                                id="{{forms_data.field_name}}"
                                                type="text"
                                                name="{{forms_data.field_name}}"
                                                class="form-control"
                                                placeholder="{{forms_data.placeholder}}  *"
                                                required="required"
                                                data-error="{{forms_data.error_message}}"
                                            />
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    {% else if forms_data.field_type == "textarea" %}
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea
                                                id="{{forms_data.field_name}}"
                                                name="{{forms_data.field_name}}"
                                                class="form-control"
                                                placeholder="{{forms_data.placeholder}} *"
                                                rows="4"
                                                required="required"
                                                data-error="{{forms_data.error_message}}"
                                            ></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    {% endif %} {% endfor %}
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-send" value="Send message" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <p class="text-muted"><strong>*</strong> These fields are required.</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!-- /.container -->
        </div>
        <div class="space50"></div>
    </section>
    {% endif %} 
    {% include footer_3.html extra_class="light-wrapper" %}
</div>

