---
layout: default

slider_posts:
  enable: true

three_columns_area:
  enable: true
  title: "Hello! I'm Caitlyn. Welcome to my blog. Here on this blog you will be able to find travel diary with traveling tips."
  columns_data:
    - title: "About Me"
      image: "/assets/images/art/f1.jpg"
      read_more_text: "Read Details"
      read_more_url: "#"

    - title: "Destinations"
      image: "/assets/images/art/f2.jpg"
      read_more_text: "See Destinations"
      read_more_url: "#"

    - title: "Instagram"
      image: "/assets/images/art/f3.jpg"
      read_more_text: "Follow Me"
      read_more_url: "#"

classic_posts_area:
  enable: true
  posts_number: 2

grid_posts_area:
  enable: true
  posts_number: 4
---

<link rel="stylesheet" type="text/css" href="/assets/css/color/rose.css"/>
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/assets/css/font/font3.css"/>
  <div class="content-wrapper">
    {% include header_2.html logo_class="logo" %}
    <div class="wrapper light-wrapper">
      {% if page.slider_posts.enable %}
       {% include slider_posts.html %}
      {% endif %}
      <div class="container inner pt-80">
       {% if page.three_columns_area.enable %}
       <div class="three-columns-wrapper">
          <div class="row">
            <div class="col-md-9 mx-auto">
               {% if page.three_columns_area.title %}
                <h3 class="display-3 text-center">{{page.three_columns_area.title}}</h3>
               {% endif %}
            </div>
          </div>
          <div class="space40"></div>
          <div class="grid grid-view boxed">
            <div class="tiles text-center">
              <div class="row isotope">
                {% for data in page.three_columns_area.columns_data %}
                <div class="item grid-sizer col-md-4 corporate application">
                  <div class="box bg-white shadow p-30">
                    <figure class="main overlay overlay1 rounded mb-30">
                      <a href="{{data.read_more_url}}"><img src="{{data.image}}" alt="{{data.title}}"/></a>
                      <figcaption>
                        <h5 class="from-top text-uppercase mb-0">{{data.read_more_text}}</h5>
                      </figcaption>
                    </figure>
                    <div class="post-content">
                      <h5 class="text-uppercase mb-0">{{data.title}}</h5>
                    </div>
                    <!-- /.post-content -->
                  </div>
                  <!-- /.box -->
                </div>
                {% endfor %}
              </div>
              <!-- /.row -->
            </div>
            <!-- /.tiles -->
          </div>
          <!-- /.grid-view -->
        </div>
        <div class="space120"></div>
        {% endif %}
        <div class="row">
          <div class="col-lg-8">
            <div class="blog classic-view boxed">
              {% for post in site.posts  limit: page.classic_posts_area.posts_number %}
              {% if post.post_format == "video" %}
                <div class="post">
                <div class="box bg-white shadow">
                  {% if post.vimeo_video_id %}
                  <div class="player-wrapper">
                    <div class="player" data-plyr-provider="vimeo" data-plyr-embed-id="{{post.vimeo_video_id}}"></div>
                  </div>
                  {% endif %}
                  <div class="space40"></div>
                  <div class="post-content">
                    {% if post.categories %}
                    <div class="category">
                      <a href="/category/{{post.categories[0] | slugify}}" class="badge badge-pill bg-leaf">{{post.categories[0]}}</a>
                    </div>
                    {% endif %}
                    <h2 class="post-title">
                      <a href="{{post.url}}">{{post.title}}</a>
                    </h2>
                    <div class="meta">
                      {% if post.date %}
                       <span class="date"><i class="jam jam-clock"></i>{{post.date | date_to_string}}</span>
                      {% endif %}
                      {% if post.author %}
                       <span class="author"><i class="jam jam-user"></i><a href="#">By {{post.author}}</a></span>
                      {% endif %}
                    </div>
                    <p>{{post.excerpt | strip_html | truncatewords: 300}}</p>
                    <a href="{{post.url}}" class="more">Read more</a>
                  </div>
                  <!-- /.post-content -->
                </div>
                <!-- /.box -->
              </div>
              <!-- /.post -->
              {% else %}
              <div class="post">
                <div class="box bg-white shadow">
                  {% if post.post_image %}
                  <figure class="main overlay overlay1 rounded">
                    <a href="{{post.url}}"><img src="{{post.post_image}}" alt="{{post.title}}"/></a>
                    <figcaption>
                      <h5 class="from-top text-uppercase mb-0">Read More</h5>
                    </figcaption>
                  </figure>
                  {% endif %}
                  <div class="space40"></div>
                  <div class="post-content">
                    {% if post.categories %}
                    <div class="category">
                      <a href="/category/{{post.categories[0] | slugify}}" class="badge badge-pill bg-leaf">{{post.categories[0]}}</a>
                    </div>
                    {% endif %}
                    <h2 class="post-title">
                      <a href="{{post.url}}">{{post.title}}</a>
                    </h2>
                    <div class="meta">
                      {% if post.date %}
                       <span class="date"><i class="jam jam-clock"></i>{{post.date | date_to_string}}</span>
                      {% endif %}
                      {% if post.author %}
                       <span class="author"><i class="jam jam-user"></i><a href="#">By {{post.author}}</a></span>
                      {% endif %}
                    </div>
                    <p>{{post.excerpt | strip_html | truncatewords: 60}}</p>
                    <a href="{{post.url}}" class="more">Read more</a>
                  </div>
                </div>
                <!-- /.box -->
              </div>
              <!-- /.post -->
               {% endif %}
              {% endfor %}
            </div>
            <!-- /.blog -->
            {% if page.grid_posts_area.enable %}
            <div class="blog grid grid-view boxed">
              <div class="row isotope">
                {% for post in site.posts offset: page.classic_posts_area.posts_number limit: page.grid_posts_area.posts_number  %}
                <div class="item post grid-sizer col-md-6">
                  <div class="box bg-white shadow p-30">
                    {% if post.post_image %}
                    <figure class="main mb-30 overlay overlay1 rounded">
                      <a href="{{post.url}}"> <img src="{{post.post_image}}" class="post-thumb" alt="{{post.title}}" /></a>
                      <figcaption>
                        <h5 class="from-top text-uppercase mb-0">Read More</h5>
                      </figcaption>
                    </figure>
                    {% endif %}
                    {% if post.categories %}
                    <div class="category">
                      <a href="/category/{{post.categories[0] | slugify}}" class="badge badge-pill bg-leaf">{{post.categories[0]}}</a>
                    </div>
                    {% endif %}
                    <h2 class="post-title">
                      <a href="{{post.url}}">{{post.title | truncatewords: 9}}</a>
                    </h2>
                    <div class="post-content">
                      <p>{{post.excerpt | strip_html | truncatewords: 20}}</p>
                    </div>
                    <!-- /.post-content -->
                    {% if post.date %}
                    <div class="meta mb-0">
                      <span class="date"><i class="jam jam-clock"></i> {{post.date | date_to_string}}</span>
                    </div>
                    {% endif %}
                  </div>
                  <!-- /.box -->
                </div>
                <!-- /.post -->
                {% endfor %}
              </div>
              <!-- /.row -->
            </div>
            <!-- /.blog -->
            {% endif %}
          </div>
          <div class="space30 d-none d-md-block d-lg-none"></div>
          <aside class="col-lg-4 sidebar">
           {% include sidebar.html %}
          </aside>
        </div>
      </div>
    </div>
   {% include footer.html %}
  </div>