---
layout: default
hero_area:
  enable: true
  title: "Simple, Powerful and Lightweight"
  sub_title: "Free & secure messaging app available in multiplatform."
  big_image: "/assets/images/art/macbook2.png"
  small_image: "/assets/images/art/iphone4.png"
  video_url: "https://vimeo.com/124071444"
  button_text: "How It Works"

features_tab:
  enable: true
  title: "What We Do"
  sub_title: "We plan and build digital products for your business or project with high confidence"
  lists:

    - title: "Marketing Research"
      icon: "/assets/images/icons/of-diagram.png"
      content:
        title: "Marketing Research"
        image: "/assets/images/art/ui1.png"
        description: |
          Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum.

        lists: 
          - Aenean eu leo quam ornare.
          - Nullam quis risus eget mollis.
          - Fusce dapibus cursus commodo.

    - title: "Secure Payments"
      icon: "/assets/images/icons/st-payment-method.png"
      content:
        title: "Secure Payments"
        image: "/assets/images/art/ui2.png"
        description: |
          Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum.
        button_text: "More Details"
        button_url: "#"
        lists: 
          - Donec elit non mi porta gravida.
          - Fusce dapibus cursus commodo.

    - title: "Daily Updates"
      icon: "/assets/images/icons/ms-cloud-computing.png"
      content:
        title: "Daily Updates"
        image: "/assets/images/art/ui3.png"
        description: |
          Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum.
        button_text: "More Details"
        button_url: "#"
        lists: 
          - Aenean eu leo quam ornare.
          - Nullam quis risus eget mollis.
          - Donec elit non mi porta gravida.
          - Fusce dapibus cursus commodo.

    - title: "System Integration"
      icon: "/assets/images/icons/sm-setting.png"
      content:
        title: "System Integration"
        image: "/assets/images/art/ui4.png"
        description: |
          Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum.
        button_text: "More Details"
        button_url: "#"
        lists: 
          - Aenean eu leo quam ornare.
          - Nullam quis risus eget mollis.
          - Donec elit non mi porta gravida.
          - Fusce dapibus cursus commodo.


      
two_columns_one:
  enable: true
  title: "How It Works"
  sub_title: "Find out everything you need to know about creating a business process model."
  image: "/assets/images/art/ui5.png"
  lists:

    - title: "Secured Transactions"
      sub_title: "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."

    - title: "Bills Planning"
      sub_title: "Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue."

    - title: "Always up to date"
      sub_title: "Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis."


two_column_two:
  enable: true
  title: "Our Process"
  sub_title: "We bring solutions to make life easier for our customers"
  image: "/assets/images/concept/concept1@2x.png"
  lists:

    - title: "Secured Transactions"
      description: "Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue."

    - title: "Bills Planning"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."


    - title: "Always up to date"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."

progress_area:
  enable: true
  title: "Company Progress"
  bg_image: "/assets/images/art/bg5.jpg"
  lists:

    - title: "New Visitors"
      sub_title: "Maecenas faucibus mollis interdum. Aenean eu leo."
      numbers: "75"
      color: "blue"

    - title: "Social Media"
      sub_title: "Maecenas faucibus mollis interdum. Aenean eu leo."
      numbers: "80"
      color: "green"

    - title: "Referrals"
      sub_title: "Maecenas faucibus mollis interdum. Aenean eu leo."
      numbers: "60"
      color: "red"

    - title: "Search Engines"
      sub_title: "Maecenas faucibus mollis interdum. Aenean eu leo."
      numbers: "90"
      color: "yellow"

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: |
    We offer great prices, premium products <br class="d-none d-lg-block" />and quality service for your business.
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      yearly_price: 99
      pricing_url: "#"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      yearly_price: 199
      pricing_url: "#"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Corporate Plan"
      monthly_price: 49
      yearly_price: 499
      pricing_url: "#"
      icon: "/assets/images/icons/ec-online-shop.png"
      features:
        - "<strong>49</strong> Project"
        - "<strong>300K</strong> API Access"
        - "<strong>500MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

testimonials:
  enable: true
  image: "/assets/images/art/about15.jpg"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

---

<link rel="stylesheet" type="text/css" href="/assets/css/color/cobalt.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/assets/css/font/font2.css" />
<div class="content-wrapper">
    {% include header.html extra_class="absolute transparent" logo_class="logo" container_class="container" %}
    <div class="wrapper bg-opacity-default">
        <div class="rev_slider_wrapper fullwidth-container dark-spinner">
            <div id="slider6" class="rev_slider fullwidthbanner light-gallery-wrapper" data-version="5.4.7">
                <ul>
                    <li data-transition="fade" data-thumb="">
                        <img src="/assets/images/dummy.png" style="background: transparent;" alt="hero" />
                        {% if page.hero_area.title %}
                        <div
                            class="tp-caption font-weight-600 color-dark"
                            data-x="['left','left','center','center']"
                            data-y="middle"
                            data-hoffset="['50','30','0','0']"
                            data-voffset="['-80','-80','-260','-190']"
                            data-fontsize="['40','40','34','32']"
                            data-lineheight="['50','50','44','42']"
                            data-width="['350','350','650','340']"
                            data-textAlign="['left','left','center','center']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                        >
                            {{page.hero_area.title}}
                        </div>
                        <!-- /.tp-caption -->
                        {% endif %} 
                        {% if page.hero_area.sub_title %}
                        <div
                            class="tp-caption font-weight-400 color-dark"
                            data-x="['left','left','center','center']"
                            data-y="middle"
                            data-hoffset="['50','30','0','0']"
                            data-voffset="['30','30','-200','-90']"
                            data-fontsize="['26','26','22','20']"
                            data-lineheight="['36','36','32','30']"
                            data-width="['350','350','650','340']"
                            data-textAlign="['left','left','center','center']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                        >
                            {{page.hero_area.sub_title}}
                        </div>
                        <!-- /.tp-caption -->
                        {% endif %} {% if page.hero_area.video_url %}
                        <a
                            class="tp-caption btn-play-wrapper lightbox"
                            data-x="['left','left','center','center']"
                            data-y="middle"
                            data-hoffset="['50','30','0','0']"
                            data-voffset="['125','125','-130','0']"
                            data-width="['auto','auto','auto','auto']"
                            data-textAlign="['left','left','center','center']"
                            data-frames='[{"delay":2500,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                            href="{{page.hero_area.video_url}}"
                        >
                            <span class="btn-play btn-play-s"></span><span class="h6 pl-10 font-weight-600">{{page.hero_area.button_text}}</span>
                        </a>
                        <!-- /.tp-caption -->
                        {% endif %} 
                        {% if page.hero_area.big_image %}
                        <div
                            class="tp-caption"
                            data-x="['right','right','center','center']"
                            data-y="middle"
                            data-hoffset="['60','30','0','0']"
                            data-voffset="['30','30','160','205']"
                            data-frames='[{"delay":500,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-visibility="['on','on','on','on']"
                            data-width="none"
                            data-height="none"
                            data-type="image"
                            data-responsive_offset="on"
                            style="z-index: 5;"
                        >
                            <img data-lazyload="" src="{{page.hero_area.big_image}}" data-ww="['740','650','550','400']" data-hh="['422','388','314','228']" alt="" />
                        </div>
                        <!-- /.tp-caption -->
                        {% endif %} 
                        {% if page.hero_area.small_image %}
                        <div
                            class="tp-caption"
                            data-x="['right','right','right','right']"
                            data-y="middle"
                            data-hoffset="['70','40','125','50']"
                            data-voffset="['110','110','220','250']"
                            data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-visibility="['on','on','on','on']"
                            data-width="none"
                            data-height="none"
                            data-type="image"
                            data-responsive_offset="on"
                            style="z-index: 5;"
                        >
                            <img data-lazyload="" src="{{page.hero_area.small_image}}" data-ww="['128','120','100','74']" data-hh="['242','227','190','140']" alt="hero" />
                        </div>
                        <!-- /.tp-caption -->
                        {% endif %}
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
            <!-- /.rev_slider -->
        </div>
        <!-- /.rev_slider_wrapper -->
    </div>
    <!-- /.wrapper -->
    <div class="wrapper light-wrapper">
        <div class="container inner">
            {% include clients_carousel.html %}
             {% if page.features_tab.enable %}
            <div class="features-area">
                <div class="space140"></div>
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <div class="text-center">
                            {% if page.features_tab.title %}
                            <h2 class="title-color color-gray">{{page.features_tab.title}}</h2>
                            {% endif %} {% if page.features_tab.sub_title %}
                            <h3 class="display-3">{{page.features_tab.sub_title}}</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- /.text-center -->
                <div class="space40"></div>
                <ul class="nav nav-tabs nav-tabs-centered nav-tabs-bg d-flex justify-content-between nav-justified text-center">
                    {% for list in page.features_tab.lists %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.index == 1 %} active {% endif %}" data-toggle="tab" href="#tab4-{{forloop.index}}">
                            {% if list.icon %}
                            <div class="icon icon-svg mb-10">
                                <img src="{{list.icon}}" alt="{{list.title}}" />
                            </div>
                            {% endif %}
                            <span>{{list.title}}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <!-- /.nav-tabs -->
                <div class="space60 d-none d-md-block"></div>
                <div class="tab-content">
                    {% for list in page.features_tab.lists %}
                    <div class="tab-pane {% if forloop.index == 1 %} show active {% endif %}" id="tab4-{{forloop.index}}">
                        <div class="row align-items-center">
                            {% if list.content.image %}
                            <div class="col-lg-7">
                                <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                                    <figure>
                                        <img src="{{list.content.image}}" alt="{{list.content.title}}" />
                                    </figure>
                                </div>
                            </div>
                            {% endif %}
                            <div class="space30 d-none d-md-block d-lg-none"></div>
                            <div class="col-lg-5">
                                <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                                    {% if list.content.title %}
                                    <h3>{{list.content.title}}</h3>
                                    {% endif %} 
                                    {% if list.content.description %}
                                    <p>{{list.content.description}}</p>
                                    {% endif %} 
                                    {% if list.content.lists %}
                                    <ul class="icon-list bullet-default">
                                        {% for sm_list in list.content.lists %}
                                        <li><i class="jam jam-arrow-right"></i>{{sm_list}}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %} 
                                    {% if list.content.button_text %}
                                    <div class="space10"></div>
                                    <a href="{{list.content.button_url}}" class="btn btn-default">{{list.content.button_text}}</a>
                                    {% endif %}
                                </div>
                            </div>
                            <!--/column -->
                        </div>
                        <!--/.row -->
                    </div>
                    {% endfor %}
                </div>
                <!-- /.tab-content -->
            </div>
            {% endif %} 
            {% if page.two_columns_one.enable %}
            <div class="two-columns-one">
                <div class="space160"></div>
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        {% if page.two_columns_one.title %}
                        <h2 class="title-color color-gray text-center">{{page.two_columns_one.title}}</h2>
                        {% endif %} {% if page.two_columns_one.sub_title %}
                        <h3 class="display-3 text-center">{{page.two_columns_one.sub_title}}</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="space40"></div>
                <div class="row align-items-xl-center">
                    {% if page.two_columns_one.image %}
                    <div class="col-lg-7">
                        <figure class="shadow">
                            <img src="{{page.two_columns_one.image}}" alt="{{page.two_columns_one.title}}" />
                        </figure>
                    </div>
                    {% endif %}
                    <div class="space20 d-md-none"></div>
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-5 pl-50 pl-md-15">
                        {% for list in page.two_columns_one.lists %}
                        <div class="d-flex flex-row">
                            <div>
                                <span class="icon icon-bg icon-bg-default color-default mr-25"><span class="number">{{forloop.index}}</span></span>
                            </div>
                            <div>
                                <h5>{{list.title}}</h5>
                                <p class="mb-0">{{list.sub_title}}</p>
                            </div>
                        </div>
                        <div class="space40"></div>
                        {% endfor %}
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            {% endif %}
        </div>
    </div>
    {% if page.progress_area.enable %}
    <div class="wrapper bg-opacity-default">
        <div class="container inner">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    {% if page.progress_area.title %}
                    <h2 class="title-color color-white text-center">{{page.progress_area.title}}</h2>
                    {% endif %}
                    <div class="space20"></div>
                    <div class="row text-center">
                        {% for list in page.progress_area.lists %}
                        <div class="col-md-6 col-lg-3">
                            <div class="progressbar circle {{list.color}}" data-value="{{list.numbers}}"></div>
                            <h5>{{list.title}}</h5>
                            <p>{{list.sub_title}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /column -->
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.wrapper -->
    {% endif %}
    <div class="wrapper light-wrapper">
        <div class="container inner">
            {% assign pricing_data = page.pricing_table %}
             {% if pricing_data.enable %}
            <div class="container inner">
                <h2 class="title-color color-gray text-center">{{pricing_data.title}}</h2>
                <h3 class="display-3 text-center">{{pricing_data.sub_title}}</h3>
                <div class="space40"></div>
                <div class="pricing-wrapper">
                    <div class="pricing-switcher-wrapper switcher">
                        <div class="pricing-switchers">
                            <div class="pricing-switcher pricing-switcher-active">Monthly</div>
                            <div class="pricing-switcher">Yearly</div>
                            <div class="switcher-button bg-default"></div>
                        </div>
                    </div>
                    <div class="space60"></div>
                    <div class="row no-gutters">
                        {% for pricing in pricing_data.plans %}
                        <div class="col-md-4">
                            <div class="pricing panel box bg-white shadow">
                                <div class="panel-heading">
                                    <div class="icon icon-svg mb-10"><img src="{{pricing.icon}}" alt="{{pricing.title}}" /></div>
                                    <h4 class="panel-title mb-35">{{pricing.title}}</h4>
                                    <div class="prices color-dark">
                                        <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                                        <div class="price price-hide price-hidden"><span class="price-currency">$</span><span class="price-value">{{pricing.yearly_price}}</span> <span class="price-duration">year</span></div>
                                    </div>
                                </div>
                                <!--/.panel-heading -->
                                <div class="panel-body">
                                    <table class="table">
                                        {% for features in pricing.features %}
                                        <tr>
                                            <td>{{features}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!--/.panel-body -->
                                <div class="panel-footer">
                                    <a href="{{pricing.pricing_url}}" class="btn" role="button">Choose Plan</a>
                                </div>
                            </div>
                            <!--/.pricing -->
                        </div>
                        {% endfor %}
                    </div>
                    <!--/.row -->
                </div>
                <!--/.pricing-wrapper -->
            </div>
            <!-- /.container -->
            {% endif %} 
            {% if page.testimonials.enable %}
            <div class="testimonials-area">
                <div class="space140"></div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="basic-slider owl-carousel gap-small text-center" data-margin="30">
                            {% for feedback in page.testimonials.feedback %}
                            <div class="item">
                                <blockquote class="icon larger">
                                    <p>"{{feedback.quote}}"</p>
                                    <div class="blockquote-details justify-content-center">
                                        <div class="img-blob blob1">
                                            <img src="{{feedback.image}}" alt="{{feedback.name}}" />
                                        </div>
                                        <div class="info">
                                            <h6 class="mb-0">{{feedback.name}}</h6>
                                            <span class="meta mb-0">{{feedback.designation}}</span>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- /.owl-carousel -->
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            {% endif %}
        </div>
    </div>
    {% include footer_3.html light_logo="true" %}
</div>
