---
layout: default

hero_area:
  enable: true
  title: "Super, Simple & Secure"
  sub_title: |
    Snowlake is a free, fast, simple and secure messaging application available in multiplatform.
  button_text: "Get Started"
  button_url: "#"
  header_image: "/assets/images/art/bg6.jpg"
  header_bottom_image: "/assets/images/art/macbook@2x.png"

two_column_one:
  enable: true
  title: "We make your spending stress-free for you to have the perfect control"
  image: "/assets/images/art/ui1.png"
  button_text: "More Details"
  button_url: "#"
  paragraphs:
    - text: |
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl.
    - text: |
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet. Duis mollis, est non.

two_column_two:
  enable: true
  title: "We bring solutions to make life easier for our customers"
  image: "/assets/images/art/ui3.png"
  button_text: "More Details"
  button_url: "#"
  paragraphs:
    - text: |
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio.
    - text: |
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed.


two_column_three:
  enable: true
  title: "Just sit back and relax while we take care of your business needs"
  image: "/assets/images/art/ui4.png"
  button_text: "More Details"
  button_url: "#"
  paragraphs:
    - text: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis.
    - text: |
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et nascetur ridiculus.

testimonials:
  enable: true
  image: "/assets/images/art/woman.png"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus. 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      name: "Barclay Widerski"
      designation: "Sales Manager"

clients_carousel:
  enable: true
  title: "Trusted by over 50000 clients"

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: "We offer great prices, premium products and quality service for your business."
  btn_url: "#"
  description: |
    "Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      pricing_url: "#"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      pricing_url: "#"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

faq_area:
  enable: true
  title: "FAQ"
  sub_title: "If you don't see an answer to your question, you can send us an email from our contact form."
  image: "/assets/images/concept/concept4@2x.png"
  tabs:
    - question: "Can I cancel my subscription?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "Which payment methods do you accept"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "How can I manage my Account?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "Is my credit card information secure?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "How do I get my subscription receipt?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

---

<link rel="stylesheet" type="text/css" href="/assets/css/color/cobalt.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/font/font4.css" />
<div class="content-wrapper">
    {% include header.html extra_class="wide absolute transparent inverse-text nav-uppercase" light_logo="true" %} 
    {% if page.hero_area.enable %}
    <div class="wrapper dark-wrapper">
        <div class="rev_slider_wrapper fullwidth-container">
            <div id="slider5" class="rev_slider fullwidthbanner" data-version="5.4.7">
                <ul>
                    <li data-transition="fade" data-thumb="">
                        <img src="{{page.hero_area.header_image}}" alt="{{page.hero_area.title}}" />
                        <div
                            class="tp-caption font-weight-600 color-white text-center"
                            data-x="center"
                            data-y="middle"
                            data-voffset="['-165','-165','-165','-145']"
                            data-fontsize="['50','50','35','30']"
                            data-lineheight="['65','65','50','45']"
                            data-width="['1000','1000','600','340']"
                            data-textAlign="['center','center','center','center']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                        >
                            {{page.hero_area.title}}
                        </div>
                        <!-- /.tp-caption -->
                        <div
                            class="tp-caption font-weight-400 color-white text-center"
                            data-x="center"
                            data-y="middle"
                            data-voffset="['-80','-80','-80','-60']"
                            data-fontsize="['26','26','26','20']"
                            data-lineheight="['36','36','36','30']"
                            data-width="['600','600','600','340']"
                            data-textAlign="['center','center','center','center']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                        >
                            {{page.hero_area.sub_title}}
                        </div>
                        <!-- /.tp-caption -->
                        <a
                            class="tp-caption btn btn-l btn-white btn-strong-hover scroll"
                            data-x="center"
                            data-y="middle"
                            data-voffset="['15','15','15','40']"
                            data-width="['auto','auto','auto','auto']"
                            data-textAlign="['center','center','center','center']"
                            data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                            href="{{page.hero_area.button_url}}"
                        >
                            {{page.hero_area.button_text}}
                        </a>
                        <!-- /.tp-caption -->
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
            <!-- /.rev_slider -->
            <div class="divider">
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
                    <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
                </svg>
            </div>
        </div>
        <!-- /.rev_slider_wrapper -->
    </div>
    <!-- /.wrapper -->

    <!-- /.row -->
    {% endif %}
    <div class="wrapper overflow-top bleed-sm-s">
        <div class="container inner pt-0">
            <div class="features-wrapper">
                {% if page.hero_area.enable %}
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <figure>
                            <img src="{{page.hero_area.header_bottom_image}}" alt="{{page.hero_area.title}}" />
                        </figure>
                    </div>
                    <!-- /column -->
                </div>
                {% endif %} 
                {% if page.two_column_one.enable %}
                <div class="two-column-one">
                    <div class="space100"></div>
                    <div class="row align-items-center">
                        {% if page.two_column_one.image %}
                        <div class="col-lg-6">
                            <figure>
                                <img src="{{page.two_column_one.image}}" alt="{{page.two_column_one.title}}" />
                            </figure>
                        </div>
                        {% endif %}
                        <div class="space40 d-lg-none"></div>
                        <div class="col-lg-6 pl-60 pl-md-15">
                            {% if page.two_column_one.title %}
                            <h3 class="display-3">{{page.two_column_one.title}}</h3>
                            {% endif %}
                            <div class="space20"></div>
                            {% for text_data in page.two_column_one.paragraphs %}
                            <p>{{text_data.text}}</p>
                            {% endfor %} {% if page.two_column_one.button_text %}
                            <div class="space10"></div>
                            <a href="{{page.two_column_one.button_url}}" class="btn btn-default">{{page.two_column_one.button_text}}</a>
                            {% endif %}
                        </div>
                        <!--/column -->
                    </div>
                    <!--/.row -->
                </div>
                {% endif %} 
                {% if page.two_column_two.enable %}
                <div class="two-column-two">
                    <div class="space140"></div>
                    <div class="row align-items-center">
                        {% if page.two_column_two.image %}
                        <div class="col-lg-6 order-lg-2">
                            <figure>
                                <img src="{{page.two_column_two.image}}" alt="{{page.two_column_two.title}}" />
                            </figure>
                        </div>
                        {% endif %}
                        <div class="col-lg-6 pl-60 pl-md-15">
                            {% if page.two_column_two.title %}
                            <h3 class="display-3">{{page.two_column_two.title}}</h3>
                            {% endif %}
                            <div class="space20"></div>
                            {% for text_data in page.two_column_two.paragraphs %}
                            <p>{{text_data.text}}</p>
                            {% endfor %} {% if page.two_column_two.button_text %}
                            <div class="space10"></div>
                            <a href="{{page.two_column_two.button_url}}" class="btn btn-default">{{page.two_column_two.button_text}}</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--/.row -->
                </div>
                {% endif %} 
                {% if page.two_column_three.enable %}
                <div class="two-column-three">
                    <div class="space140"></div>
                    <div class="row align-items-center">
                        {% if page.two_column_three.image %}
                        <div class="col-lg-6 order-lg-2">
                            <figure>
                                <img src="{{page.two_column_three.image}}" alt="{{page.two_column_three.title}}" />
                            </figure>
                        </div>
                        {% endif %}
                        <div class="col-lg-6 pl-60 pl-md-15">
                            {% if page.two_column_three.title %}
                            <h3 class="display-3">{{page.two_column_three.title}}</h3>
                            {% endif %}
                            <div class="space20"></div>
                            {% for text_data in page.two_column_three.paragraphs %}
                            <p>{{text_data.text}}</p>
                            {% endfor %} {% if page.two_column_three.button_text %}
                            <div class="space10"></div>
                            <a href="{{page.two_column_three.button_url}}" class="btn btn-default">{{page.two_column_three.button_text}}</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--/.row -->
                </div>
                {% endif %}
            </div>
            {% if page.clients_carousel.enable %}
            <div class="cliensts-carousel-wrapper">
                <div class="space140">
                    {% if page.clients_carousel.title %}
                    <div class="text-center">
                        <h2 class="title-bg bg-default color-default">{{page.clients_carousel.title}}</h2>
                    </div>
                    {% endif %}
                    
                    <div class="space30"></div>
                    {% include clients_carousel.html %}
                </div>
            </div>
            {% endif %}
        </div>

        {% if page.testimonials.enable %}
        <div class="wrapper bg-opacity-default">
            <div class="container inner pb-0">
                <div class="row align-items-center">
                    {% if page.testimonials.image %}
                    <div class="col-md-5 col-lg-4 offset-lg-1 d-none d-md-flex">
                        <figure><img src="{{page.testimonials.image}}" alt="{{page.testimonials.image}}" /></figure>
                    </div>
                    {% endif %}
                    <div class="col-md-7 col-lg-6 pl-60 pl-md-15">
                        <div class="basic-slider owl-carousel gap-small dots-left" data-margin="30">
                            {% for quote in page.testimonials.feedback %}
                            <div class="item">
                                <blockquote class="icon icon-left larger text-left">
                                    <p>"{{quote.quote}}"</p>
                                    <div class="blockquote-details">
                                        <div class="info p-0">
                                            <h6 class="mb-0">{{quote.name}}</h6>
                                            <span class="meta mb-0">{{quote.designation}}</span>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- /.item -->
                            {% endfor %}
                        </div>
                        <!-- /.owl-carousel -->
                        <div class="space20 d-lg-none"></div>
                        <div class="space60 d-md-none"></div>
                    </div>
                </div>
                <!--/.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        {% endif %}
        <div class="wrapper light-wrapper">
            <div class="container inner">
                {% assign pricing_data = page.pricing_table %} 
                {% if pricing_data.enable %}
                <div class="row">
                    <div class="col-lg-5 pr-50 pr-md-15">
                        <h2 class="title-color color-gray">{{pricing_data.title}}</h2>
                        <h3 class="display-3">{{pricing_data.sub_title}}</h3>
                        <div class="space20"></div>
                        <p>{{pricing_data.description}}</p>
                        <div class="space10"></div>
                        {% if pricing_data.pricing_url %}
                        <a href="{{pricing_data.pricing_url}}" class="btn">See All Prices</a>
                        {% endif %}
                    </div>
                    <!--/column -->
                    <div class="space70 d-none d-md-block d-lg-none"></div>
                    <div class="space20 d-md-none"></div>
                    <div class="col-lg-7">
                        <div class="pricing-wrapper">
                            <div class="row no-gutters">
                                {% for pricing in pricing_data.plans %}
                                <div class="col-md-6">
                                    <div class="pricing panel box bg-white shadow">
                                        <div class="panel-heading">
                                            <div class="prices color-dark">
                                                <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                                            </div>
                                            <h4 class="panel-title mb-0">{{pricing.title}}</h4>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table">
                                                {% for features in pricing.features %}
                                                <tr>
                                                    <td>{{features}}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <div class="panel-footer"><a href="{{pricing.pricing_url}}" class="btn" role="button">Choose Plan</a></div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% if page.faq_area.enable %}
        <div class="wrapper light-wrapper inner-bottom">
            <div class="container">
                <div class="row">
                    {% if page.faq_area.image %}
                    <div class="col-lg-6">
                        <figure>
                            <img src="{{page.faq_area.image}}" alt="{{page.faq_area.title}}" />
                        </figure>
                    </div>
                    {% endif %}
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="space10 d-md-none"></div>
                    <div class="col-lg-6 pl-60 pl-md-15">
                        <h2 class="title-bg bg-default color-default">{{page.faq_area.title}}</h2>
                        <div class="space10"></div>
                        <h3 class="display-3">{{page.faq_area.sub_title}}</h3>
                        <div class="space20"></div>
                        <div id="accordion-2" class="accordion-wrapper simple">
                            {% for tab in page.faq_area.tabs %}
                            <div class="card">
                                <div class="card-header" id="accordion-heading-2-1">
                                    <h5>
                                        <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-1">
                                            {{tab.question}}
                                        </button>
                                    </h5>
                                </div>
                                <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2" data-parent="#accordion-2">
                                    <div class="card-body">
                                        <p>
                                            {{tab.answer}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- /.accordion-wrapper -->
                    </div>
                </div>
            </div>
        </div>
        {% endif %} 
        {% include footer_3.html light_logo="true" %}
    </div>
</div>
