---
layout: default
page_header:
  enable: true
  title: "Subscription Popup"
  sub_title: "Modals can be used as popups at page load."
  button_text: "Read More"
  button_url: "#"
  background_image: "/assets/images/art/bg5.jpg"

services_area:
  enable: true
  title: "What We Do?"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  services: 
    - title: "24/7 Support"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-headphone-alt" 
      color: "rose"

    - title: "Secure Payments"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-safety" 
      color: "blue"

    - title: "Daily Updates"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-refresh" 
      color: "green"

    - title: "Research & Marketing"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-chart-arrows-axis" 
      color: "purple"

    - title: "System Integration"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-gear"
      color: "orange"

    - title: "SEO Service"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-earth"
      color: "violet"


process_area:
  enable: true
  title: "Our Process"
  sub_title: "Find out everything you need to know about creating a business process."
  image: "/assets/images/art/about5.jpg" 
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"
  description: |
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia.
  projects:
    - projects_number: 7518
      title: "Completed Projects"
    - projects_number: "3472"
      title: "Satisfied Customers"
    - projects_number: "523"
      title: "Awards Won"

steps:
  enable: true
  title: "Our Process"
  sub_title: "We bring solutions to make life easier for our customers"
  image: "/assets/images/concept/concept1@2x.png"
  lists:

    - title: "Collect Ideas"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "jam jam-lightbulb"
      icon_color: "blue"

    - title: "Data Analysis"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "jam jam-search-folder"
      icon_color: "teal"

    - title: "Magic Touch"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon: "jam jam-heart"
      icon_color: "yellow"


testimonials:
  enable: true
  title: "CUSTOMER STORIES"
  background_image: "/assets/images/art/bg5.jpg"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: "We offer great prices, premium products and quality service for your business."
  btn_url: "#"
  description: |
    "Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      pricing_url: "#"
      button_text: "Choose Plan"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      pricing_url: "#"
      button_text: "Choose Plan"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

about_us:
  enable: true
  title: "Let's Talk"
  sub_title: "Let's make something great together. If you got any questions, don't hesitate to get in touch with us."
  image: "/assets/images/concept/concept12@2x.png"
  description: |
    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.
  button_one_text: "Get Started"
  button_one_url: "#"
  button_two_text: "Contact Us"
  button_two_url: "#"

subscribe_popup_modal:
  enabled: true
  title: "Join our Mailing List"
  sub_title: "Subscribe to our newsletter to get our latest news delivered right to your inbox!"
  image: "/assets/images/art/bg21.jpg"
  form_action_email: "tortoiztheme@gmail.com"
  button_text: "Join"
  help_text: "We hate spam and we respect your privacy."
---

{% include header.html container_class="container" extra_class="absolute transparent inverse-text nav-uppercase" light_logo="true" %}
{% if page.subscribe_popup_modal.enable %}
{% assign sub = page.subscribe_popup_modal %}
<div class="modal fade modal-popup" id="modal-01" tabindex="-1" role="dialog" aria-labelledby="modal-01" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="container-fluid boxed p-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="image-block-wrapper">
          {%  if sub.image %}
          <div class="image-block col-lg-6">
            <div class="image-block-bg bg-image" data-image-src="{{sub.image}}"></div>
          </div>
          <!--/.image-block -->
          {% endif %}
          <div>
            <div class="row no-gutters">
              <div class="col-lg-6 offset-lg-6">
                <div class="box p-50 d-flex">
                  <div class="align-self-center">
                    {% if sub.title %}
                     <h2 class="section-title">{{sub.title}}</h2>
                    {% endif %}
                    {% if sub.sub_title %}
                     <p>{{sub.sub_title}}</p>
                    {% endif %}
                    <div class="space10"></div>
                    <div class="newsletter-wrapper">
                      <form action="https://formsubmit.io/send/{{sub.form_action_email}}"  id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="input-group">
                          <input type="email" value="" name="EMAIL" class="email form-control mb-0 mr-2 mb-sm-0" id="mce-EMAIL" placeholder="Email Address" required>
                          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-rounded btn-default mr-0 mb-0 pull-right">{{sub.button_text}}</button>
                          <div class="clearfix"></div>
                        </div>
                      </form>
                      <div class="space10"></div>
                      {% if sub.help_text %}
                       <small class="text-muted">{{sub.help_text}}</small>
                      {% endif %}
                    </div>
                    <!-- /.newsletter-wrapper -->
                  </div>
                  <!-- /div -->
                </div>
                <!-- /.box -->
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/div -->
        </div>
        <!--/.image-block-wrapper -->
      </div>
      <!--/.boxed -->
    </div>
    <!--/.modal-content -->
  </div>
  <!--/.modal-dialog -->
</div>
<!--/.modal -->
{% endif %}
{% if page.page_header.enable %}
{% assign page_d = page.page_header %}
<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{{page_d.background_image}}">
  <div class="container inner text-center">
    <div class="space90"></div>
    {% if page_d.title %}
     <h1 class="page-title">{{page_d.title}}</h1>
    {% endif %}
    {% if page_d.sub_title %}
     <p class="lead mb-30">{{page_d.sub_title}}</p>
    {% endif %}
    {% if page_d.button_text %}
     <a href="{{page_d.button_url}}" class="btn btn-white btn-strong-hover">{{page_d.button_text}}</a>
    {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.services_area.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-8 mx-auto">
          {% if page.services_area.title %}
           <h2 class="title-color color-gray text-center">{{page.services_area.title}}</h2>
          {% endif %}
          {% if page.services_area.sub_title %}
           <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
          {% endif %}
        </div>
      </div>
      <div class="space40"></div>
      <div class="row gutter-50">
        {% for service in page.services_area.services %}
        <div class="col-md-6 col-lg-4 {% if forloop.index > 3 %} pb-3 pb-lg-0 {% else %} pb-3 {% endif %}">
          <div class="d-flex flex-row justify-content-center">
            <div>
              <div class="icon icon-blob icon-blob-{{service.color}} color-{{service.color}} mr-25"> 
                <i class="{{service.icon}}"></i> 
              </div>
            </div>
            <div>
              <h5>{{service.title}}</h5>
              <p>{{service.sub_title}}</p>
            </div>
          </div>
        </div>
        <!--/column -->
       {% endfor %}
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
{% endif %}
{% if page.process_area.enable %}
{% assign process = page.process_area %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      {% if process.image %}
      <div class="col-lg-6 play-wrapper light-gallery-wrapper text-center">
        <div class="img-blob blob7">
          <img src="{{process.image}}" style="width: 30rem" alt="{{process.title}}" />
        </div>
        <a href="{{process.video_url}}" class="btn-play lightbox"></a>
      </div>
      <!--/column -->
      {% endif %}
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if process.title %}
         <h2 class="title-color color-gray">{{process.title}}</h2>
        {% endif %}
        {% if process.sub_title %}
         <h3 class="display-3">{{process.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        {% if process.description %}
         <p>{{process.description}}</p>
        {% endif %}
        <div class="space20"></div>
        <div class="row counter">
          {% for list in process.projects %}
          <div class="col-md-4">
            <h3 class="value">{{list.projects_number}}</h3>
            <p>{{list.title}}</p>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
    {% if page.steps.enable %}
    <section id="process">
        <div class="wrapper white-wrapper">
            <div class="container">
                <div class="space140"></div>
                <div class="row align-items-center">
                    {% if page.steps.image %}
                    <div class="col-lg-6 order-lg-2">
                        <figure>
                            <img src="{{page.steps.image}}" alt="{{page.steps.title}}" />
                        </figure>
                    </div>
                    {% endif %}
                    <div class="space20 d-md-none"></div>
                    <div class="space50 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-6 pr-60 pr-md-15">
                        {% if page.steps.title %}
                        <h2 class="title-color color-gray">{{page.steps.title}}</h2>
                        {% endif %} {% if page.steps.sub_title %}
                        <h3 class="display-3">{{page.steps.sub_title}}</h3>
                        {% endif %} {% for list in page.steps.lists %}
                        <div class="space30"></div>
                        <div class="d-flex flex-row justify-content-center">
                            <div>
                                <span class="icon icon-blob icon-blob-{{list.icon_color}} color-{{list.icon_color}} mr-25">
                                    <i class="{{list.icon}}"></i>
                                    <span class="step bg-{{list.icon_color}}">{{forloop.index}}</span>
                                </span>
                            </div>
                            <div>
                                <h5>{{list.title}}</h5>
                                <p class="mb-0">{{list.description}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                <div class="space140"></div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /section -->
    {% endif %} 
{% if page.testimonials.enable %}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{relative_url}}/assets/images/art/bg5.jpg">
  <div class="container inner pt-100">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% if page.testimonials.title %}
        <h2 class="title-color color-white text-center mb-30">{{page.testimonials.title}}</h2>
        {% endif %}
        <div class="basic-slider owl-carousel gap-small text-center mb-0" data-margin="30">
        {% for feedback in page.testimonials.feedback %}
          <div class="item">
            <blockquote class="larger">
              <p>"{{feedback.quote}}"</p>
              <div class="blockquote-details justify-content-center">
                {% if feedback.image %}
                <div class="img-blob blob1">
                  <img src="{{feedback.image}}" alt="{{feedback.name}}"/>
                </div>
                {% endif %}
                <div class="info">
                  {% if feedback.name %}
                   <h6 class="mb-0">{{feedback.name}}</h6>
                  {% endif %}
                  {% if feedback.designation %}
                  <span class="meta mb-0">{{feedback.designation}}</span>
                  {% endif %}
                </div>
              </div>
            </blockquote>
          </div>
        {% endfor %}
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.pricing_table.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="space20"></div>
    {% assign pricing_data = page.pricing_table %}
    {% if pricing_data.enable %}
    <div class="row">
        <div class="col-lg-5 pr-50 pr-md-15">
            <h2 class="title-color color-gray">{{pricing_data.title}}</h2>
            <h3 class="display-3">{{pricing_data.sub_title}}</h3>
            <div class="space20"></div>
            <p>{{pricing_data.description}}</p>
            <div class="space10"></div>
            {% if pricing_data.pricing_url %}
            <a href="{{pricing_data.pricing_url}}" class="btn">See All Prices</a>
            {% endif %}
        </div>
        <!--/column -->
        <div class="space70 d-none d-md-block d-lg-none"></div>
        <div class="space20 d-md-none"></div>
        <div class="col-lg-7">
            <div class="pricing-wrapper">
                <div class="row no-gutters">
                    {% for pricing in pricing_data.plans %}
                    <div class="col-md-6">
                        <div class="pricing panel box bg-white shadow">
                            <div class="panel-heading">
                                <div class="prices color-dark">
                                    <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                                </div>
                                <h4 class="panel-title mb-0">{{pricing.title}}</h4>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    {% for features in pricing.features %}
                                    <tr>
                                        <td>{{features}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="panel-footer"><a href="{{pricing.pricing_url}}" class="btn" role="button">{{pricing.button_text}}</a></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="space140"></div>
    {% if page.faq_area.enable %}
    <div class="row">
        {% if page.faq_area.image %}
        <div class="col-lg-6">
            <figure>
                <img src="{{page.faq_area.image}}" alt="{{page.faq_area.title}}" />
            </figure>
        </div>
        {% endif %}
        <div class="space50 d-none d-md-block d-lg-none"></div>
        <div class="space10 d-md-none"></div>
        <div class="col-lg-6 pl-60 pl-md-15">
            <h2 class="title-bg bg-default color-default">{{page.faq_area.title}}</h2>
            <div class="space10"></div>
            <h3 class="display-3">{{page.faq_area.sub_title}}</h3>
            <div class="space20"></div>
            <div id="accordion-2" class="accordion-wrapper simple">
                {% for tab in page.faq_area.tabs %}
                <div class="card">
                    <div class="card-header" id="accordion-heading-2-1">
                        <h5>
                            <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-1">
                                {{tab.question}}
                            </button>
                        </h5>
                    </div>
                    <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2" data-parent="#accordion-2">
                        <div class="card-body">
                            <p>
                                {{tab.answer}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- /.accordion-wrapper -->
        </div>
    </div>
    {% endif %}

  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.about_us.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
    {% if page.about_us.image %}
      <div class="col-lg-6">
        <figure>
          <img src="{{page.about_us.image}}" alt="{{page.about_us.image}}"/>
        </figure>
      </div>
      <!--/column -->
    {% endif %}
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="space10 d-md-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.about_us.title %}
         <h2 class="title-color color-gray">{{page.about_us.title}}</h2>
        {% endif %}
        {% if page.about_us.sub_title %}
         <h3 class="display-3">{{page.about_us.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        {% if page.about_us.description %}
         <p>{{page.about_us.description}}</p>
        {% endif %}
        <div class="space10"></div>
        {% if page.about_us.button_one_text %}
        <a href="{{page.about_us.button_one_url}}" class="btn">{{page.about_us.button_one_text}}</a> 
        {% endif %}
        {% if page.about_us.button_two_text %}
        <a href="{{page.about_us.button_two_url}}" class="btn btn-sky">{{page.about_us.button_two_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
{% include footer_3.html light_logo="true" %}