---
layout: default
slider_area:
  enable: true
  sliders:
    - title: "We are a digital & branding company"
      sub_title: "We love to turn great ideas into beautiful products"
      image: "/assets/images/art/slider-bg4.jpg"
      button_one_text: "Get Started"
      button_one_url: "#"
      button_two_text: "Contact Us"
      button_two_url: "#"

    - title: "Your needs are important"
      sub_title: "Great design comes with understanding customers"
      image: "/assets/images/art/slider-bg5.jpg"
      button_one_text: "See Projects"
      button_one_url: "#"

services_area:
  enable: true
  title: "What We Do?"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  services: 
    - title: "24/7 Support"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-headphone-alt" 
      color: "rose"

    - title: "Secure Payments"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-safety" 
      color: "blue"

    - title: "Daily Updates"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-refresh" 
      color: "green"

    - title: "Research & Marketing"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-chart-arrows-axis" 
      color: "purple"

    - title: "System Integration"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-gear"
      color: "orange"

    - title: "SEO Service"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-earth"
      color: "violet"

our_process_area:
  enable: true
  title: "Our Process"
  sub_title: "Here are 6 working steps to organize our business projects."
  paragraphs:
    - text: |
        Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Morbi leo risus porta consectetur.
    - text: | 
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis.
  packages:

    - title: "Analysis"
      description: "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus magnis parturient."
      icon: "icofont-chart-arrows-axis"
      color: "blue"

    - title: "Concept"
      description: "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus magnis parturient."
      icon: "icofont-pen-holder"
      color: "green"

    - title: "Prepare"
      description: "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus magnis parturient."
      icon: "icofont-chart-arrows-axis"
      color: "pink"

    - title: "Retouch"
      description: "Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida"
      icon: "icofont-ui-clip-board"
      color: "purple"

    - title: "Finalize"
      description: "Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus magnis parturient."
      icon: "icofont-chart-arrows-axis"
      color: "yellow"

    - title: "Package"
      description: "Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis."
      icon: "icofont-box"
      color: "orange"

projects_area:
  enable: true
  title: "Our Projects"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  button_text: "Start a Project"
  button_url: "#"
  projects:
    - title: "Nullam Mollis"
      sub_title: "Application"
      sm_image: "/assets/images/art/p4.jpg"
      big_image: "/assets/images/art/p4-full.jpg"

    - title: "Euismod Risus"
      sub_title: "Application"
      sm_image: "/assets/images/art/p5.jpg"
      big_image: "/assets/images/art/p5-full.jpg"

    - title: "Ridiculus Tristique"
      sub_title: "Branding"
      sm_image: "/assets/images/art/p6.jpg"
      big_image: "/assets/images/art/p6-full.jpg"

    - title: "Sollicitudin Pharetra"
      sub_title: "Branding, Corporate"
      sm_image: "/assets/images/art/p7.jpg"
      big_image: "/assets/images/art/p7-full.jpg"

    - title: "Tristique Venenatis"
      sub_title: "Video, Application"
      sm_image: "/assets/images/art/p8.jpg"
      big_image: "https://www.youtube.com/watch?v=26TbMXXOe0I"

    - title: "Cursus Fusce"
      sub_title: "Application"
      sm_image: "/assets/images/art/p9.jpg"
      big_image: "/assets/images/art/p9-full.jpg"

about_us_area:
  enable: true
  title: "About Us"
  sub_title: "We are a digital & branding company that believes in the power of creative ideas."
  image: "/assets/images/art/about2.jpg" 
  description: |
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia.
  projects:
    - projects_number: 7518
      title: "Completed Projects"
    - projects_number: "3472"
      title: "Satisfied Customers"
    - projects_number: "523"
      title: "Awards Won"

three_columns_area:
  enable: true
  first_column:
    title: "My Skills"
    description: |
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
    skills: 
      - title: "Marketing"
        progress_amount: "100"
        color: "blue"
      - title: "Strategy"
        progress_amount: "80"
        color: "green"
      - title: "Develepment"
        progress_amount: "85"
        color: "pink"
      - title: "Data Analysis"
        progress_amount: "90"
        color: "purple"

  second_column:
    title: "Why Choose Me?"
    paragraphs:
      - text: |
          Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet elit. Donec ullamcorper nulla non metus auctor nibh. Nullam id dolor id nibh vehicula euismod.
      - text: |
          Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Nullam id dolor id nibh. Fusce dapibus, tellus ac cursus commodo.
    lists:
      - "Aenean eu leo quam pellentesque."
      - "Nullam quis risus eget urna mollis."
      - "Donec id elit non mi porta gravida."
      - "Fusce dapibus tellus ac commodo."

  third_column:
    title: "Our Newsletter"
    description: |
      Subscribe to our newsletter to get our latest news and deals delivered right to your inbox!
    sunscribe_form_action_email: "tortoizthemes@gmail.com"
    button_text: "Join"
    contact_info:
      title: "Get in Touch"
      address_one: |
        Moonshine St. 14/05 Light City,<br class="d-none d-lg-block"> London, United Kingdom
      address_two: 
        - email: "info@email.com"
        - "+00 (128) 456 78 90"

testimonials:
  enable: true
  title: "Customer Stories"
  sub_title: "Customer satisfaction is our major goal. See what our customers are saying about us."
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t6.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t5.jpg" 
      name: "Jackie Sanders"
      designation: "Sales Specialist"

clients_carousel:
  enable: true

blogs_area:
  enable: true
  title: "Our Journal"
  sub_title: "Here are the latest company news from our blog that got the most attention."
  posts_number: 6

call_to_action:
  enable: true
  title: "Convinced yet? Let's make something great together."
  button_text: "Contact Us"
  button_url: "#"
  bg_image: "/assets/images/art/bg11.jpg"
---
<link rel="stylesheet" type="text/css" href="/assets/css/color/purple.css"/>
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/assets/css/font/font3.css"/>
<div class="content-wrapper">
{% include header.html extra_class="wide absolute transparent inverse-text nav-uppercase" light_logo="true" container_class="container" %}
{% if page.slider_area.enable %}
<div class="wrapper dark-wrapper">
  <div class="rev_slider_wrapper fullwidth-container">
    <div id="slider2" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
        {% for slider in page.slider_area.sliders %}
        <li data-transition="fade" data-thumb="">
          {% if slider.image %}
           <img src="{{slider.image}}" alt="{{slider.title}}"/>
          {% endif %}
          {% if slider.title %}
          <div class="tp-caption font-weight-500 color-white text-center" 
             data-x="center" 
             data-y="middle" 
             data-voffset="['-75','-75','-65','-95']" 
             data-fontsize="['50','50','35','30']" 
             data-lineheight="['65','65','50','45']" 
             data-width="['1000','1000','600','340']" 
             data-textAlign="['center','center','center','center']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{slider.title}}
        </div>
         <!-- /.tp-caption -->
         {% endif %}
         {% if slider.sub_title %}
          <div class="tp-caption font-weight-400 color-white text-center" 
             data-x="center" 
             data-y="middle" 
             data-voffset="['0','0','0','0']" 
             data-fontsize="['26','26','26','20']" 
             data-lineheight="['36','36','36','30']" 
             data-width="['1000','1000','600','340']" 
             data-textAlign="['center','center','center','center']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{slider.sub_title}}
        </div>
        {% endif %}
        {% if slider.button_two_text %}
         <!-- /.tp-caption -->
          <a class="tp-caption btn btn-sky btn-strong-hover scroll" 
             data-x="center" 
             data-y="middle" 
             data-hoffset="['-80','-80','-80','-80']" 
             data-voffset="['85','85','85','90']" 
             data-width="['auto','auto','auto','auto']" 
             data-textAlign="['center','center','center','center']" 
             data-frames='[{"delay":2500,"speed":1000,"frame":"0","from":"x:-100px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;" href="{{slider.button_one_url}}"> {{slider.button_one_text}}
        </a>
         <!-- /.tp-caption -->
          <a class="tp-caption btn btn-teal btn-strong-hover scroll" 
             data-x="center" 
             data-y="middle" 
             data-hoffset="['80','80','80','80']" 
             data-voffset="['85','85','85','90']" 
             data-width="['auto','auto','auto','auto']" 
             data-textAlign="['center','center','center','center']" 
             data-frames='[{"delay":2500,"speed":1000,"frame":"0","from":"x:100px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;" href="{{slider.button_two_url}}" target="_blank"> {{slider.button_two_text}}
        </a>
        <!-- /.tp-caption -->
        {% else if slider.button_one_text %}
          <!-- /.tp-caption -->
          <a class="tp-caption btn btn-rose btn-strong-hover scroll" 
             data-x="center" 
             data-y="middle" 
             data-voffset="['85','85','100','90']" 
             data-width="['auto','auto','auto','auto']" 
             data-textAlign="['center','center','center','center']" 
             data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-responsive="on" data-responsive_offset="on" style="z-index: 9;" href="{{slider.button_one_url}}"> {{slider.button_one_text}}
        </a>
        <!-- /.tp-caption -->
        {% endif %}
        </li>
        {% endfor %}
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
    <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
        <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" /></svg></div>
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.services_area.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-8 mx-auto">
          {% if page.services_area.title %}
           <h2 class="title-color color-gray text-center">{{page.services_area.title}}</h2>
          {% endif %}
          {% if page.services_area.sub_title %}
           <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
          {% endif %}
        </div>
      </div>
      <div class="space40"></div>
      <div class="row gutter-50">
        {% for service in page.services_area.services %}
        <div class="col-md-6 col-lg-4 {% if forloop.index > 3 %} pb-3 pb-lg-0 {% else %} pb-3 {% endif %}">
          <div class="d-flex flex-row justify-content-center">
            <div>
              <div class="icon icon-blob icon-blob-{{service.color}} color-{{service.color}} mr-25"> 
                <i class="{{service.icon}}"></i> 
              </div>
            </div>
            <div>
              <h5>{{service.title}}</h5>
              <p>{{service.sub_title}}</p>
            </div>
          </div>
        </div>
        <!--/column -->
       {% endfor %}
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
  {% if page.our_process_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div id="dial1">
          <ul class="dial">
            {% for packages in page.our_process_area.packages %}
            <li>
              <div class="dial-item {% if forlop.index == 1 %} active {% endif %}" data-cyrcleBox="cf1-{{forloop.index}}"><span class="icon icon-blob icon-blob-{{packages.color}} color-{{packages.color}} mb-20"><i class="{{packages.icon}}"></i><span class="step bg-{{packages.color}}">{{forloop.index}}</span></span></div>
              <div class="dial-item-info" id="cf1-{{forloop.index}}">
                <div class="dial-item-info-inner">
                  <h3>{{forloop.index}}. {{packages.title}}</h3>
                  <p>{{packages.description}}</p>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--/column -->
      <div class="col-lg-6 pl-60 pl-sm-15">
        {% if page.our_process_area.title %}
         <h2 class="title-color color-gray">{{page.our_process_area.title}}</h2>
        {% endif %}
        {% if page.our_process_area.sub_title %}
        <h3 class="display-3">{{page.our_process_area.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        {% for paragraph in page.our_process_area.paragraphs %}
        <p>{{paragraph.text}}</p>
        {% endfor %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
  <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
      <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" /></svg></div>
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.projects_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-md-7 mx-auto">
        {% if page.projects_area.title %}
         <h2 class="title-color color-gray text-center">{{page.projects_area.title}}</h2>
        {% endif %}
        {% if page.projects_area.sub_title %}
        <h3 class="display-3 text-center">{{page.projects_area.sub_title}}</h3>
        {% endif %}
      </div>
    </div>
    <div class="space40"></div>
    <div class="grid grid-view boxed">
      <div class="tiles text-center light-gallery-wrapper">
        <div class="row isotope">
          {% for project in page.projects_area.projects %}
          <div class="item grid-sizer col-md-6 col-lg-4 application">
            <div class="box bg-white shadow p-30">
              {% if project.sm_image %}
              <figure class="main overlay overlay2 rounded mb-30">
                <a href="{{project.big_image}}" class="lightbox">
                  <img src="{{project.sm_image}}" alt="{{project.title}}"/>
                </a>
              </figure>
              {% endif %}
              <div class="post-content">
                <h2 class="post-title mb-10">
                  <a href="{{project.url}}">{{project.title}}</a>
                </h2>
                <div class="meta mb-0">{{project.sub_title}}</div>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
    </div>
    <!-- /.grid -->
    {% if page.projects_area.button_text %}
    <div class="space20"></div>
    <div class="text-center">
      <a href="{{page.projects_area.button_url}}" class="btn btn-l btn-default mb-0">{{page.projects_area.button_text}}</a>
    </div>
    {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
  <div class="wrapper white-wrapper">
    <div class="container inner">
    {% if page.about_us_area.enable %}
    <div class="row align-items-center">
      {% if page.about_us_area.image %}
      <div class="col-lg-6">
        <div class="img-blob blob8">
          <img src="{{page.about_us_area.image}}" style="width: 30rem" alt="{{page.about_us_area.title}}"/>
        </div>
      </div>
      {% endif %}
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.about_us_area.title %}
         <h2 class="title-color color-gray">{{page.about_us_area.title}}</h2>
        {% endif %}
        {% if page.about_us_area.sub_title %}
         <h3 class="display-3">{{page.about_us_area.sub_title}}</h3>
        {% endif %}
       <div class="space20"></div>
        {% if page.about_us_area.description %}
         <p>{{page.about_us_area.description}}</p>
        {% endif %}
        <div class="space20"></div>
        <div class="row counter">
          {% for project in page.about_us_area.projects %}
          <div class="col-md-4">
            <h3 class="value">{{project.projects_number}}</h3>
            <p>{{project.title}}</p>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
    {% if page.three_columns_area.enable %}
    <div class="three-columns-area"> 
    <div class="space100"></div>
    <div class="row gutter-40">
      {% assign column_one = page.three_columns_area.first_column %}
      <div class="col-lg-4">
        {% if column_one.title %}
         <h4>{{column_one.title}}</h4>
        {% endif %}
        {% if column_one.description %}
         <p>{{column_one.description}}</p>
        {% endif %}
        <ul class="progress-list">
          {% for skills in column_one.skills %}
          <li>
            <p>{{skills.title}}</p>
            <div class="progressbar line {{skills.color}}" data-value="{{skills.progress_amount}}"></div>
          </li>
          {% endfor %}
        </ul>
        <!-- /.progress-list -->
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      {% assign second_one = page.three_columns_area.second_column %}
      <div class="col-lg-4">
        {% if second_one.title %}
         <h4>{{second_one.title}}</h4>
        {% endif %}
        {% for paragraph in second_one.paragraphs %}
         <p>{{paragraph.text}}</p>
        {% endfor %}
        {% if second_one.lists %}
        <ul class="unordered-list">
          {% for list in second_one.lists %}
           <li>{{list}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      {% assign third_one = page.three_columns_area.third_column %}
      <div class="col-lg-4">
        {% if third_one.title %}
         <h4>{{third_one.title}}</h4>
        {% endif %}
        {% if third_one.description %}
         <p>{{third_one.description}}</p>
        {% endif %}
        <div class="newsletter-wrapper">
          <form action="https://formsubmit.io/send/{{third_one.sunscribe_form_action_email}}">
            <div class="input-group">
              <input type="email"  name="user_email" class="user_email form-control mb-0 mr-2 mb-sm-0" placeholder="Email Address" required>
              <button type="submit" name="subscribe" class="btn btn-rounded btn-default mr-0 mb-0 pull-right">{{third_one.button_text}}</button>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
        <!-- /.newsletter-wrapper -->
        <div class="space40"></div>
        {% if third_one.contact_info.title %}
         <h4>{{third_one.contact_info.title}}</h4>
        {% endif %}
        {% if third_one.contact_info.address_one %}
         <address>{{third_one.contact_info.address_one}}</address>
        {% endif %}
         {% if third_one.contact_info.address_two %}
          {% for contact_data in third_one.contact_info.address_two %}
            {% if contact_data.email %}
             <a href="mailto:{{contact_data.email}}" class="nocolor">{{contact_data.email}}</a>
             {% else %}
             <p>{{contact_data}}</p>
            {% endif %}
          {% endfor %}
         {% endif %}
      </div>
      <!--/column -->

    </div>
    <!--/.row -->
    </div>
    {% endif %}
    </div>
    <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
        <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" /></svg></div>
  </div>
  <div class="wrapper light-wrapper">
    <div class="container inner">
{% if page.testimonials.enable %}
<div class="testimonials-area">
  <div class="row">
      <div class="col-md-7 mx-auto">
          {% if page.testimonials.title %}
          <h2 class="title-color color-gray text-center mb-30">{{page.testimonials.title}}</h2>
          {% endif %} {% if page.testimonials.sub_title %}
          <h3 class="display-3 text-center">{{page.testimonials.sub_title}}</h3>
          {% endif %}
      </div>
  </div>
<div class="space10"></div>
<div class="grid-view">
  <div class="carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1140":{"items": "3"}}'>
  {% for feedback in page.testimonials.feedback %}
  <div class="item">
      <div class="item-inner">
          <div class="bg-white shadow p-3">
              <blockquote>
                  <p>"{{feedback.quote}}"</p>
                  <div class="blockquote-details">
                      {% if feedback.image %}
                      <div class="img-blob blob1">
                          <img src="{{feedback.image}}" alt="{{feedback.name}}" />
                      </div>
                      {% endif %}
                      <div class="info">
                          <h6 class="mb-0">{{feedback.name}}</h6>
                          <span class="meta mb-0">{{feedback.designation}}</span>
                      </div>
                  </div>
              </blockquote>
          </div>
      </div>
  </div>
  <!-- /.item -->
  {% endfor %}
  </div>
  <!-- /.owl-carousel -->
</div>
<!-- /.grid-view -->
</div>
{% endif %}
{% if page.clients_carousel.enable %}
<div class="space80"></div>
{% include clients_carousel.html %}
{% endif %}
    </div>
  </div>
{% if page.blogs_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8 mx-auto">
        {% if page.blogs_area.title %}
         <h2 class="title-color color-gray text-center">{{page.blogs_area.title}}</h2>
        {% endif %}
        {% if page.blogs_area.sub_title %}
         <h3 class="display-3 text-center">{{page.blogs_area.sub_title}}</h3>
        {% endif %}
      </div>
    </div>
    <div class="space40"></div>
    <div class="grid-view">
      <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}' data-dotsEach="false">
          {% for post in site.posts limit: page.blogs_area.posts_number %}
          <div class="item">
            <figure class="overlay overlay1 rounded mb-30">
              {% if post.post_image %}
                <a href="{{post.url}}"><img src="{{post.post_image}}" class="post-thumb" alt="{{post.title}}"/></a>
              {% endif %}
              <figcaption>
                <h5 class="from-top mb-0">Read More</h5>
              </figcaption>
            </figure>
            <div class="category">
              <a href="/category/{{post.categories[0] | slugify}}" class="badge badge-pill bg-purple">{{post.categories[0]}}</a>
            </div>
            <h2 class="post-title"><a href="{{post.url}}">{{post.title}} {{page.blogs_area.posts_number}}</a></h2>
            <div class="meta mb-0"><span class="date"><i class="jam jam-clock"></i> {{post.date | date_to_string}}</span></div>
          </div>
          {% endfor %}
      </div>
      <!-- /.owl-carousel -->
    </div>
    <!-- /.grid-view -->
    <div class="space80"></div>
    <div class="space70 d-md-none"></div>
  </div>
  <!-- /.container -->
  <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-footer-dark-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
      <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" /></svg></div>
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.call_to_action.enable %}
  <div class="wrapper footer-dark-wrapper">
    <div class="container">
      <div class="overflow-bottom">
        <div class="box shadow p-60 image-wrapper bg-full bg-image inverse-text rounded d-md-flex align-items-md-center justify-content-md-between" data-image-src="{{page.call_to_action.bg_image}}">
          {% if page.call_to_action.title %}
           <h3 class="display-3 mb-0">{{page.call_to_action.title}}</h3>
          {% endif %}
          {% if page.call_to_action.button_text %}
           <div class="space30 d-md-none"></div>
           <a href="{{page.call_to_action.button_url}}" class="btn btn-white btn-strong-hover mb-0">{{page.call_to_action.button_text}}</a>
          {% endif %}
        </div>
        <!--/.box -->
      </div>
      <!--/.overflow -->
    </div>
    <!--/.container -->
  </div>
  <!--/.wrapper -->
{% endif %}
{% include footer.html %}
</div>
