---
layout: default

slider_area:
  enable: true
  title: "Manage all your accounts, budgets and bills in one place"
  sub_title: "Snowlake is now available to download from both the App Store and Google Play Store."
  image: "/assets/images/art/iphone.png"
  bg_image: "/assets/images/art/bg4.jpg"
  buttons:
    - text: "App Store"
      url: "#"
      icon: "jam jam-apple"

    - text: "Google Play"
      url: "#"
      icon: "jam jam-google-play"

features_area:
  enable: true
  title: "App Features"
  sub_title: "Snowlake makes your spending stress-free for you to have the perfect control"
  features:
    - title: "Secure Payments"
      icon: "icofont-safety"
      icon_color: "blue"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam vestibulum."

    - title: "Fast Transactions"
      icon: "icofont-rocket-alt-2"
      icon_color: "green"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam vestibulum."

    - title: "Easy Usage"
      icon: "icofont-touch"
      icon_color: "pink"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam vestibulum."

video_area:
  enable: true
  title: "How It Works"
  sub_title: "Enjoy the effortless management of your bills with intuitive features and powerful results."
  vimeo_video_id: "165101721"

two_coumns_one:
  enable: true
  title: "Why Choose Us?"
  sub_title: "Here are a few reasons why our customers choose the Snowlake app."
  image: "/assets/images/art/ui6.png"
  lists:
    - title: "Bills & Scheduled Transactions"
      description: |
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

    - title: "Reports & Forecasting"
      description: |
        Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.

    - title: "Always up to date"
      description: |
        Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes.

two_coumns_two:
  enable: true
  image: "/assets/images/art/ui6.png"
  lists:
    - title: "Online Banking"
      description: |
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

    - title: "Multiple Currencies"
      description: |
        Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.

    - title: "Touch ID"
      description: |
        Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes.

two_coumns_three:
  enable: true
  image: "/assets/images/art/ui8.png"
  lists:
    - title: "Configurable Fields"
      description: |
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

    - title: "Smart Search"
      description: |
        Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.

    - title: "List of Transactions"
      description: |
        Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes.

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: 'We offer great prices, premium products and quality service for your business.'
  bg_image: "/assets/images/art/bg4.jpg"
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      pricing_url: "#"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      pricing_url: "#"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Corporate Plan"
      monthly_price: 49
      pricing_url: "#"
      features:
        - "<strong>49</strong> Project"
        - "<strong>300K</strong> API Access"
        - "<strong>500MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

faq_area:
  enable: true
  title: "FAQ" 
  sub_title: |
    "If you don't see an answer to your question, you can send us an email from our contact form"
  faq:
  - question: "Can I cancel my subscription?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Which payment methods do you accept?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How can I manage my Account?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Is my credit card information secure?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How do I get my subscription receipt?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Are there any discounts for people in need?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Can I cancel my subscription?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Do you offer a free trial edit?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How do I reset my Account password?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."

---

<div class="content-wrapper">
{% include header.html extra_class="absolute transparent inverse-text" light_logo="true" container_class="container" %}
{% if page.slider_area.enable %}
<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{{page.slider_area.bg_image}}">
    <div class="container inner pb-100">
      <div class="space100"></div>
      <div class="row">
        <div class="col-lg-7 col-xl-6">
          {% if page.slider_area.title %}
          <h1 class="display-1" data-aos="fade-up" data-aos-delay="800">{{page.slider_area.title}}</h1>
          <div class="space10"></div>
          {% endif %}
          {% if page.slider_area.sub_title %}
          <p class="lead larger" data-aos="fade-up" data-aos-delay="1300">{{page.slider_area.sub_title}}</p>
          <div class="space25"></div>
          {% endif %}
          {% for buttons in page.slider_area.buttons %}
          <div class="d-inline-block" data-aos="fade-up" data-aos-delay="1800">
            <a href="{{buttons.url}}" class="btn btn-l btn-white btn-strong-hover btn-icon btn-icon-left mr-10">
            	<i class="{{buttons.icon}}"></i> {{buttons.text}}
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 52">
        <path d="M0,52V0S247,91,505,32c261.17-59.72,565-13,565-13V52Z" /></svg></div>
   </div>
  {% if page.slider_area.image %}
  <div class="wrapper overflow-top bleed-l pointer-none d-none d-lg-block">
    <div class="container text-right">
      <div class="row" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-5 offset-lg-7 col-xl-4 offset-xl-7">
          <figure>
            <img src="{{page.slider_area.image}}" alt="{{page.slider_area.title}}"/>
          </figure>
        </div>
      </div>
    </div>
</div>
{% endif %}
{% endif %}
<div class="wrapper light-wrapper">
  <div class="container inner">
  	{% if page.features_area.enable %}
    <div class="features-area">
        <div class="row">
        	<div class="col-md-7 mx-auto">
		        <h2 class="title-color color-gray text-center">{{page.features_area.title}}</h2>
				<h3 class="display-3 text-center">{{page.features_area.sub_title}}</h3>
				<div class="space40"></div>
        	</div>
        </div>	
		<div class="row gutter-60 text-center">
          {% for features in page.features_area.features %}
		   <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
		  	<span class="icon icon-blob icon-blob-{{features.icon_color}} color-{{features.icon_color}} mb-30"><i class="{{features.icon}}"></i><span class="step bg-{{features.icon_color}}">{{forloop.index}}</span></span>
		    <h5>{{features.title}}</h5>
		    <p>{{features.description}}</p>
		   </div>
          {% endfor %}
		</div>
    </div>
    {% endif %}
    {% if page.video_area.enable %}
    <div class="video-area">
        <div class="row">
        	<div class="col-md-7 mx-auto">
		        <div class="space150"></div>
				<h2 class="title-color color-gray text-center">{{page.video_area.title}}</h2>
				<h3 class="display-3 mb-0 text-center">{{page.video_area.sub_title}}</h3>
        	</div>
        </div>
		<div class="space50"></div>
		<div class="row" data-aos="fade-up" data-aos-delay="300">
		  <div class="col-lg-10 offset-lg-1">
		    <div class="player" data-plyr-provider="vimeo" data-plyr-embed-id="{{page.video_area.vimeo_video_id}}"></div>
		  </div>
		</div>
    </div>
    {% endif %}
    {% if page.two_coumns_one.enable %}
    <div class="two-column-one">
    <div class="row">
    <div class="col-md-7 mx-auto">
	    <div class="space180"></div>
		<h2 class="title-color color-gray text-center">{{page.two_coumns_one.title}}</h2>
		<h3 class="display-3 mb-0 text-center">{{page.two_coumns_one.sub_title}}</h3>
		<div class="space50"></div>
    </div>
    </div>
	<div class="row align-items-center">
	  {% if page.two_coumns_one.image %}
	  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
	    <figure><img src="{{page.two_coumns_one.image}}" alt="{{page.two_coumns_one.title}}"/></figure>
	  </div>
	  {% endif %}
	  <div class="space40 d-lg-none"></div>
	  <div class="col-lg-6 pl-60 pl-md-15">
	  {% for list in page.two_coumns_one.lists %}
	    <div data-aos="fade-up" data-aos-delay="800">
	      <h4>{{list.title}}</h4>
	      <p>{{list.description}}</p>
	    </div>
       {% endfor %}
	  </div>
	</div>
	<!--/.row -->
    </div>
    {% endif %}
    {% if page.two_coumns_two.enable %}
    <div class="two-column-two">
	<div class="space150"></div>
	<div class="row align-items-center">
	  {% if page.two_coumns_two.image %}
	  <div class="col-lg-6 order-lg-2" data-aos="fade-up" data-aos-delay="300">
	    <figure><img src="{{page.two_coumns_two.image}}" alt="{{page.two_coumns_two.title}}"/></figure>
	  </div>
	  {% endif %}
	  <div class="space40 d-lg-none"></div>
	  <div class="col-lg-6 pr-60 pr-md-15">
	  	{% for list in page.two_coumns_two.lists %}
	    <div data-aos="fade-up" data-aos-delay="800">
	      <h4>{{list.title}}</h4>
	      <p>{{list.description}}</p>
	    </div>
	    <div class="space30"></div>
        {% endfor %}
	  </div>
	  <!--/column -->
	</div>
	<!--/.row -->
    </div>
    {% endif %}
     {% if page.two_coumns_three.enable %}
    <div class="two-column-three">
	<div class="space150"></div>
	<div class="row align-items-center">
	  {% if page.two_coumns_three.image %}
	  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
	    <figure><img src="{{page.two_coumns_three.image}}" alt="{{page.two_coumns_three.title}}"/></figure>
	  </div>
	  {% endif %}
	  <div class="space40 d-lg-none"></div>
	  <div class="col-lg-6 pl-60 pl-md-15">
	  	{% for list in page.two_coumns_three.lists %}
	    <div data-aos="fade-up" data-aos-delay="800">
	      <h4>{{list.title}}</h4>
	      <p>{{list.description}}</p>
	    </div>
	    <div class="space30"></div>
        {% endfor %}
	  </div>
	  <!--/column -->
	</div>
	<!--/.row -->
    </div>
    {% endif %}
  </div>
</div>
{% if page.pricing_table.enable %}
<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{{page.pricing_table.bg_image}}">
  <div class="container inner text-center">
    <div class="row">
    	<div class="col-md-7 mx-auto">
          <h2 class="title-color color-white text-center">{{page.pricing_table.title}}</h2>
          <h3 class="display-3 mb-0">{{page.pricing_table.sub_title}}</h3>
    	</div>
    </div>
  </div>
 <div class="space160"></div>
</div>
{% endif %}
<div class="wrapper overflow-top">
  <div class="container inner pt-0">
  	{% if page.pricing_table.enable %}
    <div class="pricing-wrapper" data-aos="fade-up" data-aos-delay="300">
      <div class="row no-gutters">
        {% assign pricings = page.pricing_table.plans %}
        {% for pricing in pricings %}
        <div class="col-md-4 {% if forloop.index == 2 %} popular {% endif %}">
          <div class="pricing panel box bg-white shadow">
            <div class="panel-heading">
              <h4 class="panel-title mb-35">{{pricing.title}}</h4>
              <div class="prices color-dark">
                <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
              </div>
            </div>
            <!--/.panel-heading -->
            <div class="panel-body">
              <table class="table">
                {% for feature in pricing.features %}
                <tr>
                  <td>{{feature}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!--/.panel-body -->
            <div class="panel-footer">
              {% if pricing.pricing_url %}
               <a href="{{pricing.pricing_url}}" class="btn" role="button">Choose Plan</a>
              {% endif %}
           </div>
          </div>
          <!--/.pricing -->
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="faq-area">
    {% if page.faq_area.enable %}
    <div class="row">
    	<div class="col-md-7 mx-auto">
		    <div class="space160"></div>
		    <h2 class="title-color color-gray text-center">{{page.faq_area.title}}</h2>
		    <h3 class="display-3 text-center">
		      {{page.faq_area.sub_title}}
		    </h3>
		    <div class="space40"></div>
    	</div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-0">
        <div id="accordion-1" class="accordion-wrapper">
          {% for faq in page.faq_area.faq  limit: "4" %}
          <div class="card">
            <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
              <h5>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-1-{{forloop.index}}">
                 {{faq.question}}
               </button>
              </h5>
            </div>
            <div id="accordion-collapse-1-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-target="#accordion-{{forloop.index}}">
              <div class="card-body">
                <p>{{faq.answer}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <div id="accordion-2" class="accordion-wrapper">
         {% for faq in page.faq_area.faq  limit: "4" offset: "4" %}
          <div class="card shadow">
            <div class="card-header" id="accordion-heading-2-1">
              <h5>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-{{forloop.index}}">
                 {{faq.question}}
                </button>
              </h5>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-{{forloop.index}}">
              <div class="card-body">
                <p>{{faq.answer}}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          {% endfor %}
        </div>
        <!-- /.accordion-wrapper -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
    </div>
  </div>
</div>
{% include footer_4.html light_logo="true" %}
</div>    