---
layout: default

slider_area:
  enable: true
  title: "Snowlake Brings Awesomeness"
  sub_title: "We have considered our solutions to support every stage of your growth."
  image: "/assets/images/art/woman.png"
  vimeo_video: "https://vimeo.com/124071444"
  button_text: "How It Works"

about_us:
  enable: true
  title: "About Us"
  sub_title: "We are a creative company that focuses on establishing long-term relationships with customers."
  paragraphs:
    - text: |
        Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.
    - text: |
        Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh.
  image: "/assets/images/art/about7.png"
  projects_number: 450
  projects_tag: "Completed Projects"
  lists:
    enable: true
    services:
      - title: "Our Vision"
        description: "Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Maecenas faucibus mollis."

      - title: "Our Mission"
        description: "Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero. Etiam porta sem malesuada augue."

      - title: "Our Values"
        description: "Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere. Sed posuere consectetur."
  button_text: "More Details"
  button_url: "#"

services_area:
  enable: true
  title: "Our Services"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  services: 
    - title: "24/7 Support"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-headphone-alt" 

    - title: "Secure Payments"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-safety" 

    - title: "Daily Updates"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-refresh" 

    - title: "Research & Marketing"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-chart-arrows-axis" 

    - title: "System Integration"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-gear"

    - title: "SEO Service"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "icofont-earth"

how_it_works:
  enable: true
  title: "How It Works"
  sub_title: "Find out everything you need to know about creating a business process model."
  description: | 
    Curabitur nec orci orci. Ut fringilla nisl quis consectetur ultrices. Morbi mattis nisl vitae fringilla volutpat. Ut molestie metus vitae imperdiet. Maecenas ornare ut lectus ac volutpat. Vestibulum erat massa finibus.
  video_image: "/assets/media/movie.jpg"
  mp4_video: "/assets/media/movie.mp4"
  webm_video: "/assets/media/movie.webm"
  lists:
    - Aenean eu leo quam ornare.
    - Nullam quis risus eget mollis.
    - Donec elit non mi porta gravida.
    - Fusce dapibus cursus commodo.
  button_text: "More Details"
  projects:
    - numbers: 7518
      title: "Completed Projects"

    - numbers: 3472
      title: "Satisfied Customers"

    - numbers: 2184
      title: "Expert Employees"

    - numbers: 4523
      title: "Awards Won"

what_we_do:
  enable: true
  title: "What We Do"
  sub_title: "We plan and build digital products for your business or project with high confidence"
  lists:

    - title: "Marketing Research"
      description: "Vestibulum ligula porta felis"
      image: "/assets/images/art/ui1.png" 

    - title: "Secure Payments"
      description: "Vivamus sagittis lacus augue"
      image: "/assets/images/art/ui2.png"

    - title: "Daily Updates"
      description: "Etiam porta sem malesuada"
      image: "/assets/images/art/ui3.png"

    - title: "System Integration"
      description: "Etiam porta sem malesuada"
      image: "/assets/images/art/ui4.png"

blogs_area:
  enable: true
  title: "Case Studies"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  posts_number: 6

our_team:
  enable: true
  title: "Our Team"
  sub_title: "Save your time and money by choosing our professional team."
  description: |
    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod vivamus sagittis. Nulla vitae elit libero, a pharetra augue vivamus sagittis.
  button_text: "Read More About Us"
  button_url: "#"
  team_image: "/assets/images/art/bg12.jpg"

testimonials:
  enable: true
  title: "Customer Stories"
  sub_title: "Customer satisfaction is our major goal. See what our customers are saying about us."
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t6.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t5.jpg" 
      name: "Jackie Sanders"
      designation: "Sales Specialist"

contact_area:
  enable: true
  sub_title: "Convinced yet? Let's make great together. If you got any questions, don't hesitate to get in touch with us."
  bg_image: "/assets/images/art/map.png"
  button_text: "Contact Us"
  button_url: "#"

---
<link rel="stylesheet" type="text/css" href="/assets/css/color/cobalt.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/font/font4.css" />
<div class="box-layout">
    <div class="content-wrapper">
        {% include header.html extra_class="dark-wrapper inverse-text navbar-hover-opacity" light_logo="true" black_logo_disable="true" %}
        {% if page.slider_area.enable %}
        <div class="gray-wrapper">
            <div class="rev_slider_wrapper autowidth-container dark-spinner">
                <div id="slider13" class="rev_slider fullwidthbanner light-gallery-wrapper" data-version="5.4.7">
                    <ul>
                        <li data-transition="fade" data-thumb="">
                            <img src="/assets/images/dummy.png" data-bgcolor="#e6eaf1" alt="slider" />
                            {% if page.slider_area.title %}
                            <div
                                class="tp-caption font-weight-600 color-dark"
                                data-x="['left','left','left','left']"
                                data-y="middle"
                                data-hoffset="['650','550','400','30']"
                                data-voffset="['-80','-80','-90','-120']"
                                data-fontsize="['44','44','42','42']"
                                data-lineheight="['54','54','52','52']"
                                data-width="['450','450','350','340']"
                                data-textAlign="['left','left','left','left']"
                                data-whitespace="['normal','normal','normal','normal']"
                                data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                data-responsive="on"
                                data-responsive_offset="on"
                                style="z-index: 9;"
                            >
                            {{page.slider_area.title}}
                            </div>
                            <!-- /.tp-caption -->
                            {% endif %} 
                            {% if page.slider_area.sub_title %}
                            <div
                                class="tp-caption font-weight-400 color-dark"
                                data-x="['left','left','left','left']"
                                data-y="middle"
                                data-hoffset="['650','550','400','30']"
                                data-voffset="['30','30','30','10']"
                                data-fontsize="['26','26','26','26']"
                                data-lineheight="['36','36','36','36']"
                                data-width="['450','450','350','340']"
                                data-textAlign="['left','left','left','left']"
                                data-whitespace="['normal','normal','normal','normal']"
                                data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                data-responsive="on"
                                data-responsive_offset="on"
                                style="z-index: 9;"
                            >
                            {{page.slider_area.sub_title}}
                            </div>
                            <!-- /.tp-caption -->
                            {% endif %} 
                            {% if page.slider_area.button_text %}
                            <a
                                class="tp-caption btn-play-wrapper lightbox"
                                data-x="['left','left','left','left']"
                                data-y="middle"
                                data-hoffset="['650','550','400','30']"
                                data-voffset="['125','125','135','125']"
                                data-width="['auto','auto','auto','auto']"
                                data-textAlign="['left','left','left','left']"
                                data-frames='[{"delay":2500,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-responsive="on"
                                data-responsive_offset="on"
                                style="z-index: 9;"
                                href="{{page.slider_area.vimeo_video}}"
                            >
                                <span class="btn-play btn-play-s"></span>
                                <span class="h6 pl-10 font-weight-600">{{page.slider_area.button_text}}</span>
                            </a>
                            <!-- /.tp-caption -->
                            {% endif %} 
                            {% if page.slider_area.image %}
                            <div
                                class="tp-caption"
                                data-x="['left','left','left','left']"
                                data-y="bottom"
                                data-hoffset="['210','110','30','30']"
                                data-voffset="['0','0','0','0']"
                                data-frames='[{"delay":500,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                data-visibility="['on','on','on','off']"
                                data-width="none"
                                data-height="none"
                                data-type="image"
                                data-responsive_offset="on"
                                style="z-index: 5;"
                            >
                                <img data-lazyload="" src="{{page.slider_area.image}}" data-ww="auto" data-hh="580" alt="{{page.slider_area.title}}" />
                            </div>
                            <!-- /.tp-caption -->
                            {% endif %}
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
                <!-- /.rev_slider -->
                <div class="divider">
                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-white-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
                        <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
                    </svg>
                </div>
            </div>
            <!-- /.rev_slider_wrapper -->
        </div>
        {% endif %} 
        {% if page.about_us.enable %}
        <div class="wrapper white-wrapper">
            <div class="container inner">
                <div class="row align-items-center">
                    {% if page.about_us.image %}
                    <div class="col-lg-6 order-lg-2 text-center">
                        <div>
                            <figure><img src="{{page.about_us.image}}" alt="{{page.about_us.title}}" /></figure>
                            <div class="row counter counter-s position-absolute" style="top: 45%; right: 8%;">
                                <div class="col-md-10 text-center">
                                    <div class="box bg-white shadow">
                                        <h3><span class="value">{{page.about_us.projects_number}}</span>+</h3>
                                        <p>{{page.about_us.projects_tag}}</p>
                                    </div>
                                    <!--/.box -->
                                </div>
                                <!--/column -->
                            </div>
                            <!--/.row -->
                        </div>
                    </div>
                    <!--/column -->
                    {% endif %}
                    <div class="space30 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-6 pr-60 pr-md-15">
                        {% if page.about_us.title %}
                        <h2 class="title-color color-gray">{{page.about_us.title}}</h2>
                        {% endif %} 
                        {% if page.about_us.sub_title %}
                        <h3 class="display-3">{{page.about_us.sub_title}}</h3>
                        {% endif %}
                        <div class="space10"></div>
                        {% for text_data in page.about_us.paragraphs %}
                        <p>{{text_data.text}}</p>
                        {% endfor %}
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                {% if page.about_us.lists.enable %}
                <div class="space50"></div>
                <div class="row gutter-60 gutter-md-30">
                    {% for service in page.about_us.lists.services %}
                    <div class="col-lg-4">
                        <div class="d-flex flex-row justify-content-center">
                            <div>
                                <span class="icon icon-bg icon-bg-default color-default mr-25"><span class="number">{{forloop.index}}</span></span>
                            </div>
                            <div>
                                <h5>{{service.title}}</h5>
                                <p class="mb-0">{{service.description}}</p>
                            </div>
                        </div>
                    </div>
                    <!--/column -->
                    {% endfor %}
                </div>
                <!--/.row -->
                {% endif %} 
                {% if page.about_us.button_text %}
                <div class="space50"></div>
                <div class="text-center">
                    <a href="{{page.about_us.button_url}}" class="btn">{{page.about_us.button_text}}</a>
                </div>
                {% endif %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        {% endif %}
        {% if page.services_area.enable %}
        <div class="wrapper dark-wrapper inverse-text">
            <div class="container inner">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        {% if page.services_area.title %}
                        <h2 class="title-color color-white text-center">{{page.services_area.title}}</h2>
                        {% endif %} {% if page.services_area.sub_title %}
                        <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
                        {% endif %}
                        <div class="space40"></div>
                    </div>
                </div>
                <div class="row gutter-50">
                    {% for services in page.services_area.services %}
                    <div class="col-md-6 col-lg-4 {% if forloop.index > 3 %} mb-4 mb-lg-0 {% else %} mb-4 {% endif %}">
                        <div class="d-flex flex-row justify-content-center">
                            <div>
                                <div class="icon color-default fs-38 mr-25">
                                    <i class="{{services.icon}}"></i>
                                </div>
                            </div>
                            <div>
                                <h5>{{services.title}}</h5>
                                <p class="mb-0">{{services.sub_title}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--/.row -->
            </div>
            <!-- /.container -->
            <div class="divider">
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-white-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
                    <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
                </svg>
            </div>
        </div>
        <!-- /.wrapper -->
        {% endif %} 
        {% if page.how_it_works.enable %}
        <div class="wrapper white-wrapper">
            <div class="container inner">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        {% if page.how_it_works.title %}
                        <h2 class="title-color color-gray text-center">{{page.how_it_works.title}}</h2>
                        {% endif %} 
                        {% if page.how_it_works.sub_title %}
                        <h3 class="display-3 text-center">
                            {{page.how_it_works.sub_title}}
                        </h3>
                        {% endif %}
                    </div>
                </div>
                <div class="space40"></div>
                <div class="row">
                    <div class="col-lg-8">
                        <video poster="{{page.how_it_works.video_image}}" class="player" playsinline controls preload="none">
                            {% if page.how_it_works.mp4_video %}
                            <source src="{{page.how_it_works.mp4_video}}" type="video/mp4" />
                            {% endif %} 
                            {% if page.how_it_works.webm_video %}
                            <source src="{{page.how_it_works.webm_video}}" type="video/webm" />
                            {% endif %}
                        </video>
                    </div>
                    <!--/column -->
                    <div class="space30 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-4 pl-50 pl-md-15">
                        <p>{{page.how_it_works.description}}</p>
                        <ul class="icon-list bullet-default">
                            {% for list in page.how_it_works.lists %}
                            <li>
                                <i class="jam jam-arrow-right"></i>
                                {{list}}
                            </li>
                            {% endfor %}
                        </ul>
                        {% if page.how_it_works.button_text %}
                        <div class="space10"></div>
                        <a href="{{page.how_it_works.button_url}}" class="btn mb-0">{{page.how_it_works.button_text}}</a>
                        {% endif %}
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                <div class="space60"></div>
                <div class="row counter">
                    {% for project in page.how_it_works.projects %}
                    <div class="col-md-3 text-center">
                        <h3 class="value">{{project.numbers}}</h3>
                        <p>{{project.title}}</p>
                    </div>
                    {% endfor %}
                </div>
                <!--/.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        {% endif %}
        {% if page.what_we_do.enable %}
        <div class="wrapper light-wrapper">
            <div class="container inner">
                {% if page.what_we_do.title %}
                <h2 class="title-color color-gray text-center">{{page.what_we_do.title}}</h2>
                {% endif %} {% if page.what_we_do.title %}
                <h3 class="display-3 text-center">{{page.what_we_do.title}}</h3>
                {% endif %}
                <div class="space40"></div>
                <div class="row no-gutters">
                    <div class="col-lg-4 mb-0">
                        <ul class="nav nav-tabs nav-tabs-bg flex-column">
                            {% for list in page.what_we_do.lists %}
                            <li class="nav-item">
                                <a class="nav-link {% if forloop.index == 1 %} active {% endif %}" data-toggle="tab" href="#tab5-{{forloop.index}}">
                                    <span>{{list.title}}</span>
                                    <p>{{list.description}}</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- /.nav-tabs -->
                    </div>
                    <!--/column -->
                    <div class="col-lg-7 ml-auto">
                        <div class="tab-content">
                            {% for list in page.what_we_do.lists %}
                            <div class="tab-pane {% if forloop.index == 1 %} show active {% endif %}" id="tab5-{{forloop.index}}">
                                <figure>
                                    <img src="{{list.image}}" alt="{{list.title}}" />
                                </figure>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!-- /.container -->
            <div class="divider">
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-white-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
                    <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
                </svg>
            </div>
        </div>
        <!-- /.wrapper -->
        {% endif %} 
        {% if page.blogs_area.enable %}
        <div class="wrapper white-wrapper">
            <div class="container inner">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        {% if page.blogs_area.title %}
                         <h2 class="title-color color-gray text-center">{{page.blogs_area.title}}</h2>
                        {% endif %} {% if page.blogs_area.sub_title %}
                         <h3 class="display-3 text-center">{{page.blogs_area.sub_title}}</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="space40"></div>
                <div class="grid-view">
                    <div class="carousel owl-carousel blog-posts" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
                        {% for post in site.posts limit: page.blogs_area.posts_number  %}
                        <div class="item">
                            {% if post.post_image %}
                            <figure class="overlay overlay1 rounded mb-30">
                                <a href="{{post.url}}"> <img class="post-thumb" src="{{post.post_image}}" alt="{{post.title}}" /></a>
                                <figcaption>
                                    <h5 class="from-top mb-0">Read More</h5>
                                </figcaption>
                            </figure>
                            {% endif %}
                            <h2 class="post-title mb-0">
                                <a href="{{post.url}}">{{post.title}}</a>
                            </h2>
                        </div>
                        <!-- /.item -->
                        {% endfor %}
                    </div>
                    <!-- /.owl-carousel -->
                </div>
                <!-- /.grid-view -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        {% endif %} 
        {% if page.our_team %}
        <div class="wrapper light-wrapper">
            <div class="container inner pb-0">
                <div class="row">
                  <div class="col-md-8 mx-auto">
                    {% if page.our_team.title %}
                    <h2 class="title-color color-gray text-center">{{page.our_team.title}}</h2>
                    {% endif %} {% if page.our_team.sub_title %}
                    <h3 class="display-3 text-center">{{page.our_team.sub_title}}</h3>
                    {% endif %}
                  </div>
                </div>
                <div class="space10"></div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <p>{{page.our_team.description}}</p>
                        <div class="space20"></div>
                        <a href="{{page.our_team.button_url}}" class="btn">{{page.our_team.button_text}}</a>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
            {% if page.our_team.team_image %}
            <figure class="cover">
                <img src="{{page.our_team.team_image}}" alt="{{page.our_team.title}}" />
                <div class="divider">
                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
                        <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
                    </svg>
                </div>
            </figure>
            {% endif %}
        </div>
        <!-- /.wrapper -->
        {% endif %}
        <div class="wrapper light-wrapper">
            <div class="container inner">
                {% if page.testimonials.enable %}
                <div class="testimonials-wrapper">
                    <div class="row">
                        <div class="col-md-7 mx-auto">
                            {% if page.testimonials.title %}
                            <h2 class="title-color color-gray text-center mb-30">{{page.testimonials.title}}</h2>
                            {% endif %} {% if page.testimonials.sub_title %}
                            <h3 class="display-3 text-center">{{page.testimonials.sub_title}}</h3>
                            {% endif %}
                        </div>
                    </div>
                    <div class="space20"></div>
                    <div class="grid-view">
                        <div
                            class="carousel owl-carousel gap-small"
                            data-margin="0"
                            data-dots="true"
                            data-autoplay="false"
                            data-autoplay-timeout="5000"
                            data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1140":{"items": "3"}}'
                        >
                            {% for feedback in page.testimonials.feedback %}
                            <div class="item">
                                <div class="item-inner">
                                    <div class="bg-white shadow p-3">
                                        <blockquote>
                                            <p>"{{feedback.quote}}"</p>
                                            <div class="blockquote-details">
                                                {% if feedback.image %}
                                                <div class="img-blob blob1">
                                                    <img src="{{feedback.image}}" alt="{{feedback.name}}" />
                                                </div>
                                                {% endif %}
                                                <div class="info">
                                                    <h6 class="mb-0">{{feedback.name}}</h6>
                                                    <span class="meta mb-0">{{feedback.designation}}</span>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item -->
                            {% endfor %}
                        </div>
                        <!-- /.owl-carousel -->
                    </div>
                    <!-- /.grid-view -->
                </div>
                {% endif %}
            </div>
            {% if page.contact_area.enable %}
            <div class="wrapper image-wrapper bg-auto no-overlay bg-image text-center" data-image-src="{{page.contact_area.bg_image}}">
                <div class="container inner">
                    <div class="row">
                        <div class="col-md-9 mx-auto">
                        	{% if page.contact_area.sub_title %}
                             <h3 class="display-3">{{page.contact_area.sub_title}}</h3>
                            {% endif %}
                            <div class="space30"></div>
                            {% if page.contact_area.button_text %}
                            <a href="{{page.contact_area.button_url}}" class="btn btn-l btn-default mb-0">{{page.contact_area.button_text}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="space120"></div>
            {% endif %}
            {% include footer_3.html light_logo="true" %}
        </div>
    </div>
</div>
