---
layout: default

hero_area:
  enable: true
  bg_image: "/assets/images/art/slider-bg12.jpg"
  title: "Hello! We are a digital and marketing company"
  btn_text: "Get Started"
  btn_url: "#"
three_columns_area:
  enable: true
  title: "What We Do?"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  services:

    - title: "Social Media"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept14@2x.png"
      button_text: "Learn Morn"
      button_url: "#"

    - title: "Digital Marketing"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept19@2x.png"
      button_text: "Learn Morn"
      button_url: "#"

    - title: "SEO Optimization"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept18@2x.png"
      button_text: "Learn Morn"
      button_url: "#"

two_columns_one_area:
  enable: true
  title: "How It Works?"
  sub_title: "Find out everything you need about creating a business process model."
  image: "/assets/images/concept/concept15@2x.png"
  lists:

    - title: "Creative Ideas"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Magic Touch"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Data Analysis"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Finalize Product"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

two_columns_two_area: 
  enable: true
  title: "Why Choose Us?"
  sub_title: "So here are a few reasons why our valued customers choose us."
  image: "/assets/images/concept/concept17.png"
  tabs:

    - title: "Money Protection"
      content: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes."

    - title: "Strategic Development"
      content: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes."

    - title: "Marketing Management"
      content: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes."

video_area:
  enable: true
  title: "How We Do It?"
  sub_title: "Find out everything you need to know about creating a business process model."
  image: "/assets/images/art/bg25.jpg"
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"

blogs_area:
  enable: true
  title: "Case Studies"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  posts_number: 6

testimonials_area:
  enable: true
  title: "Happy Customers"
  sub_title: "Customer satisfaction is our major goal. See what our customers are saying about us."
  image: "/assets/images/concept/concept16@2x.png"
  testimonials:

    - quote: |
        "Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi cras mattis consectetur purus posuere"
      author: "Cornelia Gibson"
      bio: "Financial Analyst"
  
    - quote: |
        "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, posuere consectetur est at lobortis."
      author: "Coriss Ambady"
      bio: "Marketing Specialist"
  
    - quote: |
        "Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi cras mattis consectetur purus posuere"
      author: "Coriss Ambady"
      bio: "Marketing Specialist"

clients_carousel:
  enable: true

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: "We offer great prices, premium products and quality service for your business."
  btn_url: "#"
  description: |
    "Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      pricing_url: "#"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      pricing_url: "#"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

faq_area:
  enable: true
  title: "FAQ"
  sub_title: "If you don't see an answer to your question, you can send us an email from our contact form."
  image: "/assets/images/concept/concept13.png"
  tabs:
    - question: "Can I cancel my subscription?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "Which payment methods do you accept"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "How can I manage my Account?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "Is my credit card information secure?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "How do I get my subscription receipt?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

---

<link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/color/purple.css"/>
<link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/font/font2.css"/>
{% include header.html extra_class="absolute transparent inverse-text nav-uppercase" light_logo="true" %}
{% if page.hero_area.enable %}
<div class="wrapper dark-wrapper">
  <div class="rev_slider_wrapper fullwidth-container">
    <div id="slider10" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
        <li data-transition="fade" data-thumb="">
          <img src="{{page.hero_area.bg_image}}" alt="{{page.hero_area.title}}"/>
          <div class="tp-caption font-weight-600 color-white text-center" 
               data-x="center" 
               data-y="middle" 
               data-voffset="['-45','-45','-45','-45']" 
               data-fontsize="['50','50','40','36']" 
               data-lineheight="['65','65','55','51']" 
               data-width="['550','550','550','340']" 
               data-textAlign="['center','center','center','center']" 
               data-whitespace="['normal','normal','normal','normal']" 
               data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.title}}
          </div>
          <a class="tp-caption btn btn-l btn-white btn-strong-hover scroll" 
               data-x="center" 
               data-y="middle" 
               data-voffset="['85','85','85','85']" 
               data-width="['auto','auto','auto','auto']" 
               data-textAlign="['center','center','center','center']" 
               data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;" href="{{page.hero_area.btn_url}}"> {{page.hero_area.btn_text}}
          </a>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    {% if page.three_columns_area.enable %}
    <div class="three-columns-wrapper">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="text-center">
            <h2 class="title-bg bg-default color-default">{{page.three_columns_area.title}}</h2>
          </div>
          <div class="space10"></div>
          <h3 class="display-3 text-center">{{page.three_columns_area.sub_title}}</h3>
          <div class="space30"></div>
        </div>
      </div>
      <div class="row gutter-60 text-center align-items-end">
        {% for service in page.three_columns_area.services %}
        <div class="col-md-4">
          <figure class="mb-30"><img src="{{service.image}}"  alt="{{service.title}}"/></figure>
          <h4>{{service.title}}</h4>
          <p class="mb-15">{{service.description}}</p>
          <div class="text-center"><a href="{{service.button_url}}" class="more">{{service.button_text}}</a></div>
        </div>
        <div class="space20 d-md-none"></div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% assign colmns_data_one = page.two_columns_one_area %}
    {% if colmns_data_one.enable %}
    <div class="two-columns-one">
      <div class="space140"></div>
        <div class="row align-items-center">
          {% if colmns_data_one.image %}
          <div class="col-lg-6">
            <figure>
              <img src="{{colmns_data_one.image}}"  alt="{{colmns_data_one.title}}"/>
            </figure>
          </div>
          <!--/column -->
          {% endif %}
          <div class="space20 d-md-none"></div>
          <div class="space50 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-6 pl-60 pl-md-15">
            <h2 class="title-bg bg-default color-default">{{colmns_data_one.title}}</h2>
            <div class="space10"></div>
            <h3 class="display-3">{{colmns_data_one.sub_title}}</h3>
            <div class="space20"></div>
            <div class="row">
              {% for list in colmns_data_one.lists %}
              <div class="col-md-6">
                <h5><span class="color-default">{{forloop.index}}.</span> {{list.title}}</h5>
                <p>{{list.description}}</p>
              </div>
              {% assign value = forloop.index | modulo:2 %}
              {% if value == 0 %}
               <div class="space10 d-none d-md-block"></div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
    {% endif %}
    {% assign columns_data_two = page.two_columns_two_area %}
    {% if columns_data_two.enable %}
    <div class="two-columns-two">
      <div class="space140"></div>
        <div class="row align-items-center">
          {% if columns_data_two.image %}
          <div class="col-lg-6 order-lg-2 text-center">
             <figure>
               <img src="{{columns_data_two.image}}" alt="{{columns_data_two.title}}"/>
            </figure>
          </div>
          {% endif %}
          <div class="space20 d-md-none"></div>
          <div class="space50 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-6 pr-60 pr-md-15">
            <h2 class="title-bg bg-default color-default">{{columns_data_two.title}}</h2>
            <div class="space10"></div>
            <h3 class="display-3">{{columns_data_two.sub_title}}</h3>
            <div class="space20"></div>
            <div id="accordion-1" class="accordion-wrapper simple">
              {% for tabs_data in columns_data_two.tabs %}
              <div class="card">
                <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
                  <h5>
                    <button data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="true" aria-controls="accordion-collapse-1-{{forloop.index}}">
                      {{tabs_data.title}}
                    </button>
                  </h5>
                </div>
                <div id="accordion-collapse-1-{{forloop.index}}" class="collapse {% if forloop.index == 1 %} show {% endif %}" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>{{tabs_data.content}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>  
    {% endif %}
  </div>
  {% if page.video_area.enable %}
  <div class="video-area">
  <div class="wrapper image-wrapper bg-image gradient-overlay inverse-text" data-image-src="{{page.video_area.image}}">
    <div class="container inner pt-140 pb-140 text-center">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="title-bg bg-white color-dark">{{page.video_area.title}}</h2>
          <div class="space10"></div>
          <h3 class="display-3">{{page.video_area.sub_title}}</h3>
          <div class="space10"></div>
          <div class="light-gallery-wrapper">
            <a href="{{page.video_area.video_url}}" class="btn-play lightbox"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endif %}
   {% if page.blogs_area.enable %}
    <div class="wrapper light-wrapper">
      <div class="container inner">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <div class="text-center">
              <h2 class="title-bg bg-default color-default">{{page.blogs_area.title}}</h2>
            </div>
            <div class="space10"></div>
            <h3 class="display-3 text-center">{{page.blogs_area.sub_title}}</h3>
            <div class="space40"></div>
          </div>
        </div>
        <div class="grid-view">
          <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
            {% for post in site.posts limit: page.blogs_area.posts_number %}
            <div class="item blog-posts">
              {% if post.post_image %}
              <figure class="overlay overlay1 rounded mb-30"><a href="{{post.url}}"> <img src="{{post.post_image}}" class="post-thumb" alt="{{post.title}}"/></a>
                <figcaption>
                  <h5 class="from-top mb-0">Read More</h5>
                </figcaption>
              </figure>
              {% endif %}
              <h2 class="post-title mb-0"><a href="{{post.url}}">{{post.title}}</a></h2>
            </div>
            {% endfor %}
          </div>
          <!-- /.owl-carousel -->
        </div>
        <!-- /.grid-view -->
      </div>
    </div>
    {% endif %}
    {% if page.testimonials_area.enable %}
    <div class="wrapper white-wrapper inner">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <div class="text-center">
              <h2 class="title-bg bg-default color-default">
                {{page.testimonials_area.title}}
              </h2>
            </div>
            <div class="space10"></div>
            <h3 class="display-3 text-center">
               {{page.testimonials_area.sub_title}}
            </h3>
            <div class="space40"></div>
          </div>
        </div>
        <div class="row align-items-center">
          {% if page.testimonials_area.image %}
          <div class="col-lg-6 pr-60 pr-md-15">
            <figure><img src="{{page.testimonials_area.image}}"  alt="{{page.testimonials_area.title}}"/></figure>
          </div>
          {% endif %}
          <div class="space20 d-md-none"></div>
          <div class="space50 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-5">
            <div class="basic-slider owl-carousel gap-small dots-left" data-margin="30">
              {% for testimonial in page.testimonials_area.testimonials %}
              <div class="item">
                <blockquote class="icon icon-left larger text-left">
                  <p>{{testimonial.quote}}</p>
                  <div class="blockquote-details">
                    <div class="info p-0">
                      <h6 class="mb-0">{{testimonial.author}}</h6>
                      <span class="meta mb-0">{{testimonial.bio}}</span>
                    </div>
                  </div>
                </blockquote>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% if page.clients_carousel.enable %}
        <div class="space80"></div>
         {% include clients_carousel.html %}
        {% endif %}
      </div>
    </div>
    {% endif%}
    <div class="wrapper light-wrapper">
      <div class="container inner">
        {% assign pricing_data = page.pricing_table %}
        {% if pricing_data.enable %}
        <div class="row">
          <div class="col-lg-5 pr-50 pr-md-15">
            <h2 class="title-color color-gray">{{pricing_data.title}}</h2>
            <h3 class="display-3">{{pricing_data.sub_title}}</h3>
            <div class="space20"></div>
            <p>{{pricing_data.description}}</p>
            <div class="space10"></div>
            {% if pricing_data.pricing_url %}
             <a href="{{pricing_data.pricing_url}}" class="btn">See All Prices</a>
            {% endif %}
          </div>
          <!--/column -->
          <div class="space70 d-none d-md-block d-lg-none"></div>
          <div class="space20 d-md-none"></div>
          <div class="col-lg-7">
            <div class="pricing-wrapper">
              <div class="row no-gutters">
                {% for pricing in pricing_data.plans %}
                <div class="col-md-6">
                  <div class="pricing panel box bg-white shadow">
                    <div class="panel-heading">
                      <div class="prices color-dark">
                        <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                      </div>
                      <h4 class="panel-title mb-0">{{pricing.title}}</h4>
                    </div>
                    <div class="panel-body">
                      <table class="table">
                        {% for features in pricing.features %}
                          <tr>
                             <td>{{features}}</td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                    <div class="panel-footer"><a href="{{pricing.pricing_url}}" class="btn" role="button">Choose Plan</a></div>
                  </div>
                </div>
               {% endfor %}
              </div>
            </div>
          </div>
        </div>
       {% endif %}
      </div>
    </div>
    {% if page.faq_area.enable %}
    <div class="wrapper light-wrapper inner-bottom">
        <div class="container">
            <div class="row">
              {% if page.faq_area.image %}
                <div class="col-lg-6">
                    <figure>
                      <img src="{{page.faq_area.image}}"  alt="{{page.faq_area.title}}"/>
                    </figure>
                </div>
                {% endif %}
                <div class="space50 d-none d-md-block d-lg-none"></div>
                <div class="space10 d-md-none"></div>
                <div class="col-lg-6 pl-60 pl-md-15">
                    <h2 class="title-bg bg-default color-default">{{page.faq_area.title}}</h2>
                    <div class="space10"></div>
                    <h3 class="display-3">{{page.faq_area.sub_title}}</h3>
                    <div class="space20"></div>
                    <div id="accordion-2" class="accordion-wrapper simple">
                       {% for tab in page.faq_area.tabs %}
                        <div class="card">
                            <div class="card-header" id="accordion-heading-2-1">
                                <h5>
                                    <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-1">
                                     {{tab.question}}
                                    </button>
                                </h5>
                            </div>
                            <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2" data-parent="#accordion-2">
                                <div class="card-body">
                                    <p>
                                       {{tab.answer}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.accordion-wrapper -->
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% include footer_3.html light_logo="true" %}