---
layout: default

hero_area:
  enable: true
  title: "Creative, Smart and Awesome"
  sub_title: "Branding agency that believes in the power of creative ideas."
  slider_image: "/assets/images/art/mockup2.png"
  shape_image: "/assets/images/dummy.png"
  button_text: "See Our Projects"
  button_url: "#"

services_area:
  enable: true
  title: "OUR SERVICES"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  services:

    - title: "Web Design"
      image: "/assets/images/art/g1.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Learn More"
      button_url: "#"

    - title: "App Development"
      image: "/assets/images/art/g2.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Learn More"
      button_url: "#"

    - title: "Corporate Design"
      image: "/assets/images/art/g3.jpg"
      description: |
        Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
      button_text: "Learn More"
      button_url: "#"

process_area:
  enable: true
  title: "Our Work Process"
  sub_title: "The process steps on creating our awesome and beautiful projects."
  image: "/assets/images/art/mockup1.png"
  lists:

    - title: "Collect Ideas"
      description: "Cum sociis natoque penatibus et magnis dis parturient montes."

    - title: "Design Concept"
      description: "Cum sociis natoque penatibus et magnis dis parturient montes."

    - title: "Finalize Product"
      description: "Cum sociis natoque penatibus et magnis dis parturient montes."

progress_area:
  enable: true
  title: "Save Time and Money"
  sub_title: "Save your time and money by choosing our professional team."
  lists:
    - title: "Money Saved"
      description: "Integer posuere erat a ante venenatis dapibus posuere velit."
      numbers: 45

    - title: "Time Saved"
      description: "Integer posuere erat a ante venenatis dapibus posuere velit."
      numbers: 35

portfolios_area:
  enable: true
  title: "Our Projects"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  button_text: "Start a Project"
  button_url: "#"
  projects:

    - title: "Nullam Mollis"
      sub_title: "Application"
      image: "/assets/images/art/fp12.jpg"
  
    - title: "Euismod Risus"
      sub_title: "Video, Application"
      image: "/assets/images/art/fp15.jpg"
  
    - title: "Ridiculus Tristique"
      sub_title: "Branding"
      image: "/assets/images/art/fp8.jpg"
  
    - title: "Tristique Venenatis"
      sub_title: "Video, Application"
      image: "/assets/images/art/fp6.jpg"
  
    - title: "Video Editing"
      sub_title: "Video, Application"
      image: "/assets/images/art/fp14.jpg"
  
    - title: "Cursus Fusce"
      sub_title: "Application"
      image: "/assets/images/art/fp13.jpg"

testimonials:
  enable: true
  image: "/assets/images/art/woman.png"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus. 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      name: "Barclay Widerski"
      designation: "Sales Manager"

video_area:
  enable: true
  title: "What Makes Us Different"
  sub_title: "We are a creative company that focuses on establishing long-term relationships with customers."
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"
  image: "/assets/images/art/about2.jpg"
  lists:

    - title: "Rapid Solutions"
      description: "Nulla vitae elit libero at pharetra augue metus."

    - title: "Personal Support"
      description: "Nulla vitae elit libero at pharetra augue metus."

    - title: "Passionate Team"
      description: "Nulla vitae elit libero at pharetra augue metus."

    - title: "100% Satisfaction"
      description: "Nulla vitae elit libero at pharetra augue metus."


reviews_area: 
  enable: true
  title: "Join Our Community"
  sub_title: "We are trusted by over 5000+ clients. Join them by using our services and grow your business."
  bg_image: "/assets/images/art/map.png"
  lists:
    - title: "Transactions"
      numbers: "200k"

    - title: "Accounts"
      numbers: "200k"

    - title: "Reviews"
      numbers: "200k"


---
<link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/assets/css/font/font2.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/color/purple.css"/>
{% include header.html extra_class="absolute transparent" logo_class="logo" %}
{% if page.hero_area.enable %}
<div class="wrapper white-wrapper">
  <div class="rev_slider_wrapper fullscreen-container">
    <div id="slider7" class="rev_slider fullscreenbanner" data-version="5.4.7">
      <ul>
        <li data-transition="fade" data-thumb="{{page.hero_area.title}}">
          {% if page.hero_area.shape_image %}
           <img src="{{page.hero_area.shape_image}}" data-bgcolor="#fff" alt="{{page.hero_area.title}}"/>
          {% endif %}
          <div class="tp-caption tp-rotate bg-opacity-default tp-shape tp-shapewrapper" 
               data-x="['center','center','center','center']" 
               data-y="['middle','middle','middle','middle']" 
               data-hoffset="['0','0','0','0']" 
               data-voffset="['0','0','0','0']"
	           data-visibility="['on','on','on','off']"
               data-width="3000" 
               data-height="900" 
               data-whitespace="nowrap" 
               data-type="shape" 
               data-basealign="slide" 
               data-responsive_offset="off" 
               data-responsive="off" 
               data-frames='[{"from":"opacity:0;","speed":2000,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 5;">
          </div>
		  <!-- /.tp-caption -->
		  {% if page.hero_area.slider_image %}
          <div class="tp-caption" 
               data-x="left" 
               data-y="middle" 
               data-hoffset="['420','380','310','310']" 
               data-voffset="'20','20','-10','-10']" 
               data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
               data-visibility="['on','on','on','off']" 
               data-width="none" 
               data-height="none" 
               data-type="image" 
               data-responsive_offset="on" style="z-index: 5;"><img 
               data-lazyload="" src="{{page.hero_area.slider_image}}" 
               data-ww="['750','550','550','550']" 
               data-hh="auto" alt="{{page.hero_area.title}}" />
          </div>
		  <!-- /.tp-caption -->
		  {% endif %}
		  {% if page.hero_area.title %}
          <div class="tp-caption font-weight-600 color-dark" 
               data-x="['left','left','left','left']" 
               data-y="middle" 
               data-hoffset="['50','50','30','30']" 
               data-voffset="['-80','-80','-80','-50']" 
               data-fontsize="['40','40','38','38']" 
               data-lineheight="['50','50','48','48']" 
               data-width="['350','350','330','330']" 
               data-textAlign="['left','left','left','left']" 
               data-whitespace="['normal','normal','normal','normal']" 
               data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.title}}
          </div>
          {% endif %}
		  <!-- /.tp-caption -->
		  {% if page.hero_area.sub_title %}
          <div class="tp-caption font-weight-400 color-dark" 
               data-x="['left','left','left','left']" 
               data-y="middle" 
               data-hoffset="['50','50','30','30']"  
               data-voffset="['30','30','30','60']" 
               data-fontsize="['26','26','24','24']" 
               data-lineheight="['36','36','34','34']" 
               data-width="['350','350','330','330']" 
               data-textAlign="['left','left','left','left']" 
               data-whitespace="['normal','normal','normal','normal']" 
               data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;">{{page.hero_area.sub_title}}
          </div>
		  <!-- /.tp-caption -->
		  {% endif %}
		  {% if page.hero_area.button_text %}
          <a class="tp-caption btn btn-l btn-default scroll" 
               data-x="['left','left','left','left']" 
               data-y="middle" 
               data-hoffset="['50','50','30','30']" 
               data-voffset="['125','125','125','155']" 
               data-width="['auto','auto','auto','auto']" 
               data-textAlign="['left','left','left','left']" 
               data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;" href="{{page.hero_area.button_url}}"> {{page.hero_area.button_text}}
          </a>
		  <!-- /.tp-caption -->
		  {% endif %}
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.services_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
  	{% if page.services_area.enable %}
    <div class="row">
    	<div class="col-md-7 mx-auto">
		    <h2 class="title-color color-gray text-center">{{page.services_area.title}}</h2>
		    <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
		    <div class="space40"></div>
    	</div>
    </div>	
    {% endif %}
    {% if page.services_area.enable %}
    <div class="row gutter-60 text-center align-items-end">
      {% for service in  page.services_area.services  %}
      <div class="col-md-4">
      	{% if service.image %}
        <div class="img-blob blob8 mb-30">
        	<img src="{{service.image}}" style="width: 30rem" alt="{{service.title}}"/>
        </div>
        {% endif %}
        <h4>{{service.title}}</h4>
        <p class="mb-15">{{service.description}}</p>
        {% if service.button_text %}
         <div class="text-center"><a href="{{service.button_url}}" class="more">{{service.button_text}}</a></div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <!--/.row -->
    {% endif %}
    {% if page.process_area.enable %}
    <div class="row">
    	<div class="col-md-7 mx-auto">
		    <div class="space160"></div>
		    <h2 class="title-color color-gray text-center">{{page.process_area.title}}</h2>
		    <h3 class="display-3 text-center">{{page.process_area.sub_title}}</h3>
		    <div class="space40"></div>
    	</div>
    </div>
    <div class="row align-items-center">
      {% if page.process_area.image %}
      <div class="col-lg-8">
        <figure>
          <img src="{{page.process_area.image}}" alt="{{page.process_area.title}}"/>
        </figure>
      </div>
      {% endif %}
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-4 pl-50 pr-lg-0 pl-md-0">
      	{% for list in page.process_area.lists %}
        <div class="d-flex flex-row justify-content-center">
          <div>
            <span class="icon icon-bg icon-bg-default color-default mr-25">
            	<span class="number">{{forloop.index}}</span>
            </span>
          </div>
          <div>
            <h5>{{list.title}}</h5>
            <p class="mb-0">
            	{{list.description}}
            </p>
          </div>
        </div>
        <div class="space40"></div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
<!-- /.wrapper -->
{% endif %}

{% if page.progress_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row align-items-center text-center text-lg-left">
      <div class="col-lg-6">
        <h2 class="title-color color-gray">{{page.progress_area.title}}</h2>
        <h3 class="display-3">{{page.progress_area.sub_title}}</h3>
      </div>
      <!--/column -->
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6">
        <div class="row text-center">
          {% for list in page.progress_area.lists %}
          <div class="col-md-6">
            <div class="progressbar circle pink" data-value="{{list.numbers}}"></div>
            <h5>{{list.title}}</h5>
            <p>{{list.description}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.portfolios_area.enable %}
<div class="wrapper white-wrapper" id="portfolio">
  <div class="container inner">
    <div class="row">
    	<div class="col-md-7 mx-auto">
		    <h2 class="title-color color-gray text-center">{{page.portfolios_area.title}}</h2>
		    <h3 class="display-3 text-center">{{page.portfolios_area.sub_title}}</h3>
		    <div class="space40"></div>
    	</div>
    </div>
    <div class="grid grid-view">
      <div class="tiles text-center light-gallery-wrapper">
        <div class="row isotope">
          {% for project in page.portfolios_area.projects %}
          <div class="item item-detailed grid-sizer col-md-6 col-lg-4">
          	{% if project.image %}
            <figure class="overlay overlay2 rounded mb-20">
            	<a href="{{project.image}}" class="lightbox"> 
            		<img src="{{project.image}}" alt="{{project.title}}"/>
            	</a>
            </figure>
            {% endif %}
            <div class="post-content">
              <h2 class="post-title mb-10"><a href="{{project.url}}">{{project.title}}</a></h2>
              <div class="meta mb-0">{{project.sub_title}}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- /.grid -->
    {% if page.portfolios_area.button_text %}
    <div class="space20"></div>
    <div class="text-center">
      <a href="{{page.portfolios_area.button_url}}" class="btn btn-l btn-default mb-0">{{page.portfolios_area.button_text}}</a>
    </div>
    {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.testimonials.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner pb-0">
    <div class="row align-items-center">
      {% if page.testimonials.image %}
      <div class="col-md-5 col-lg-4 offset-lg-1 d-none d-md-flex">
        <figure><img src="{{page.testimonials.image}}" alt="{{page.testimonials.image}}"></figure>
      </div>
      {% endif %}
      <div class="col-md-7 col-lg-6 pl-60 pl-md-15">
        <div class="basic-slider owl-carousel gap-small dots-left" data-margin="30">
          {% for quote in page.testimonials.feedback %}
          <div class="item">
            <blockquote class="icon icon-left larger text-left">
              <p>"{{quote.quote}}"</p>
              <div class="blockquote-details">
                <div class="info p-0">
                  <h6 class="mb-0">{{quote.name}}</h6>
                  <span class="meta mb-0">{{quote.designation}}</span>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
        <!-- /.owl-carousel -->
        <div class="space20 d-lg-none"></div>
        <div class="space60 d-md-none"></div>
      </div>
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    {% if page.video_area.enable %}
    <div class="row align-items-center">
     {% if page.video_area.image %}
      <div class="col-lg-6 order-lg-2 play-wrapper light-gallery-wrapper text-center">
        <div class="img-blob blob8">
        	<img src="{{page.video_area.image}}" style="width: 30rem" alt="{{page.video_area.title}}"/>
        </div>
        <a href="{{page.video_area.video_url}}" class="btn-play lightbox"></a>
      </div>
      {% endif %}
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pr-50 pr-md-15">
      	{% if page.video_area.title %}
         <h2 class="title-color color-gray text-center text-lg-left">{{page.video_area.title}}</h2>
        {% endif %}
        {% if page.video_area.sub_title %}
         <h3 class="display-3 text-center text-lg-left">{{page.video_area.sub_title}}</h3>
        {% endif %}
        <div class="space30"></div>
        <div class="row">
          {% for list in page.video_area.lists %}
          <div class="col-md-6">
            <div class="d-flex flex-row">
              <div>
                <span class="icon icon-bg icon-bg-default color-default mr-25"><span class="number">{{forloop.index}}</span></span>
              </div>
              <div>
                <h5>{{list.title}}</h5>
                <p>{{list.description}}</p>
              </div>
            </div>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="space120"></div>
    {% endif %}
    {% if page.reviews_area.enable %}
    <div class="wrapper image-wrapper bg-auto no-overlay bg-image text-center" data-image-src="{{page.reviews_area.bg_image}}">
      <div class="container inner">
        <div class="row">
        	<div class="col-md-7 col-lg-8 mx-auto">
		        <h2 class="title-color color-gray">{{page.reviews_area.title}}</h2>
		        <h3 class="display-3 mb-0">{{page.reviews_area.sub_title}}</h3>
		        <div class="space50"></div>
        	</div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="row counter">
             {% for list in page.reviews_area.lists %}
              <div class="col-md-4 color-default">
              	{% assign numbers = list.numbers %}
                <h3 class="color-default">{{numbers}}</h3>
                <p>{{list.title}}</p>
              </div>
             {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="space20"></div>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% include footer_3.html light_logo="true" %}
