---
layout: default

slider_area:
  enable: true
  sliders:
    - sm_img: "/assets/images/art/cf1.jpg"
      big_img: "/assets/images/art/cf1-full.jpg"

    - sm_img: "/assets/images/art/cf2.jpg"
      big_img: "/assets/images/art/cf2-full.jpg"
      
    - sm_img: "/assets/images/art/cf3.jpg"
      big_img: "/assets/images/art/cf3-full.jpg"
      
    - sm_img: "/assets/images/art/cf4.jpg"
      big_img: "/assets/images/art/cf4-full.jpg"
      
    - sm_img: "/assets/images/art/cf5.jpg"
      big_img: "/assets/images/art/cf5-full.jpg"
      
    - sm_img: "/assets/images/art/cf6.jpg"
      big_img: "/assets/images/art/cf6-full.jpg"
      
    - sm_img: "/assets/images/art/cf7.jpg"
      big_img: "/assets/images/art/cf7-full.jpg"
      
    - sm_img: "/assets/images/art/cf8.jpg"
      big_img: "/assets/images/art/cf8-full.jpg"
      
    - sm_img: "/assets/images/art/cf9.jpg"
      big_img: "/assets/images/art/cf9-full.jpg"

services_area:
  enable: true
  title: "My Services"
  sub_title: "I'd like to give you a unique photography experience, capture your products with excellent composition and lighting skills."
  description: |
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui.

  services:

    - title: "Products"
      image: "/assets/images/art/fs4.jpg"
      caption: "See Gallery"
      url: "#"

    - title: "Restaurants"
      image: "/assets/images/art/fs5.jpg"
      caption: "See Gallery"
      url: "#"

    - title: "Recipes"
      image: "/assets/images/art/fs6.jpg"
      caption: "See Gallery"
      url: "#"

    - title: "Still Life"
      image: "/assets/images/art/fs7.jpg"
      caption: "See Gallery"
      url: "#"

call_to_action:
  enable: true
  title: "I take photographs with creativity, concept & passion"
  bg_image: "/assets/images/art/bg14.jpg"

portfolios_area:
  enable: true
  title: "My Selected Shots"
  sub_title: "Photography is my passion and I love to turn ideas into beautiful things."
  button_text: "See All Shots"
  button_url: "#"
  categories: 
    - title: "Fresh Food"
      filter: "fresh_food" 

    - title: "Drink"
      filter: "drink" 

    - title: "Event"
      filter: "event" 

    - title: "Pastry"
      filter: "pastry"

  projects:

    - title: "Fringilla Nullam" 
      sm_img: "/assets/images/art/pf1.jpg"
      big_img: "/assets/images/art/pf1-full.jpg"
      filters:
        - fresh_food
          drink

    - title: "Ridiculus Parturient" 
      sm_img: "/assets/images/art/pf2.jpg"
      big_img: "/assets/images/art/pf2-full.jpg"
      filters:
        - drink

    - title: "Ornare Ipsum" 
      sm_img: "/assets/images/art/pf3.jpg"
      big_img: "/assets/images/art/pf3-full.jpg"
      filters:
        - fresh_food

    - title: "Nullam Mollis" 
      sm_img: "/assets/images/art/pf4.jpg"
      big_img: "/assets/images/art/pf4-full.jpg"
      filters:
        - drink

    - title: "Euismod Risus" 
      sm_img: "/assets/images/art/pf5.jpg"
      big_img: "/assets/images/art/pf5-full.jpg"
      filters:
        - eveny

    - title: "Ridiculus Tristique" 
      sm_img: "/assets/images/art/pf6.jpg"
      big_img: "/assets/images/art/pf6-full.jpg"
      filters:
        - pastry
          event

    - title: "Sollicitudin Pharetra" 
      sm_img: "/assets/images/art/pf7.jpg"
      big_img: "/assets/images/art/pf7-full.jpg"
      filters:
        - pastry
          event

    - title: "Tristique Venenatis" 
      sm_img: "/assets/images/art/pf8.jpg"
      big_img: "/assets/images/art/pf8-full.jpg"
      filters:
        - pastry
          event

    - title: "Cursus Fusce" 
      sm_img: "/assets/images/art/pf9.jpg"
      big_img: "/assets/images/art/pf9-full.jpg"
      filters:
        - pastry
          event

    - title: "Consectetur Malesuada" 
      sm_img: "/assets/images/art/pf10.jpg"
      big_img: "/assets/images/art/pf10-full.jpg"
      filters:
        - fresh_food

    - title: "Ultricies Aenean" 
      sm_img: "/assets/images/art/pf11.jpg"
      big_img: "/assets/images/art/pf11-full.jpg"
      filters:
        - event

    - title: "Pellentesque Commodo" 
      sm_img: "/assets/images/art/pf12.jpg"
      big_img: "/assets/images/art/pf12-full.jpg"
      filters:
        - fresh_food

    - title: "Ultricies Aenean" 
      sm_img: "/assets/images/art/pf13.jpg"
      big_img: "/assets/images/art/pf13-full.jpg"
      filters:
        - event

testimonials:
  enable: true
  title: ""
  bg_image: "/assets/images/art/bg19.jpg"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus. 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      name: "Barclay Widerski"
      designation: "Sales Manager"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      name: "Hasanul Haque"
      designation: "Food Engineer"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      name: "Abdullah"
      designation: "Graphic Designer"

about_area:
  enable: true
  title: "About Me"
  sub_title: "I'm Caitlyn Snowlake, a photographer specializing in food, drink and product photography."
  image: "/assets/images/art/about11.jpg"
  button_text: "Learn More"
  button_url: "#"
  paragraphs:

    - text: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula.

    - text: |
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur.

working_progress:
  enable: true
  title: "My Working Process"
  sub_title: "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus. Aenean eu leo quam."
  lists:
    - title: "Concept"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."

    - title: "Prepare"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."

    - title: "Retouch"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."

    - title: "Finalize"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."

contact_area:
  enable: true
  title: "Request Photography Pricing"
  sub_title: "For more information please get in touch using the form below:"
  action_email: "tortoizthemes@gmail.com"
  bg_image: "/assets/images/art/bg20.jpg"
  forms_data: 

    - field_type: "input"
      field_name: "user_name"
      placeholder: "Full Name" 
      error_message: "Full Name Is required"

    - field_type: "input"
      field_name: "user_email"
      placeholder: "Email"
      error_message: "Email Is required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "Message"
      error_message: "Message Is required"

---
<div class="content-wrapper">
{% include header_2.html logo_class="header-logo" %}
<div class="wrapper light-wrapper">
{% if page.slider_area.enable %}
<div class="container-fluid p-30">
  <div class="grid-view light-gallery-wrapper">
    <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "1441":{"items": "3"}}'>
      {% for slider in page.slider_area.sliders %}
      <div class="item">
        <figure class="rounded">
          <img src="{{slider.sm_img}}" alt="{{slider.sm_img}}"/>
          <a class="item-link lightbox" href="{{slider.big_img}}">
            <i class="jam jam-qr-code"></i>
          </a>
        </figure>
      </div>
      {% endfor %}
    </div>
    <!-- /.owl-carousel -->
  </div>
  <!-- /.grid-view -->
</div>
{% endif %}
 {% if page.services_area.enable %}
 <div class="services-area">
  <div class="container inner">
  <div class="row align-items-center">
    <div class="col-lg-5 order-lg-2 pl-60 pl-md-15">
      {% if page.services_area.title %}
       <h2 class="section-title">{{page.services_area.title}}</h2>
      {% endif %}
      {% if page.services_area.sub_title %}
      <p class="lead">{{page.services_area.sub_title}}</p>
      {% endif %}
      <div class="space10"></div>
      {% if page.services_area.description %}
      <p class="mb-0">{{page.services_area.description}}</p>
      {% endif %}
    </div>
    <!--/column -->
    <div class="space20 d-md-none"></div>
    <div class="space50 d-none d-md-block d-lg-none"></div>
    <div class="col-lg-7 text-center grid grid-view boxed">
      <div class="row isotope">
        {% for services in page.services_area.services %}
        {% assign check_index = forloop.index | modulo: 2 %}
        {% if check_index %}
        <div class="col-md-6 item grid-sizer mb-4">
          <div class="box bg-white shadow p-30">
            <figure class="main overlay overlay1 rounded mb-30">
              <a href="{{services.url}}">
                 <img src="{{services.image}}" alt="{{services.caption}}"/>
              </a>
              <figcaption>
                <h5 class="from-top mb-0 text-uppercase">{{services.caption}}</h5>
              </figcaption>
            </figure>
            <div class="post-content">
              <h5 class="text-uppercase mb-0">{{services.title}}</h5>
            </div>
            <!-- /.post-content -->
          </div>
          <!-- /.box -->
        </div>
        {% else %}
        <div class="col-md-6 item grid-sizer">
          <div class="box bg-white shadow p-30">
            <figure class="main overlay overlay1 rounded mb-30">
              <a href="{{services.url}}">
                 <img src="{{services.image}}" alt="{{services.caption}}"/>
              </a>
              <figcaption>
                <h5 class="from-top mb-0 text-uppercase">{{services.caption}}</h5>
              </figcaption>
            </figure>
            <div class="post-content">
              <h5 class="text-uppercase mb-0">{{services.title}}</h5>
            </div>
            <!-- /.post-content -->
          </div>
          <!-- /.box -->
        </div>
        {% endif %}
       {% endfor %}
      </div>
      <!--/.row -->
    </div>
    <!--/column -->
   </div>
   <!--/.row -->
   </div>
  <!-- /.container -->
  </div>
  {% endif %}
  </div>
  {% if page.call_to_action.enable %}
  <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.call_to_action.bg_image}}">
   <div class="container inner pt-150 pb-150">
     <div class="row">
       <div class="col-md-8 mx-auto">
         <h2 class="display-1 mb-0 text-center">
           {{page.call_to_action.title}}
         </h2>
       </div>
     </div>
   </div>
  </div>
  {% endif %}
  {% if page.portfolios_area.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h2 class="section-title text-center">{{page.portfolios_area.title}}</h2>
      <p class="lead text-center">{{page.portfolios_area.sub_title}}</p>
      <div class="space40"></div>
      <div class="grid grid-view">
        <div class="isotope-filter text-center">
          <ul>
            <li><a class="button active" data-filter="*">All</a></li>
            {% for category in page.portfolios_area.categories %}
             <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="tiles tiles-m light-gallery-wrapper">
          <div class="row isotope">
            {% for projects in page.portfolios_area.projects %}
            <div class="item grid-sizer col-md-6 col-lg-4 {% for filters in projects.filters %} {{filters}} {% endfor %} ">
              <figure class="overlay overlay1 rounded">
                <a href="{{projects.big_img}}" class="lightbox"> 
                <img src="{{projects.sm_img}}" alt="{{projects.title}}"/></a>
                <figcaption>
                  <h5 class="from-top mb-0">{{projects.title}}</h5>
                </figcaption>
              </figure>
            </div>
            {% endfor %}
          </div>
          <!-- /.row -->
        </div>
        <!-- /.tiles -->
      </div>
      <!-- /.grid -->
      <div class="space20"></div>
      <div class="text-center">
        <a href="{{page.portfolios_area.button_url}}" class="btn btn-l">
         {{page.portfolios_area.button_text}}
        </a>
      </div>
    </div>
    <!-- /.container -->
   </div>
   <!-- /.wrapper -->
   {% endif %}
   {% if page.testimonials.enable %}
    <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.testimonials.bg_image}}">
      <div class="container inner">
        {% if page.testimonials.title %}
         <h2 class="section-title text-center">{{page.testimonials.title}}</h2>
        {% endif %}
        <div class="grid-view">
          <div class="carousel owl-carousel gap-small mb-0" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1140":{"items": "3"}}'>
            {% for feed_back in page.testimonials.feedback %}
            <div class="item">
              <div class="item-inner">
                <div class="box bg-transparent-white shadow">
                  <blockquote>
                    <p>"{{feed_back.quote}}"</p>
                    <div class="blockquote-details">
                      <div class="info p-0">
                        {% if feed_back.name %}
                         <h6 class="mb-0">{{feed_back.name}}</h6>
                        {% endif %}
                        {% if feed_back.designation %}
                         <span class="meta mb-0">{{feed_back.designation}}</span>
                        {% endif %}
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- /.box -->
              </div>
              <!-- /.item-inner -->
            </div>
            <!-- /.item -->
            {% endfor %}
          </div>
          <!-- /.owl-carousel -->
        </div>
        <!-- /.grid-view -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.wrapper -->
    {% endif %}
   
    <div class="wrapper light-wrapper">
      <div class="container inner">
        {% if page.about_area.enable %}
        <div class="about-wrapper"> 
         <div class="row align-items-center">
          {% if page.about_area.image %}
          <div class="col-lg-6 order-lg-2 text-center">
            <div class="img-blob blob3">
              <img src="{{page.about_area.image}}" style="width: 30rem" alt="{{page.about_area.title}}"/>
            </div>
          </div>
          {% endif %}
          <div class="space30 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-6 pr-60 pr-md-15">
            {% if page.about_area.title %}
             <h2 class="section-title mb-20">{{page.about_area.title}}</h2>
            {% endif %}
            {% if page.about_area.title %}
            <p class="lead">{{page.about_area.title}}</p>
            <div class="space10"></div>
            {% endif %}
            {% for text in page.about_area.paragraphs %}
             <p>{{text.text}}</p>
            {% endfor %}
            <div class="space10"></div>
            <a href="{{page.about_area.button_url}}" class="btn">{{page.about_area.button_text}}</a>
          </div>
         </div>
        </div>
        {% endif %}
        {% if page.working_progress.enable %}
        <div class="progress-wrapper"> 
        <div class="space80"></div>
        <div class="row">
          <div class="col-lg-4 pr-60 pr-md-15">
            {% if page.working_progress.title %}
             <h2 class="section-title mb-20">{{page.working_progress.title}}</h2>
            {% endif %}
            {% if page.working_progress.sub_title %}
             <p>{{page.working_progress.sub_title}}</p>
            {% endif %}
          </div>
          <!--/column -->
          <div class="space30 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-8">
            <div class="row gutter-50">
              {% for list in page.working_progress.lists %}
              <div class="col-md-6 py-2">
                <div class="d-flex flex-row justify-content-center">
                  <div>
                    <div class="icon icon-bg bg-yellow color-white mr-25">
                      <span class="number">{{forloop.index}}</span>
                    </div>
                  </div>
                  <div>
                    <h4 class="mb-10">{{list.title}}</h4>
                    <p class="mb-0">{{list.description}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        </div>
        {% endif %}
      </div>
    </div>
    {% if page.contact_area.enable %}
    <div class="contact-area"> 
     <div class="wrapper image-wrapper bg-image" data-image-src="{{page.contact_area.bg_image}}">
      <div class="container inner">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="box bg-transparent-white shadow p-60">
              {% if page.contact_area.title %}
               <h2 class="section-title text-center">{{page.contact_area.title}}</h2>
              {% endif %}
              {% if page.contact_area.sub_title %}
               <p class="lead text-center">{{page.contact_area.sub_title}}</p>
              {% endif %}
              <div class="space30"></div>
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <form id="contact-form" action="https://formsubmit.io/send/{{page.contact_area.action_email}}">
                    <div class="messages"></div>
                    <div class="controls">
                      <div class="form-row">
                        {% for contact_data in page.contact_area.forms_data %}
                        {% if contact_data.field_type == "input" %}
                        <div class="col-md-6">
                          <div class="form-group">
                            <input id="{{contact_data.field_name}}" type="text" name="{{contact_data.field_name}}" class="form-control" placeholder="{{contact_data.placeholder}} *" required="required" data-error="{{contact_data.error_message}}">
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>
                        {% else if contact_data.field_type == "textarea"  %}
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea id="{{contact_data.field_name}}" name="{{contact_data.field_name}}" class="form-control" placeholder="{{contact_data.placeholder}} *" rows="4" required="required" data-error="{{contact_data.error_message}}"></textarea>
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                      <div class="form-row">
                        <div class="col-md-12 text-center">
                          <input type="submit" class="btn btn-send" value="Send message">
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- /form -->
                </div>
                <!-- /column -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /column -->
        </div>
      </div>
     </div>
    </div>
    {% endif %}
    {%  include footer_5.html %}
</div>
