---
layout: default

slider_area:
  enable: true
  sliders:
    - title: "Bringing Ideas to Life Making Life Easier"
      sub_title: "We have considered our solutions to support every stage of your growth."
      image: "/assets/images/art/slider-bg20.jpg"
      button_text: "How It Works"
      video_url: "https://vimeo.com/124071444"

    - title: "Just Sit Back & Relax"
      sub_title: "We make your spending stress-free for you to have the perfect control."
      image: "/assets/images/art/slider-bg19.jpg"
      button_text: "Read More"
      button_url: "#"

services_area:
  enable: true
  services: 
    - title: "24/7 Support"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/hs-24-hours-1.png" 

    - title: "Secure Payments"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/st-payment-method.png" 

    - title: "Daily Updates"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/ms-cloud-computing.png" 

    - title: "Research & Marketing"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/of-diagram.png" 

    - title: "System Integration"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/sm-setting.png"

    - title: "SEO Service"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/de-earth-globe-3.png"

two_columns_area_one:
  enable: true
  title: "How It Works?"
  sub_title: "3 working steps to organize our business projects."
  image: "/assets/images/art/about2.jpg"
  lists:

    - title: "Creative Ideas"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Magic Touch"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Data Analysis"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Finalize Product"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

two_columns_area_two:
  enable: true
  title: "What We Do?"
  sub_title: "We make your spending stress-free for you to have the perfect control."
  image: "/assets/images/art/about3.jpg"
  lists: 

    - title: "Marketing"
      numbers: 100 

    - title: "Ecommerce"
      numbers: 50

    - title: "Educational"
      numbers: 75

    - title: "Design"
      numbers: 80

two_columns_area_three:
  enable: true
  title: "Why Choose Us?"
  sub_title: "A few reasons why our valued customers choose us."
  image: "/assets/images/art/about6.jpg"
  tabs:
    - question: "Money Protection"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes.

    - question: "Strategic Development"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes.

    - question: "Marketing Management"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes.

projects_area:
  enable: true
  title: "Our Projects"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  projects:

    - title: "Clipboard Office"
      sub_title: "Application"
      images:
        - img: "/assets/images/art/s3.jpg"
        - img: "/assets/images/art/s3-2.jpg"
      url: "#"

    - title: "Branding Stationery"
      sub_title: "Video, Application"
      images:
        - img: "/assets/images/art/s4.jpg"
        - img: "/assets/images/art/s4-2.jpg"
      url: "#"

    - title: "Brown Paper Card"
      sub_title: "Branding"
      images:
        - img: "/assets/images/art/s5.jpg"
        - img: "/assets/images/art/s5-2.jpg"
      url: "#"

    - title: "Shopping Paperbag"
      sub_title: "Corporate, Branding"
      images:
        - img: "/assets/images/art/s6.jpg"
        - img: "/assets/images/art/s6-2.jpg"
      url: "#"

about_area:
  enable: true
  title: "About Us"
  sub_title: "The company that believes in the power of creative ideas."
  image: "/assets/images/art/about14.jpg"
  description: |
    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.

  projects:
    - title: "Projects"
      icon: "/assets/images/icons/hs-check.png"
      numbers: 7518

    - title: "Customers"
      icon: "/assets/images/icons/st-handshake.png"
      numbers: 3472

    - title: "Employees"
      icon: "/assets/images/icons/sm-develop.png"
      numbers: 2184

testimonials:
  enable: true
  image: "/assets/images/art/about15.jpg"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: |
    We offer great prices, premium products <br class="d-none d-lg-block" />and quality service for your business.
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      yearly_price: 99
      pricing_url: "#"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      yearly_price: 199
      pricing_url: "#"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Corporate Plan"
      monthly_price: 49
      yearly_price: 499
      pricing_url: "#"
      icon: "/assets/images/icons/ec-online-shop.png"
      features:
        - "<strong>49</strong> Project"
        - "<strong>300K</strong> API Access"
        - "<strong>500MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

contact_area:
  enable: true
  title: "Contact Us"
  image: "/assets/images/art/map.png"
  sub_title: |
   'Convinced yet? Let's make something great together. <br class="d-none d-lg-block">If you got any questions, don't hesitate to get in touch with us.'
  contact_data:
    - icon: "/assets/images/icons/ui-gps.png"
      info: "Moon Street Light Avenue<br> 14/05 Jupiter, JP 80630"

    - icon: "/assets/images/icons/co-telephone.png"
      info: "00 (123) 456 78 90<br/> 00 (987) 654 32 10"

    - icon: "/assets/images/icons/co-email-5.png"
      email_01: "manager@email.com"
      email_02: "asistant@email.com"

---
<div class="content-wrapper">
{% include header.html extra_class="absolute transparent inverse-text" light_logo="true" container_class="container" %}
<div class="wrapper dark-wrapper">
  <div class="rev_slider_wrapper fullwidth-container">
    <div id="slider14" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
        {% for slider in page.slider_area.sliders %}
        {% assign check_number = forloop.index | modulo: 2 %}
        {% if check_number == 1 %}
        <li class="light-gallery-wrapper" data-transition="fade" data-delay="99999999" data-thumb="">
          <img src="{{slider.image}}" alt="{{slider.title}}"/>
          <div class="tp-caption font-weight-600 color-white" 
             data-x="left" 
             data-y="middle" 
             data-hoffset="['550','500','50','30']" 
             data-voffset="['-90','-90','-90','-100']" 
             data-fontsize="['50','50','50','46']" 
             data-lineheight="['62','62','62','58']" 
             data-width="['550','550','550','340']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;">{{slider.title}}
        </div>
         <!-- /.tp-caption -->
          <div class="tp-caption font-weight-400 color-white" 
             data-x="left" 
             data-y="middle"
             data-hoffset="['550','500','50','30']" 
             data-voffset="['0','0','0','30']" 
             data-fontsize="['30','30','30','28']" 
             data-lineheight="['40','40','40','38']" 
             data-width="['500','500','500','340']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;">{{slider.button_text}}  
        </div>
          {% if slider.button_url %}
          <a class="tp-caption btn btn-l btn-white btn-strong-hover scroll" 
             data-x="left" 
             data-y="middle"   
             data-hoffset="['550','500','50','30']" 
             data-voffset="['100','100','100','145']" 
             data-width="['auto','auto','auto','auto']" 
             data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;" href="{{slider.button_url}}"> {{slider.button_text}}
        </a>
        {% else if slider.video_url %}
          <a class="tp-caption btn-play-wrapper color-white lightbox" 
             data-x="left" 
             data-y="middle"
             data-hoffset="['550','500','50','30']" 
             data-voffset="['100','100','100','145']" 
             data-width="['auto','auto','auto','auto']" 
             data-textAlign="['left','left','center','center']" 
             data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;" href="{{slider.video_url}}"><span class="btn-play btn-play-s"></span><span class="h6 pl-10 font-weight-600">{{slider.button_text}}</span>  
        </a>
        {% endif %}
        </li>
        {% else %}
        <li class="light-gallery-wrapper" data-transition="fade" data-delay="99999999" data-thumb="">
          <img src="{{slider.image}}" alt="{{slider.title}}"/>
          <div class="tp-caption font-weight-600 color-white" 
             data-x="left" 
             data-y="middle"  
             data-hoffset="['50','50','50','30']" 
             data-voffset="['-90','-90','-90','-100']" 
             data-fontsize="['50','50','50','46']" 
             data-lineheight="['62','62','62','58']" 
             data-width="['550','550','550','340']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{slider.title}}
        </div>

          <div class="tp-caption font-weight-400 color-white" 
             data-x="left" 
             data-y="middle"   
             data-hoffset="['50','50','50','30']"
             data-voffset="['30','30','30','60']" 
             data-fontsize="['30','30','30','28']" 
             data-lineheight="['40','40','40','38']" 
             data-width="['550','550','550','340']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{slider.sub_title}}
        </div>
          {% if slider.button_url %}
          <a class="tp-caption btn btn-l btn-white btn-strong-hover scroll" 
             data-x="left" 
             data-y="middle"   
             data-hoffset="['50','50','50','30']"
             data-voffset="['140','140','140','175']" 
             data-width="['auto','auto','auto','auto']" 
             data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;" href="{{slider.button_url}}"> {{slider.button_text}}
        </a>
        {% else if slider.video_url %}
          <a class="tp-caption btn-play-wrapper color-white lightbox" 
             data-x="left" 
             data-y="middle"
             data-hoffset="['50','50','50','30']"
             data-voffset="['140','140','140','175']" 
             data-width="['auto','auto','auto','auto']" 
             data-textAlign="['left','left','center','center']" 
             data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;" href="{{slider.video_url}}"><span class="btn-play btn-play-s"></span><span class="h6 pl-10 font-weight-600">{{slider.button_text}}</span>  
         </a>
        {% endif %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% if page.services_area.enable %}
<div class="services-area"> 
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h3 class="title-color color-gray text-center">{{page.services_area.title}}</h3>
          <h2 class="display-3 text-center">{{page.services_area.sub_title}}</h2>
          <div class="space40"></div>
        </div>
      </div>
      <div class="row gutter-50">
        {% for services in page.services_area.services %}
        <div class="col-md-6 col-lg-4">
        {% if forloop.index > 3 %}
         <div class="space30 d-none d-md-block d-lg-none"></div>
        {% endif %}
          <div class="d-flex flex-row justify-content-center">
            {% if services.icon %}
            <div>
              <div class="icon icon-svg mr-25">
                <img src="{{services.icon}}" alt="{{services.title}}"/>
              </div>
            </div>
            {% endif %}
            <div>
              <h5>{{services.title}}</h5>
              <p>{{services.sub_title}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  </div>
  {% endif %}
  {% if page.two_columns_area_one.enable %}
  <div class="two-columns-wrapper"> 
  <div class="wrapper gray-wrapper">
    <div class="image-block-wrapper">
      {% if page.two_columns_area_one.image %}
      <div class="image-block col-lg-6 p-0">
        <div class="image-block-bg bg-image" data-image-src="{{page.two_columns_area_one.image}}"></div>
      </div>
      {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-6">
            <div class="box d-flex pr-25 pr-md-15 pl-md-15">
              <div class="align-self-center">
                  <h2 class="title-color color-gray">{{page.two_columns_area_one.title}}</h2>
                  <h3 class="display-3">{{page.two_columns_area_one.sub_title}}</h3>
                {% for lists in page.two_columns_area_one.lists %}
                <div class="space30"></div>
                <div class="d-flex flex-row justify-content-center">
                  <div>
                    <div class="icon icon-bg icon-bg-default color-default mr-25">
                      <span class="number">{{forloop.index}}</span>
                    </div>
                  </div>
                  <div>
                    <h5 class="mb-10">{{lists.title}}</h5>
                    <p>{{lists.description}}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/.container-fluid -->
    </div>
    <!--/.image-block-wrapper -->
  </div>
  <!-- /.wrapper -->
  </div>
  {% endif %}
  {% if page.two_columns_area_two.enable %}
  <div class="two-columns-wrapper">
  <div class="wrapper gray-wrapper">
    <div class="image-block-wrapper">
      {% if page.two_columns_area_two.image %}
      <div class="image-block col-lg-6 offset-lg-6 p-0">
        <div class="image-block-bg bg-image" data-image-src="{{page.two_columns_area_two.image}}"></div>
      </div>
      {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="box d-flex pl-25 pr-md-15 pl-md-15">
              <div class="align-self-center">
                <h2 class="title-color color-gray">{{page.two_columns_area_two.title}}</h2>
                <h3 class="display-3">{{page.two_columns_area_two.sub_title}}</h3>
                <div class="space30"></div>
                <ul class="progress-list">
                  {% for list in page.two_columns_area_two.lists %}
                  <li>
                    <p>{{list.title}}</p>
                    <div class="progressbar line default" data-value="{{list.numbers}}"></div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/.container-fluid -->
    </div>
    <!--/.image-block-wrapper -->
  </div>
  <!-- /.wrapper -->
</div>
{% endif %}
{% if page.two_columns_area_three.enable %}
<div class="two-columns-wrapper">
  <div class="wrapper gray-wrapper">
    <div class="image-block-wrapper">
      {% if page.two_columns_area_three.image %}
      <div class="image-block col-lg-6 p-0">
        <div class="image-block-bg bg-image" data-image-src="{{page.two_columns_area_three.image}}"></div>
      </div>
      {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-6">
            <div class="box d-flex pr-25 pr-md-15 pl-md-15">
              <div class="align-self-center">
                <h2 class="title-color color-gray">{{page.two_columns_area_three.title}}</h2>
                <h3 class="display-3">{{page.two_columns_area_three.sub_title}}</h3>
                <div class="space30"></div>
                <div id="accordion-1" class="accordion-wrapper simple">
                  {% for tabs in page.two_columns_area_three.tabs %}
                  <div class="card">
                    <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
                      <h5>
                        <button data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="true" aria-controls="accordion-collapse-1-{{forloop.index}}">{{tabs.question}}</button>
                      </h5>
                    </div>
                    <!-- /.card-header -->
                    <div id="accordion-collapse-1-{{forloop.index}}" class="collapse {% if forloop.index == 1 %} show {% endif %}" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-parent="#accordion-1">
                      <div class="card-body">
                        <p>{{tabs.answer}}</p>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.collapse -->
                  </div>
                  {% endfor %}
                </div>
                <!-- /.accordion-wrapper -->
              </div>
              <!-- /div -->
            </div>
            <!-- /.box -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/.container -->
    </div>
    <!--/.image-block-wrapper -->
  </div>
  <!-- /.wrapper -->
 </div>
 {% endif %}
 {% if page.projects_area.enable %}
  <div class="projects-area">
    <div class="wrapper light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="title-color color-gray text-center">{{page.projects_area.title}}</h2>
          <h3 class="display-3 text-center">{{page.projects_area.sub_title}}</h3>
          <div class="space40"></div>
        </div>
      </div>
      <div class="grid grid-view light-gallery-wrapper">
        <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
         {% for project in page.projects_area.projects %}
          <div class="item item-detailed">
            <figure class="rounded mb-30">
              <div class="item-detailed-image">
                {% for image in project.images %}
                 <img src="{{image.img}}" alt="{{project.title}}"/>
                {% endfor %}
              </div>
                <a href="{{project.images[0].img}}" class="hover-icon-first lightbox" data-tip="{{project.title}}">
                  <i class="jam jam-qr-code"></i>
                </a>
                {% if project.url %}
                  <a href="{{project.url}}" class="hover-icon-second" data-tip="See details">
                    <i class="jam jam-link"></i>
                  </a>
                {% endif %}
            </figure>
            <div class="item-content">
              {% if project.title %}
               <h2 class="post-title mb-10"><a href="{{project.url}}">{{project.title}}</a></h2>
              {% endif %}
              {% if project.sub_title %}
               <div class="meta mb-0">{{project.sub_title}}</div>
              {% endif %}
            </div>
            <!-- /.item-content -->
          </div>
          {% endfor %}
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /.grid-view -->
    </div>
    <!-- /.container -->
  </div>
  </div>
  {% endif %}
  {% if page.about_area.enable %}
  <div class="about-area">
    <div class="wrapper gray-wrapper">
    <div class="image-block-wrapper">
      {% if page.about_area.image %}
      <div class="image-block col-lg-6 p-0">
        <div class="image-block-bg bg-image" data-image-src="{{page.about_area.image}}"></div>
      </div>
      {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-6">
            <div class="box d-flex pr-25 pr-md-15 pl-md-15">
              <div class="align-self-center">
                <h2 class="title-color color-gray">{{page.about_area.title}}</h2>
                <h3 class="display-3">{{page.about_area.sub_title}}</h3>
                <div class="space20"></div>
                <p>{{page.about_area.description}}</p>
                <div class="space30"></div>
                <div class="row counter counter-s">
                  {% for projects in page.about_area.projects %}
                  <div class="col-md-4">
                    {% if projects.icon %}
                    <div class="icon icon-svg mb-20">
                      <img src="{{projects.icon}}" alt="{{projects.title}}"/>
                    </div>
                    {% endif %}
                    <h3 class="value">{{projects.numbers}}</h3>
                    <p>{{projects.title}}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/.container-fluid -->
    </div>
    <!--/.image-block-wrapper -->
  </div>
  <!-- /.wrapper -->
  </div>
  {% endif %}
  {% if page.testimonials.enable %}
  <div class="testimonials-area"> 
  <div class="wrapper gray-wrapper">
    <div class="image-block-wrapper">
      {% if page.testimonials.image %}
      <div class="image-block col-lg-6 offset-lg-6 p-0">
        <div class="image-block-bg bg-image" data-image-src="{{page.testimonials.image}}"></div>
      </div>
      {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="box d-flex pl-25 pr-md-15 pl-md-15">
              <div class="basic-slider owl-carousel gap-small text-center" data-margin="30">
                {% for quote in page.testimonials.feedback %}
                <div class="item">
                  <blockquote class="icon larger">
                    <p>"{{quote.quote}}"</p>
                    <div class="blockquote-details justify-content-center">
                      {% if quote.image %}
                      <div class="img-blob blob1">
                        <img src="{{quote.image}}" alt="{{quote.title}}"/>
                      </div>
                      {% endif %}
                      <div class="info">
                        <h6 class="mb-0">{{quote.name}}</h6>
                        <span class="meta mb-0">{{quote.designation}}</span>
                      </div>
                    </div>
                  </blockquote>
                </div>
                {% endfor %}
              </div>
              <!-- /.owl-carousel -->
            </div>
            <!-- /.box -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/.container-fluid -->
    </div>
    <!--/.image-block-wrapper -->
  </div>
  <!-- /.wrapper -->
  </div>
  {% endif %}
  {% assign pricing_data = page.pricing_table %}
  {% if pricing_data.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h2 class="title-color color-gray text-center">{{pricing_data.title}}</h2>
      <h3 class="display-3 text-center">{{pricing_data.sub_title}}</h3>
      <div class="space40"></div>
      <div class="pricing-wrapper">
        <div class="pricing-switcher-wrapper switcher">
          <div class="pricing-switchers">
            <div class="pricing-switcher pricing-switcher-active">Monthly</div>
            <div class="pricing-switcher">Yearly</div>
            <div class="switcher-button bg-default"></div>
          </div>
        </div>
        <div class="space60"></div>
        <div class="row no-gutters">
          {% for pricing in pricing_data.plans %}
          <div class="col-md-4">
            <div class="pricing panel box bg-white shadow">
              <div class="panel-heading">
                <div class="icon icon-svg mb-10"><img src="{{pricing.icon}}" alt="{{pricing.title}}"></div>
                <h4 class="panel-title mb-35">{{pricing.title}}</h4>
                <div class="prices color-dark">
                  <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                  <div class="price price-hide price-hidden"><span class="price-currency">$</span><span class="price-value">{{pricing.yearly_price}}</span> <span class="price-duration">year</span></div>
                </div>
              </div>
              <!--/.panel-heading -->
              <div class="panel-body">
                <table class="table">
                  {% for features in pricing.features %}
                    <tr>
                       <td>{{features}}</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
              <!--/.panel-body -->
              <div class="panel-footer"> 
                <a href="{{pricing.pricing_url}}" class="btn" role="button">Choose Plan</a>
              </div>
            </div>
            <!--/.pricing -->
          </div>
         {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/.pricing-wrapper -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
  {% if page.contact_area.enable %}
  <div class="wrapper image-wrapper bg-auto no-overlay bg-image text-center" data-image-src="{{page.contact_area.image}}">
    <div class="container inner">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <h2 class="title-color color-gray text-center">{{page.contact_area.title}}</h2>
          <h3 class="display-3">{{page.contact_area.sub_title}}</h3>
          <div class="space50"></div>
          <div class="row text-center gutter-60">
            {% for contact_data in page.contact_area.contact_data %}
            <div class="col-md-4">
             {% if contact_data.icon %}
              <div class="icon icon-svg mb-20">
                <img src="{{contact_data.icon}}" alt="{{contact_data.icon}}"/>
              </div>
              {% endif %}
              {% if contact_data.info %}
               <p class="mb-0">{{contact_data.info}}</p>
              {% endif %}
              {% if contact_data.email_01 %}
              <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_01}}">{{contact_data.email_01}}</a></p>
              {% endif %}              
              {% if contact_data.email_02 %}
              <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_02}}">{{contact_data.email_02}}</a></p>
              {% endif %}
            </div>
            {% endfor %}
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
  {% include footer_2.html light_logo="true" %}
</div>
