---
layout: default
pagination: 
  enabled: true
permalink: "/index-8/"
slider_area:
  enable: true
  button_text: "See Projects"
  button_url: "#"
  sliders:

    - img: "/assets/images/art/slider-bg4.jpg"
      title: "We are a digital & branding company"
      sub_title: "We love to turn great ideas into beautiful products"
      button_text: "Get Started"
      button_url: "#"

    - img: "/assets/images/art/slider-bg5.jpg"
      title: "Your needs are important"
      sub_title: "Great design comes with understanding customers"
      button_text: "See Projects"
      button_url: "#"

---

{% include header.html extra_class="absolute transparent inverse-text navbar-hover-opacity" light_logo="true" %}

<div class="wrapper dark-wrapper">
  <div class="rev_slider_wrapper fullwidth-container">
    <div id="slider2" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
      	{% for slider in page.slider_area.sliders %}
        <li data-transition="fade" data-thumb="">
          <img src="{{slider.img}}" alt="{{slider.title}}"/>
          <div class="tp-caption font-weight-500 color-white text-center" 
               data-x="center" 
               data-y="middle" 
               data-voffset="['-75','-75','-65','-95']" 
               data-fontsize="['50','50','35','30']" 
               data-lineheight="['65','65','50','45']" 
               data-width="['1000','1000','600','340']" 
               data-textAlign="['center','center','center','center']" 
               data-whitespace="['normal','normal','normal','normal']" 
               data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;"> {{slider.title}} 
          </div>
		  <!-- /.tp-caption -->
          <div class="tp-caption font-weight-400 color-white text-center" 
               data-x="center" 
               data-y="middle" 
               data-voffset="['0','0','0','0']" 
               data-fontsize="['26','26','26','20']" 
               data-lineheight="['36','36','36','30']" 
               data-width="['1000','1000','600','340']" 
               data-textAlign="['center','center','center','center']" 
               data-whitespace="['normal','normal','normal','normal']" 
               data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;"> {{slider.sub_title}}
          </div>
          {% if page.slider_area.button_text %}
		      <!-- /.tp-caption -->
          <a class="tp-caption btn btn-rose btn-strong-hover scroll" 
               data-x="center" 
               data-y="middle" 
               data-voffset="['85','85','100','90']" 
               data-width="['auto','auto','auto','auto']" 
               data-textAlign="['center','center','center','center']" 
               data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-responsive="on" data-responsive_offset="on" style="z-index: 9;" href="{{page.slider_area.button_url}}"> {{page.slider_area.button_text}} 
          </a>
		     <!-- /.tp-caption -->
         {% endif %}
        </li>
        {% endfor %}
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
    <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
        <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" /></svg></div>
  </div>
</div>

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="blog classic-view boxed">
          {% for post in paginator.posts %}
          {% assign post_format = post.post_format %}
          {% case post_format %}
          {% when "general" %}
            {% include standard_post.html %}
          {% when "gallery" %}
            {% include gallery_post.html %}
          {% when "carousel" %}
            {% include carousel_post.html %}
          {% when "video" %}
            {% include video_post.html %}
          {% else %}
          {% include standard_post.html %}
          {% endcase %}
          {% endfor %}
        </div>
        <!-- /.blog -->
        {% include pagination.html %}
      </div>
      <!-- /column --> 
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% include footer_2.html light_logo="true" %}