---
layout: ztna-default

timeline:
  enable: true
  title: "Technology Timeline"
  bg_image: "/assets/images/art/bg7.jpg"

---

<div class="content-wrapper">

 {% include landing/header.html %}

 {% include landing/no-bullshit-section.html %}

 {% include landing/ztna-section.html %}
 {% include landing/nist-section.html %}
 {% include landing/sase-section.html %}
 {% include landing/architecture-summary-section.html %}
 {% include landing/testimonials.html %}
 {% include landing/blog-section.html %}

  

  {% if page.timeline.enable  %}
  <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.timeline.bg_image}}">
    
    <div class="container">
      <div class="space60"></div>
      <h2 class="title-color color-white text-center">{{page.timeline.title}}</h2>
    </div>
    
    <!--
    <div class="space60"></div>
    <div class="container inner">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="row text-center">


          </div>
        </div>
      </div>
    </div>
    -->
    
    <!-- thanks https://squarechip.github.io/timeline/ -->

    <div class="container">
      <div class="timeline">
        <div class="timeline__wrap">
          <div class="timeline__items">
            <div class="timeline__item">
              <div class="timeline__content">
                <h2>2018</h2>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 2
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 3
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 4
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 5
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 6
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 7
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 7
              </div>
            </div>
            <div class="timeline__item">
              <div class="timeline__content">
                Your content / markup 8
              </div>
            </div>
          </div>
        </div>
        <div class="space60"></div>
      </div>
  
      <script>
        window.addEventListener('load', function() {
          timeline(document.querySelectorAll('.timeline'), {
            mode: 'horizontal',
            visibleItems: 6
          });
        });
      </script>
    </div>
  </div>
  {% endif %}

  <div id="vendors" class="wrapper white-wrapper">
    <div class="container inner pt-0">
      
      {% for architecture in site.data.architecture %}
      {% assign arch = architecture[1] %}
        {% if arch.vendors %}
          <div>
            <div class="space140" id="{{arch.name | replace: ' ', '-' | downcase }}"></div>
            <h3 class="display-3">{{arch.name}} {% if arch.abbreviation != "" %}({{arch.abbreviation}}){% endif %}</h3>
            <div class="space10"></div>
            <div class="row">
              <div class="col-md-8">
                {% for paragraph in arch.paragraphs %}
                  <p>{{paragraph.text}}</p>
                {% endfor %}
              </div>
              <div class=col-md-4"></div>
            </div>
            <div class="space30"></div>
          </div>
          <div class="row">
            <div class="col-md-4">
              {% if arch.strengths %}
                <h4>Strengths</h4>
                <ul class="icon-list bullet-green">
                  {% for strength in arch.strengths %}
                    <li><i class="jam jam-check"></i> {{strength.title}}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="col-md-4">
              <h4>Weaknesses</h4>
              <ul class="icon-list bullet-red">
                {% for weakness in arch.weaknesses %}
                  <li><i class="jam jam-minus-circle"></i> {{weakness.title}}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-md-4">
              <h4>Trade-offs</h4>
              <ul class="icon-list bullet-blue">
                {% for tradeoff in arch.tradeoffs %}
                  <li><i class="jam jam-star"></i> {{tradeoff.title}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>

            <!-- <div class="space60"></div>
            <div class="text-center">
              <h2 class="title-bg bg-default color-grey">{{arch.name}} Vendors</h2>
            </div>
            <div class="container-fluid">
              <table class="table table-sm">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Company</th>
                    <th scope="col">Product</th>
                    <th scope="col">License</th>
                    <th scope="col">Deployment</th>
                    <th scope="col">Pricing</th>
                  </tr>
                </thead>
                <tbody>
                  {% assign vendors = arch.vendors | sort: 'company' %}
                  {% for vendor in vendors %}
                  <tr>
                    <td scope="row">{{ forloop.index }}.</td>
                    <td><a href="{{vendor.url}}" target="_blank" rel="noopener noreferrer" class="color-blue">{{vendor.company}}</a></td>
                    <td>{{vendor.product}}</td>
                    <td>{{vendor.license}}</td>
                    <td>{{vendor.deployment}}</td>
                    <td>{{vendor.pricing}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        {% endif %}
      {% endfor %}

    </div>
  </div> -->

  



</div>
