<div class="container-fluid mb-100 ztna-mb-md-100-70 blog-wrapper px-0 mx-auto">
  {% assign posts = site.posts | where: "categories", include.category[0]%} {%
  if posts.size == 1 %}
  <div class="ml-lg-40 mr-lg-40 mr-md-25-5 ml-md-25-5">
    <h2 class="ztna-margin-bottom-50-40 dark-text pl-15">Recent articles</h2>
    <div class="d-flex">
      {% assign count = 0 %} {% for post in site.posts %} {% if post.url
      !=page.url %} {% assign count = count | plus:1 %}
      <div class="ztna-post-responsive col-lg-4 col-md-6 col-sm-6 mb-0">
        {% include components/post-preview.html %}
      </div>
    </div>
  </div>
  {% if count == 3 %}{% break %} {% endif %} {% endif %} {% endfor %} {% else %}
  <div class="ml-lg-40 mr-lg-40 mr-md-25-5 ml-md-25-5">
    <h2 class="ztna-margin-bottom-50-40 dark-text pl-15">Related articles</h2>
    <div class="d-flex">
      {% assign count = 0 %} {%for post in posts %} {% if post.url !=page.url %}
      {% assign count = count | plus:1 %}
      <div class="ztna-post-responsive col-lg-4 col-md-6 col-sm-6 mb-0">
        {% include components/post-preview.html %}
      </div>

      {% if count == 3 %}{% break %} {% endif %} {% endif %} {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
