<div class="desktop-nist-illustration">
  <div class="row">
    {% for tenet in nist.tenets %} {% assign mod = forloop.index | modulo: 2 %}
    {% if mod != 0 %}
    <div class="col-3 text-center">
      <h4 class="{{tenet.color}}">{{tenet.title}}</h4>
      <div class="space10"></div>
      <p class="ztna-small-text" class="{{tenet.color}}">
        {{tenet.description}}
      </p>
      <div class="space20"></div>
    </div>
    {% endif %} {% endfor %}
  </div>
  <div class="row justify-content-start">
    <img
      srcset="
        {{site.data.landing.nist-sp-800-207.desktop_illustration}}    1x,
        {{site.data.landing.nist-sp-800-207.desktop_illustration_2x}} 2x
      "
      class="tenet-illustration-desktop"
      alt="{{site.data.landing.nist-sp-800-207.title}}"
    />
  </div>
  <div class="row d-flex justify-content-center">
    {% for tenet in nist.tenets %} {% assign mod = forloop.index | modulo: 2 %}
    {% if mod == 0 %}
    <div class="col-3 text-center">
      <div class="space20"></div>
      <h4 class="{{tenet.color}}">{{tenet.title}}</h4>
      <div class="space10"></div>
      <p class="ztna-small-text" class="{{tenet.color}}">
        {{tenet.description}}
      </p>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
